# Mass Transports

Transport diagnostics for flow through major straits.

## Theory

Formally, mass transports are given by
$$T_x = \rho u  $$
$$T_y = \rho v  $$

Mass transports are diagnostics that are calculated online by the model:

|variable|long name|units|dimensions|
|-|
|tx_trans|T-cell i-mass transport|Sv|(time,st_ocean,xu_ocean,yt_ocean)|
|ty_trans|T-cell j-mass transport|Sv|(time,st_ocean,xt_ocean,yu_ocean)|


These variables are saved in `ocean.nc` files.

## Calculation

In [7]:
%matplotlib inline
import cosima_cookbook as cc
import matplotlib.pyplot as plt
import matplotlib
from mpl_toolkits.basemap import Basemap, shiftgrid
import numpy as np
import netCDF4 as nc
import xarray as xr
import cmocean as cm
import cartopy
import cartopy.crs as ccrs
import cartopy.feature as cft
from cartopy.mpl.ticker import LongitudeFormatter, LatitudeFormatter
import pandas as pd
import copy
import math
from collections import OrderedDict
import IPython.display
from dask.distributed import Client
import cartopy.crs as ccrs
def arange(start,end,stride=1):
    return np.arange(start,end+0.00000001,stride)

import sys, os
sys.path.append(os.path.join(os.getcwd(), '..'))  # so we can import ../exptdata
import exptdata
print('Available exptdata keys: ', [k for k in exptdata.exptdict.keys()])

Available exptdata keys:  ['1deg', '025deg', '01deg']

In [8]:
#cc.start_cluster()
client = Client()
client

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-18.10/lib/python3.6/site-packages/distributed/bokeh/core.py:57: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn('\n' + msg)

In [9]:
%%javascript
IPython.notebook.kernel.execute('nb_name = ' + '"' + IPython.notebook.notebook_name + '"')

In [10]:
# use common start and end dates for all runs
tstart = exptdata.clim_tstart
tend = exptdata.clim_tend

lonW = 90.0
lonE = 180.0
latS = -70.0
latN = 20.0

firstyear = pd.to_datetime(tstart).year  # assumes tstart is 1 January!
lastyear = pd.to_datetime(tend).year-1  # assumes tend is 1 January!
yearrange = str(firstyear)+'-'+str(lastyear)
print(yearrange)
print('tstart = ', tstart)
print('tend = ', tend)

output_dir = '/home/561/erd561/figures/Australia/'
fig_name = nb_name[:-6]
fig_dir = output_dir + fig_name

output_ls = os.listdir(output_dir)
if fig_name not in output_ls:
    os.mkdir(fig_dir)

1993-2017
tstart =  1993-01-01 00:00:00
tend =  2018-01-01 00:00:00

In [11]:
input_path_obs = '/g/data/e14/erd561/NOAA_OI_SST_V2/'

input_path_mod = '/g/data/e14/erd561/access-om2/'

In [9]:
sst_obs = xr.open_dataset(input_path_obs + 'sst.nc').sst
print(sst_obs)
sst_slopes_obs = xr.open_dataset(input_path_obs + 'sst_slopes.nc').sst_slopes
print(sst_slopes_obs)

sst_1_obs = xr.open_dataset(input_path_obs + 'sst_1.nc').sst_1
print(sst_1_obs)
sst_1_slopes_obs = xr.open_dataset(input_path_obs + 'sst_1_slopes.nc').sst_1_slopes
print(sst_1_slopes_obs)

sst_025_obs = xr.open_dataset(input_path_obs + 'sst_025.nc').sst_025
print(sst_025_obs)
sst_025_slopes_obs = xr.open_dataset(input_path_obs + 'sst_025_slopes.nc').sst_025_slopes
print(sst_025_slopes_obs)

sst_01_obs = xr.open_dataset(input_path_obs + 'sst_01.nc').sst_01
print(sst_01_obs)
sst_01_slopes_obs = xr.open_dataset(input_path_obs + 'sst_01_slopes.nc').sst_01_slopes
print(sst_01_slopes_obs)

sst_1_mod = xr.open_dataset(input_path_mod + 'sst_1.nc').sst_1-273.15
print(sst_1_mod)
sst_1_slopes_mod = xr.open_dataset(input_path_mod + 'sst_1_slopes.nc').sst_1_slopes
print(sst_1_slopes_mod)

sst_025_mod = xr.open_dataset(input_path_mod + 'sst_025.nc').sst_025-273.15
print(sst_025_mod)
sst_025_slopes_mod = xr.open_dataset(input_path_mod + 'sst_025_slopes.nc').sst_025_slopes
print(sst_025_slopes_mod)

sst_01_mod = xr.open_dataset(input_path_mod + 'sst_01.nc').sst_01-273.15
print(sst_01_mod)
sst_01_slopes_mod = xr.open_dataset(input_path_mod + 'sst_01_slopes.nc').sst_01_slopes
print(sst_01_slopes_mod)

<xarray.DataArray 'sst' (lat: 94, lon: 94, year: 25)>
[220900 values with dtype=float32]
Coordinates:
  * lat      (lat) float32 -71.5 -70.5 -69.5 -68.5 -67.5 ... 18.5 19.5 20.5 21.5
  * lon      (lon) float32 -271.5 -270.5 -269.5 -268.5 ... -180.5 -179.5 -178.5
  * year     (year) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_slopes' (lat: 94, lon: 94)>
array([[      nan,       nan,       nan, ..., -0.002417, -0.003224, -0.003263],
       [      nan,       nan,       nan, ..., -0.004445, -0.005615, -0.005914],
       [      nan,       nan,       nan, ..., -0.005962, -0.007229, -0.007749],
       ...,
       [ 0.008761,  0.010363,  0.011421, ...,  0.022318,  0.020954,  0.02089 ],
       [ 0.004672,  0.006404,  0.00687 , ...,  0.020776,  0.019219,  0.0194  ],
       [-0.000127,  0.000919, -0.00071 , ...,  0.019156,  0.017395,  0.017758]])
Coordinates:
  * lat      (lat) float32 -71.5 -70.5 -69.5 -68.5 -67.5 ... 18.5 19.5 20.5 21.5
  * lon      (lon) float32 -271.5 -270.5 -269.5 -268.5 ... -180.5 -179.5 -178.5
<xarray.DataArray 'sst_1' (lat_1: 160, lon_1: 90, year: 25)>
[360000 values with dtype=float64]
Coordinates:
  * lat_1    (lat_1) float64 -69.63 -69.18 -68.71 -68.23 ... 17.85 18.59 19.36
  * lon_1    (lon_1) float64 -269.5 -268.5 -267.5 ... -182.5 -181.5 -180.5
  * year     (year) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_1_slopes' (lat_1: 160, lon_1: 90)>
array([[      nan,       nan,       nan, ..., -0.005312, -0.005383, -0.005765],
       [      nan,       nan,       nan, ..., -0.00577 , -0.005842, -0.006209],
       [      nan,       nan,       nan, ..., -0.00618 , -0.006242, -0.006566],
       ...,
       [ 0.009875,  0.010335,  0.013667, ...,  0.020503,  0.021108,  0.021442],
       [ 0.01099 ,  0.012391,  0.016612, ...,  0.020902,  0.021787,  0.022255],
       [ 0.011353,  0.013629,  0.019101, ...,  0.020696,  0.021769,  0.022308]])
Coordinates:
  * lat_1    (lat_1) float64 -69.63 -69.18 -68.71 -68.23 ... 17.85 18.59 19.36
  * lon_1    (lon_1) float64 -269.5 -268.5 -267.5 ... -182.5 -181.5 -180.5
<xarray.DataArray 'sst_025' (lat_025: 475, lon_025: 360, year: 25)>
[4275000 values with dtype=float64]
Coordinates:
  * lat_025  (lat_025) float64 -69.99 -69.88 -69.78 -69.67 ... 19.49 19.72 19.96
  * lon_025  (lon_025) float64 -269.9 -269.6 -269.4 ... -180.6 -180.4 -180.1
  * year     (year) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_025_slopes' (lat_025: 475, lon_025: 360)>
[171000 values with dtype=float64]
Coordinates:
  * lat_025  (lat_025) float64 -69.99 -69.88 -69.78 -69.67 ... 19.49 19.72 19.96
  * lon_025  (lon_025) float64 -269.9 -269.6 -269.4 ... -180.6 -180.4 -180.1
<xarray.DataArray 'sst_01' (lat_01: 1186, lon_01: 900, year: 25)>
[26685000 values with dtype=float64]
Coordinates:
  * lat_01   (lat_01) float64 -70.0 -69.96 -69.92 -69.87 ... 19.75 19.84 19.94
  * lon_01   (lon_01) float64 -269.9 -269.8 -269.7 ... -180.2 -180.1 -180.0
  * year     (year) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_01_slopes' (lat_01: 1186, lon_01: 900)>
[1067400 values with dtype=float64]
Coordinates:
  * lat_01   (lat_01) float64 -70.0 -69.96 -69.92 -69.87 ... 19.75 19.84 19.94
  * lon_01   (lon_01) float64 -269.9 -269.8 -269.7 ... -180.2 -180.1 -180.0
<xarray.DataArray 'sst_1' (yt_ocean: 160, xt_ocean: 90, time: 25)>
array([[[      nan,       nan, ...,       nan,       nan],
        [      nan,       nan, ...,       nan,       nan],
        ...,
        [-1.53949 , -1.744232, ..., -1.69516 , -1.538727],
        [-1.53183 , -1.743958, ..., -1.715515, -1.525177]],

       [[      nan,       nan, ...,       nan,       nan],
        [      nan,       nan, ...,       nan,       nan],
        ...,
        [-1.470428, -1.718964, ..., -1.691589, -1.539093],
        [-1.467316, -1.718597, ..., -1.714447, -1.530243]],

       ...,

       [[27.668518, 27.628906, ..., 28.150269, 28.14505 ],
        [27.584412, 27.573608, ..., 28.131927, 28.117157],
        ...,
        [26.014893, 26.634674, ..., 26.683441, 27.275757],
        [25.98236 , 26.60141 , ..., 26.637238, 27.18985 ]],

       [[27.499268, 27.45581 , ..., 28.060791, 28.022614],
        [27.421143, 27.400879, ..., 28.008911, 28.007355],
        ...,
        [25.886993, 26.408478, ..., 26.567902, 27.192932],
        [25.843323, 26.384613, ..., 26.521545, 27.119354]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.63 -69.18 -68.71 ... 17.85 18.59 19.36
  * xt_ocean  (xt_ocean) float64 -269.5 -268.5 -267.5 ... -182.5 -181.5 -180.5
  * time      (time) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_1_slopes' (yt_ocean: 160, xt_ocean: 90)>
array([[      nan,       nan,       nan, ..., -0.003557, -0.003588, -0.003448],
       [      nan,       nan,       nan, ..., -0.005251, -0.005364, -0.00515 ],
       [      nan,       nan,       nan, ..., -0.006858, -0.006859, -0.006632],
       ...,
       [ 0.012174,  0.013383,  0.014883, ...,  0.01764 ,  0.016866,  0.016025],
       [ 0.012876,  0.014295,  0.015553, ...,  0.018641,  0.017867,  0.01696 ],
       [ 0.014849,  0.01602 ,  0.016163, ...,  0.020411,  0.019726,  0.018838]])
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.63 -69.18 -68.71 ... 17.85 18.59 19.36
  * xt_ocean  (xt_ocean) float64 -269.5 -268.5 -267.5 ... -182.5 -181.5 -180.5
<xarray.DataArray 'sst_025' (yt_ocean: 475, xt_ocean: 360, time: 25)>
array([[[      nan,       nan, ...,       nan,       nan],
        [      nan,       nan, ...,       nan,       nan],
        ...,
        [-1.586609, -1.728546, ..., -1.752106, -1.585724],
        [-1.580933, -1.728577, ..., -1.755524, -1.582336]],

       [[      nan,       nan, ...,       nan,       nan],
        [      nan,       nan, ...,       nan,       nan],
        ...,
        [-1.569855, -1.720886, ..., -1.752319, -1.588409],
        [-1.562012, -1.718353, ..., -1.756805, -1.585876]],

       ...,

       [[27.49881 , 27.444275, ..., 28.089996, 27.9953  ],
        [27.45404 , 27.402985, ..., 28.038452, 27.952606],
        ...,
        [25.878174, 26.307861, ..., 26.473877, 26.998566],
        [25.867432, 26.307678, ..., 26.470154, 26.973541]],

       [[27.457855, 27.327484, ..., 28.026733, 27.937378],
        [27.412506, 27.272522, ..., 27.968384, 27.856567],
        ...,
        [25.841736, 26.228638, ..., 26.431152, 26.970825],
        [25.829803, 26.226654, ..., 26.421478, 26.938599]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.99 -69.88 -69.78 ... 19.49 19.72 19.96
  * xt_ocean  (xt_ocean) float64 -269.9 -269.6 -269.4 ... -180.6 -180.4 -180.1
  * time      (time) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_025_slopes' (yt_ocean: 475, xt_ocean: 360)>
[171000 values with dtype=float64]
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.99 -69.88 -69.78 ... 19.49 19.72 19.96
  * xt_ocean  (xt_ocean) float64 -269.9 -269.6 -269.4 ... -180.6 -180.4 -180.1
<xarray.DataArray 'sst_01' (yt_ocean: 1186, xt_ocean: 900, year: 25)>
array([[[      nan,       nan, ...,       nan,       nan],
        [      nan,       nan, ...,       nan,       nan],
        ...,
        [-1.423584, -1.717957, ..., -1.61438 , -1.391235],
        [-1.424072, -1.719635, ..., -1.619324, -1.392426]],

       [[      nan,       nan, ...,       nan,       nan],
        [      nan,       nan, ...,       nan,       nan],
        ...,
        [-1.41803 , -1.718201, ..., -1.61377 , -1.39386 ],
        [-1.42099 , -1.719604, ..., -1.622101, -1.394958]],

       ...,

       [[27.452362, 27.272797, ..., 28.128174, 28.044678],
        [27.375488, 27.22873 , ..., 28.10904 , 28.045929],
        ...,
        [25.753845, 26.400757, ..., 26.456268, 27.042603],
        [25.753143, 26.396942, ..., 26.460571, 27.04358 ]],

       [[27.309265, 27.115356, ..., 28.07959 , 28.03067 ],
        [27.26059 , 27.085693, ..., 28.041687, 28.026794],
        ...,
        [25.738647, 26.369843, ..., 26.43274 , 27.038208],
        [25.735931, 26.363068, ..., 26.43509 , 27.040527]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -70.0 -69.96 -69.92 ... 19.75 19.84 19.94
  * xt_ocean  (xt_ocean) float64 -269.9 -269.8 -269.7 ... -180.2 -180.1 -180.0
  * year      (year) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_01_slopes' (yt_ocean: 1186, xt_ocean: 900)>
[1067400 values with dtype=float64]
Coordinates:
  * yt_ocean  (yt_ocean) float64 -70.0 -69.96 -69.92 ... 19.75 19.84 19.94
  * xt_ocean  (xt_ocean) float64 -269.9 -269.8 -269.7 ... -180.2 -180.1 -180.0

In [12]:
straits_01deg = OrderedDict([ # use OrderedDict so panels are produced in a reproducible order
            ('Lombok Strait', [-244.3, -243.8, -8.37, -8.37]),
            ('Ombai Strait',  [-234.9, -234.9, -8.86, -8.27]),
            ('Timor Strait',  [-232.6, -232.6, -13.96, -8.37])
            ])
straits_025deg = OrderedDict([ # use OrderedDict so panels are produced in a reproducible order
            ('Lombok Strait', [-244.5, -243.5, -8.22, -8.22]),
            ('Ombai Strait',  [-235.5, -235.5, -9.21, -8.47]),
            ('Timor Strait',  [-233, -233, -13.86, -8.71])
            ])
straits_1deg = OrderedDict([ # use OrderedDict so panels are produced in a reproducible order
            ('Lombok Strait', [-245, -242, -8.33, -8.33]),
            ('Ombai Strait',  [-237, -237, -10.33, -8.33]),
            ('Timor Strait',  [-233, -233, -13.9, -9])
            ])


lonW_LC = 110
lonE_LC = 119
latS_LC = -34
latN_LC = -20

latN_157E = -20

lonW_EAC = 147
lonE_EAC = 157
latS_EAC = -47
latN_EAC = -33


LC = OrderedDict([ # use OrderedDict so panels are produced in a reproducible order
            ('LC_north Strait', [lonW_LC-360, lonE_LC-360, latN_LC, latN_LC]),
            ('LC_west Strait', [lonW_LC-360, lonW_LC-360, latS_LC, latN_LC]),
            ('LC_south Strait', [lonW_LC-360, lonE_LC-360, latS_LC, latS_LC])
            ])

EAC = OrderedDict([ # use OrderedDict so panels are produced in a reproducible order
            ('EAC_north Strait', [lonW_EAC-360, lonE_EAC-360, latN_EAC, latN_EAC]),
            ('EAC_east Strait', [lonE_EAC-360, lonE_EAC-360, latS_EAC, latN_EAC]),
            ('EAC_south Strait', [lonW_EAC-360, lonE_EAC-360, latS_EAC, latS_EAC]),
            ('EAC_west Strait', [lonW_EAC-360, lonW_EAC-360, latS_EAC, -42.2])
            ])

line_157E = OrderedDict([ # use OrderedDict so panels are produced in a reproducible order
            ('line_157E Strait', [lonE_EAC-360, lonE_EAC-360, latN_EAC, latN_157E])
            ])

In [13]:
input_path_obs = '/g/data/e14/erd561/NOAA_OI_SST_V2/'

output_path_obs = '/g/data/e14/erd561/NOAA_OI_SST_V2/'
output_path_mod = '/g/data/e14/erd561/access-om2/'

In [147]:
sst = xr.open_dataset(input_path_obs + 'sst.mnmean.nc').\
                sst.\
                sel(lon=slice(lonW_LC,lonE_LC)).\
                sel(lat=slice(latS_LC,latN_LC,-1)).\
                isel(time=slice(1,-2))

print(sst.time.values)

sst = sst.groupby('time.year').mean('time', skipna=True)

sst = sst.assign_coords(lon=sst.lon-360)
print(sst)
mask = xr.open_dataset(input_path_obs + 'lsmask.nc').\
                mask.\
                sel(lon=slice(lonW_LC,lonE_LC)).\
                sel(lat=slice(latS_LC,latN_LC,-1))

mask = mask.assign_coords(lon=mask.lon-360)

sst = sst.where(mask==1, np.nan)

sst_LC = sst.mean('lon').mean('lat').squeeze()
print(sst_LC)

['1982-01-01T00:00:00.000000000' '1982-02-01T00:00:00.000000000'
 '1982-03-01T00:00:00.000000000' '1982-04-01T00:00:00.000000000'
 '1982-05-01T00:00:00.000000000' '1982-06-01T00:00:00.000000000'
 '1982-07-01T00:00:00.000000000' '1982-08-01T00:00:00.000000000'
 '1982-09-01T00:00:00.000000000' '1982-10-01T00:00:00.000000000'
 '1982-11-01T00:00:00.000000000' '1982-12-01T00:00:00.000000000'
 '1983-01-01T00:00:00.000000000' '1983-02-01T00:00:00.000000000'
 '1983-03-01T00:00:00.000000000' '1983-04-01T00:00:00.000000000'
 '1983-05-01T00:00:00.000000000' '1983-06-01T00:00:00.000000000'
 '1983-07-01T00:00:00.000000000' '1983-08-01T00:00:00.000000000'
 '1983-09-01T00:00:00.000000000' '1983-10-01T00:00:00.000000000'
 '1983-11-01T00:00:00.000000000' '1983-12-01T00:00:00.000000000'
 '1984-01-01T00:00:00.000000000' '1984-02-01T00:00:00.000000000'
 '1984-03-01T00:00:00.000000000' '1984-04-01T00:00:00.000000000'
 '1984-05-01T00:00:00.000000000' '1984-06-01T00:00:00.000000000'
 '1984-07-01T00:00:00.000000000' '1984-08-01T00:00:00.000000000'
 '1984-09-01T00:00:00.000000000' '1984-10-01T00:00:00.000000000'
 '1984-11-01T00:00:00.000000000' '1984-12-01T00:00:00.000000000'
 '1985-01-01T00:00:00.000000000' '1985-02-01T00:00:00.000000000'
 '1985-03-01T00:00:00.000000000' '1985-04-01T00:00:00.000000000'
 '1985-05-01T00:00:00.000000000' '1985-06-01T00:00:00.000000000'
 '1985-07-01T00:00:00.000000000' '1985-08-01T00:00:00.000000000'
 '1985-09-01T00:00:00.000000000' '1985-10-01T00:00:00.000000000'
 '1985-11-01T00:00:00.000000000' '1985-12-01T00:00:00.000000000'
 '1986-01-01T00:00:00.000000000' '1986-02-01T00:00:00.000000000'
 '1986-03-01T00:00:00.000000000' '1986-04-01T00:00:00.000000000'
 '1986-05-01T00:00:00.000000000' '1986-06-01T00:00:00.000000000'
 '1986-07-01T00:00:00.000000000' '1986-08-01T00:00:00.000000000'
 '1986-09-01T00:00:00.000000000' '1986-10-01T00:00:00.000000000'
 '1986-11-01T00:00:00.000000000' '1986-12-01T00:00:00.000000000'
 '1987-01-01T00:00:00.000000000' '1987-02-01T00:00:00.000000000'
 '1987-03-01T00:00:00.000000000' '1987-04-01T00:00:00.000000000'
 '1987-05-01T00:00:00.000000000' '1987-06-01T00:00:00.000000000'
 '1987-07-01T00:00:00.000000000' '1987-08-01T00:00:00.000000000'
 '1987-09-01T00:00:00.000000000' '1987-10-01T00:00:00.000000000'
 '1987-11-01T00:00:00.000000000' '1987-12-01T00:00:00.000000000'
 '1988-01-01T00:00:00.000000000' '1988-02-01T00:00:00.000000000'
 '1988-03-01T00:00:00.000000000' '1988-04-01T00:00:00.000000000'
 '1988-05-01T00:00:00.000000000' '1988-06-01T00:00:00.000000000'
 '1988-07-01T00:00:00.000000000' '1988-08-01T00:00:00.000000000'
 '1988-09-01T00:00:00.000000000' '1988-10-01T00:00:00.000000000'
 '1988-11-01T00:00:00.000000000' '1988-12-01T00:00:00.000000000'
 '1989-01-01T00:00:00.000000000' '1989-02-01T00:00:00.000000000'
 '1989-03-01T00:00:00.000000000' '1989-04-01T00:00:00.000000000'
 '1989-05-01T00:00:00.000000000' '1989-06-01T00:00:00.000000000'
 '1989-07-01T00:00:00.000000000' '1989-08-01T00:00:00.000000000'
 '1989-09-01T00:00:00.000000000' '1989-10-01T00:00:00.000000000'
 '1989-11-01T00:00:00.000000000' '1989-12-01T00:00:00.000000000'
 '1990-01-01T00:00:00.000000000' '1990-02-01T00:00:00.000000000'
 '1990-03-01T00:00:00.000000000' '1990-04-01T00:00:00.000000000'
 '1990-05-01T00:00:00.000000000' '1990-06-01T00:00:00.000000000'
 '1990-07-01T00:00:00.000000000' '1990-08-01T00:00:00.000000000'
 '1990-09-01T00:00:00.000000000' '1990-10-01T00:00:00.000000000'
 '1990-11-01T00:00:00.000000000' '1990-12-01T00:00:00.000000000'
 '1991-01-01T00:00:00.000000000' '1991-02-01T00:00:00.000000000'
 '1991-03-01T00:00:00.000000000' '1991-04-01T00:00:00.000000000'
 '1991-05-01T00:00:00.000000000' '1991-06-01T00:00:00.000000000'
 '1991-07-01T00:00:00.000000000' '1991-08-01T00:00:00.000000000'
 '1991-09-01T00:00:00.000000000' '1991-10-01T00:00:00.000000000'
 '1991-11-01T00:00:00.000000000' '1991-12-01T00:00:00.000000000'
 '1992-01-01T00:00:00.000000000' '1992-02-01T00:00:00.000000000'
 '1992-03-01T00:00:00.000000000' '1992-04-01T00:00:00.000000000'
 '1992-05-01T00:00:00.000000000' '1992-06-01T00:00:00.000000000'
 '1992-07-01T00:00:00.000000000' '1992-08-01T00:00:00.000000000'
 '1992-09-01T00:00:00.000000000' '1992-10-01T00:00:00.000000000'
 '1992-11-01T00:00:00.000000000' '1992-12-01T00:00:00.000000000'
 '1993-01-01T00:00:00.000000000' '1993-02-01T00:00:00.000000000'
 '1993-03-01T00:00:00.000000000' '1993-04-01T00:00:00.000000000'
 '1993-05-01T00:00:00.000000000' '1993-06-01T00:00:00.000000000'
 '1993-07-01T00:00:00.000000000' '1993-08-01T00:00:00.000000000'
 '1993-09-01T00:00:00.000000000' '1993-10-01T00:00:00.000000000'
 '1993-11-01T00:00:00.000000000' '1993-12-01T00:00:00.000000000'
 '1994-01-01T00:00:00.000000000' '1994-02-01T00:00:00.000000000'
 '1994-03-01T00:00:00.000000000' '1994-04-01T00:00:00.000000000'
 '1994-05-01T00:00:00.000000000' '1994-06-01T00:00:00.000000000'
 '1994-07-01T00:00:00.000000000' '1994-08-01T00:00:00.000000000'
 '1994-09-01T00:00:00.000000000' '1994-10-01T00:00:00.000000000'
 '1994-11-01T00:00:00.000000000' '1994-12-01T00:00:00.000000000'
 '1995-01-01T00:00:00.000000000' '1995-02-01T00:00:00.000000000'
 '1995-03-01T00:00:00.000000000' '1995-04-01T00:00:00.000000000'
 '1995-05-01T00:00:00.000000000' '1995-06-01T00:00:00.000000000'
 '1995-07-01T00:00:00.000000000' '1995-08-01T00:00:00.000000000'
 '1995-09-01T00:00:00.000000000' '1995-10-01T00:00:00.000000000'
 '1995-11-01T00:00:00.000000000' '1995-12-01T00:00:00.000000000'
 '1996-01-01T00:00:00.000000000' '1996-02-01T00:00:00.000000000'
 '1996-03-01T00:00:00.000000000' '1996-04-01T00:00:00.000000000'
 '1996-05-01T00:00:00.000000000' '1996-06-01T00:00:00.000000000'
 '1996-07-01T00:00:00.000000000' '1996-08-01T00:00:00.000000000'
 '1996-09-01T00:00:00.000000000' '1996-10-01T00:00:00.000000000'
 '1996-11-01T00:00:00.000000000' '1996-12-01T00:00:00.000000000'
 '1997-01-01T00:00:00.000000000' '1997-02-01T00:00:00.000000000'
 '1997-03-01T00:00:00.000000000' '1997-04-01T00:00:00.000000000'
 '1997-05-01T00:00:00.000000000' '1997-06-01T00:00:00.000000000'
 '1997-07-01T00:00:00.000000000' '1997-08-01T00:00:00.000000000'
 '1997-09-01T00:00:00.000000000' '1997-10-01T00:00:00.000000000'
 '1997-11-01T00:00:00.000000000' '1997-12-01T00:00:00.000000000'
 '1998-01-01T00:00:00.000000000' '1998-02-01T00:00:00.000000000'
 '1998-03-01T00:00:00.000000000' '1998-04-01T00:00:00.000000000'
 '1998-05-01T00:00:00.000000000' '1998-06-01T00:00:00.000000000'
 '1998-07-01T00:00:00.000000000' '1998-08-01T00:00:00.000000000'
 '1998-09-01T00:00:00.000000000' '1998-10-01T00:00:00.000000000'
 '1998-11-01T00:00:00.000000000' '1998-12-01T00:00:00.000000000'
 '1999-01-01T00:00:00.000000000' '1999-02-01T00:00:00.000000000'
 '1999-03-01T00:00:00.000000000' '1999-04-01T00:00:00.000000000'
 '1999-05-01T00:00:00.000000000' '1999-06-01T00:00:00.000000000'
 '1999-07-01T00:00:00.000000000' '1999-08-01T00:00:00.000000000'
 '1999-09-01T00:00:00.000000000' '1999-10-01T00:00:00.000000000'
 '1999-11-01T00:00:00.000000000' '1999-12-01T00:00:00.000000000'
 '2000-01-01T00:00:00.000000000' '2000-02-01T00:00:00.000000000'
 '2000-03-01T00:00:00.000000000' '2000-04-01T00:00:00.000000000'
 '2000-05-01T00:00:00.000000000' '2000-06-01T00:00:00.000000000'
 '2000-07-01T00:00:00.000000000' '2000-08-01T00:00:00.000000000'
 '2000-09-01T00:00:00.000000000' '2000-10-01T00:00:00.000000000'
 '2000-11-01T00:00:00.000000000' '2000-12-01T00:00:00.000000000'
 '2001-01-01T00:00:00.000000000' '2001-02-01T00:00:00.000000000'
 '2001-03-01T00:00:00.000000000' '2001-04-01T00:00:00.000000000'
 '2001-05-01T00:00:00.000000000' '2001-06-01T00:00:00.000000000'
 '2001-07-01T00:00:00.000000000' '2001-08-01T00:00:00.000000000'
 '2001-09-01T00:00:00.000000000' '2001-10-01T00:00:00.000000000'
 '2001-11-01T00:00:00.000000000' '2001-12-01T00:00:00.000000000'
 '2002-01-01T00:00:00.000000000' '2002-02-01T00:00:00.000000000'
 '2002-03-01T00:00:00.000000000' '2002-04-01T00:00:00.000000000'
 '2002-05-01T00:00:00.000000000' '2002-06-01T00:00:00.000000000'
 '2002-07-01T00:00:00.000000000' '2002-08-01T00:00:00.000000000'
 '2002-09-01T00:00:00.000000000' '2002-10-01T00:00:00.000000000'
 '2002-11-01T00:00:00.000000000' '2002-12-01T00:00:00.000000000'
 '2003-01-01T00:00:00.000000000' '2003-02-01T00:00:00.000000000'
 '2003-03-01T00:00:00.000000000' '2003-04-01T00:00:00.000000000'
 '2003-05-01T00:00:00.000000000' '2003-06-01T00:00:00.000000000'
 '2003-07-01T00:00:00.000000000' '2003-08-01T00:00:00.000000000'
 '2003-09-01T00:00:00.000000000' '2003-10-01T00:00:00.000000000'
 '2003-11-01T00:00:00.000000000' '2003-12-01T00:00:00.000000000'
 '2004-01-01T00:00:00.000000000' '2004-02-01T00:00:00.000000000'
 '2004-03-01T00:00:00.000000000' '2004-04-01T00:00:00.000000000'
 '2004-05-01T00:00:00.000000000' '2004-06-01T00:00:00.000000000'
 '2004-07-01T00:00:00.000000000' '2004-08-01T00:00:00.000000000'
 '2004-09-01T00:00:00.000000000' '2004-10-01T00:00:00.000000000'
 '2004-11-01T00:00:00.000000000' '2004-12-01T00:00:00.000000000'
 '2005-01-01T00:00:00.000000000' '2005-02-01T00:00:00.000000000'
 '2005-03-01T00:00:00.000000000' '2005-04-01T00:00:00.000000000'
 '2005-05-01T00:00:00.000000000' '2005-06-01T00:00:00.000000000'
 '2005-07-01T00:00:00.000000000' '2005-08-01T00:00:00.000000000'
 '2005-09-01T00:00:00.000000000' '2005-10-01T00:00:00.000000000'
 '2005-11-01T00:00:00.000000000' '2005-12-01T00:00:00.000000000'
 '2006-01-01T00:00:00.000000000' '2006-02-01T00:00:00.000000000'
 '2006-03-01T00:00:00.000000000' '2006-04-01T00:00:00.000000000'
 '2006-05-01T00:00:00.000000000' '2006-06-01T00:00:00.000000000'
 '2006-07-01T00:00:00.000000000' '2006-08-01T00:00:00.000000000'
 '2006-09-01T00:00:00.000000000' '2006-10-01T00:00:00.000000000'
 '2006-11-01T00:00:00.000000000' '2006-12-01T00:00:00.000000000'
 '2007-01-01T00:00:00.000000000' '2007-02-01T00:00:00.000000000'
 '2007-03-01T00:00:00.000000000' '2007-04-01T00:00:00.000000000'
 '2007-05-01T00:00:00.000000000' '2007-06-01T00:00:00.000000000'
 '2007-07-01T00:00:00.000000000' '2007-08-01T00:00:00.000000000'
 '2007-09-01T00:00:00.000000000' '2007-10-01T00:00:00.000000000'
 '2007-11-01T00:00:00.000000000' '2007-12-01T00:00:00.000000000'
 '2008-01-01T00:00:00.000000000' '2008-02-01T00:00:00.000000000'
 '2008-03-01T00:00:00.000000000' '2008-04-01T00:00:00.000000000'
 '2008-05-01T00:00:00.000000000' '2008-06-01T00:00:00.000000000'
 '2008-07-01T00:00:00.000000000' '2008-08-01T00:00:00.000000000'
 '2008-09-01T00:00:00.000000000' '2008-10-01T00:00:00.000000000'
 '2008-11-01T00:00:00.000000000' '2008-12-01T00:00:00.000000000'
 '2009-01-01T00:00:00.000000000' '2009-02-01T00:00:00.000000000'
 '2009-03-01T00:00:00.000000000' '2009-04-01T00:00:00.000000000'
 '2009-05-01T00:00:00.000000000' '2009-06-01T00:00:00.000000000'
 '2009-07-01T00:00:00.000000000' '2009-08-01T00:00:00.000000000'
 '2009-09-01T00:00:00.000000000' '2009-10-01T00:00:00.000000000'
 '2009-11-01T00:00:00.000000000' '2009-12-01T00:00:00.000000000'
 '2010-01-01T00:00:00.000000000' '2010-02-01T00:00:00.000000000'
 '2010-03-01T00:00:00.000000000' '2010-04-01T00:00:00.000000000'
 '2010-05-01T00:00:00.000000000' '2010-06-01T00:00:00.000000000'
 '2010-07-01T00:00:00.000000000' '2010-08-01T00:00:00.000000000'
 '2010-09-01T00:00:00.000000000' '2010-10-01T00:00:00.000000000'
 '2010-11-01T00:00:00.000000000' '2010-12-01T00:00:00.000000000'
 '2011-01-01T00:00:00.000000000' '2011-02-01T00:00:00.000000000'
 '2011-03-01T00:00:00.000000000' '2011-04-01T00:00:00.000000000'
 '2011-05-01T00:00:00.000000000' '2011-06-01T00:00:00.000000000'
 '2011-07-01T00:00:00.000000000' '2011-08-01T00:00:00.000000000'
 '2011-09-01T00:00:00.000000000' '2011-10-01T00:00:00.000000000'
 '2011-11-01T00:00:00.000000000' '2011-12-01T00:00:00.000000000'
 '2012-01-01T00:00:00.000000000' '2012-02-01T00:00:00.000000000'
 '2012-03-01T00:00:00.000000000' '2012-04-01T00:00:00.000000000'
 '2012-05-01T00:00:00.000000000' '2012-06-01T00:00:00.000000000'
 '2012-07-01T00:00:00.000000000' '2012-08-01T00:00:00.000000000'
 '2012-09-01T00:00:00.000000000' '2012-10-01T00:00:00.000000000'
 '2012-11-01T00:00:00.000000000' '2012-12-01T00:00:00.000000000'
 '2013-01-01T00:00:00.000000000' '2013-02-01T00:00:00.000000000'
 '2013-03-01T00:00:00.000000000' '2013-04-01T00:00:00.000000000'
 '2013-05-01T00:00:00.000000000' '2013-06-01T00:00:00.000000000'
 '2013-07-01T00:00:00.000000000' '2013-08-01T00:00:00.000000000'
 '2013-09-01T00:00:00.000000000' '2013-10-01T00:00:00.000000000'
 '2013-11-01T00:00:00.000000000' '2013-12-01T00:00:00.000000000'
 '2014-01-01T00:00:00.000000000' '2014-02-01T00:00:00.000000000'
 '2014-03-01T00:00:00.000000000' '2014-04-01T00:00:00.000000000'
 '2014-05-01T00:00:00.000000000' '2014-06-01T00:00:00.000000000'
 '2014-07-01T00:00:00.000000000' '2014-08-01T00:00:00.000000000'
 '2014-09-01T00:00:00.000000000' '2014-10-01T00:00:00.000000000'
 '2014-11-01T00:00:00.000000000' '2014-12-01T00:00:00.000000000'
 '2015-01-01T00:00:00.000000000' '2015-02-01T00:00:00.000000000'
 '2015-03-01T00:00:00.000000000' '2015-04-01T00:00:00.000000000'
 '2015-05-01T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-07-01T00:00:00.000000000' '2015-08-01T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-10-01T00:00:00.000000000'
 '2015-11-01T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-05-01T00:00:00.000000000' '2016-06-01T00:00:00.000000000'
 '2016-07-01T00:00:00.000000000' '2016-08-01T00:00:00.000000000'
 '2016-09-01T00:00:00.000000000' '2016-10-01T00:00:00.000000000'
 '2016-11-01T00:00:00.000000000' '2016-12-01T00:00:00.000000000'
 '2017-01-01T00:00:00.000000000' '2017-02-01T00:00:00.000000000'
 '2017-03-01T00:00:00.000000000' '2017-04-01T00:00:00.000000000'
 '2017-05-01T00:00:00.000000000' '2017-06-01T00:00:00.000000000'
 '2017-07-01T00:00:00.000000000' '2017-08-01T00:00:00.000000000'
 '2017-09-01T00:00:00.000000000' '2017-10-01T00:00:00.000000000'
 '2017-11-01T00:00:00.000000000' '2017-12-01T00:00:00.000000000'
 '2018-01-01T00:00:00.000000000' '2018-02-01T00:00:00.000000000'
 '2018-03-01T00:00:00.000000000' '2018-04-01T00:00:00.000000000'
 '2018-05-01T00:00:00.000000000' '2018-06-01T00:00:00.000000000'
 '2018-07-01T00:00:00.000000000' '2018-08-01T00:00:00.000000000'
 '2018-09-01T00:00:00.000000000' '2018-10-01T00:00:00.000000000'
 '2018-11-01T00:00:00.000000000' '2018-12-01T00:00:00.000000000']
<xarray.DataArray 'sst' (year: 37, lat: 14, lon: 9)>
array([[[17.481667, 17.924166, ..., 18.610832, 18.109999],
        [18.225834, 18.693335, ..., 19.590834, 19.311666],
        ...,
        [24.544167, 24.909998, ..., 26.761665, 26.754997],
        [25.068335, 25.408333, ..., 27.009165, 27.040833]],

       [[18.809168, 19.134165, ..., 19.366667, 18.9     ],
        [19.494165, 19.855001, ..., 20.301666, 20.03333 ],
        ...,
        [25.135834, 25.278334, ..., 26.544167, 26.544167],
        [25.574167, 25.702497, ..., 26.753334, 26.783335]],

       ...,

       [[17.776667, 18.071667, ..., 19.268332, 18.890833],
        [18.255833, 18.626667, ..., 20.069166, 19.804167],
        ...,
        [24.506666, 24.88083 , ..., 26.342497, 26.393333],
        [24.946669, 25.3125  , ..., 26.528334, 26.614166]],

       [[17.701666, 18.058332, ..., 19.047499, 18.725   ],
        [18.369165, 18.696669, ..., 19.763332, 19.558332],
        ...,
        [24.349998, 24.680834, ..., 25.723335, 25.765831],
        [24.770834, 25.103333, ..., 25.885832, 25.945831]]], dtype=float32)
Coordinates:
  * lat      (lat) float32 -33.5 -32.5 -31.5 -30.5 ... -23.5 -22.5 -21.5 -20.5
  * lon      (lon) float32 -249.5 -248.5 -247.5 -246.5 ... -243.5 -242.5 -241.5
  * year     (year) int64 1982 1983 1984 1985 1986 ... 2014 2015 2016 2017 2018
<xarray.DataArray (year: 37)>
array([22.463955, 22.9763  , 22.970453, 22.596972, 21.891161, 22.301512,
       23.047176, 23.065908, 22.304474, 22.376787, 22.248499, 21.881594,
       22.770557, 22.843096, 23.089344, 22.668259, 23.096334, 23.584162,
       23.242346, 22.670536, 22.372091, 22.315914, 22.205128, 22.34758 ,
       22.443483, 22.616913, 23.041857, 22.551168, 22.805937, 23.58909 ,
       23.12825 , 23.165182, 22.885855, 22.995302, 22.135845, 22.201862,
       22.041538], dtype=float32)
Coordinates:
  * year     (year) int64 1982 1983 1984 1985 1986 ... 2014 2015 2016 2017 2018
    time     datetime64[ns] 1981-10-29

In [131]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

sst_1 = cc.get_nc_variable(expt, 'ocean.nc', 'temp',
                        chunks={'st_ocean': None}, n=None,
                        time_units=time_units, offset=offset).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_LC-360,lonE_LC-360)).\
                        sel(yt_ocean=slice(latS_LC,latN_LC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_1.load()

sst_1_LC = sst_1.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_1_LC)

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'temp' (year: 300)>
array([22.286255, 22.00528 , 21.520203, ..., 22.318146, 21.884735, 21.873077],
      dtype=float32)
Coordinates:
    st_ocean  float64 1.152
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017

In [132]:
ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

sst_025 = cc.get_nc_variable(expt, 'ocean.nc', 'temp',
                        chunks={'st_ocean': None}, n=None,
                        time_units=time_units, offset=offset).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_LC-360,lonE_LC-360)).\
                        sel(yt_ocean=slice(latS_LC,latN_LC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_025.load()

sst_025_LC = sst_025.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_025_LC)

1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'temp' (year: 300)>
array([21.920685, 21.85968 , 21.236267, ..., 22.014923, 21.562256, 21.592651],
      dtype=float32)
Coordinates:
    st_ocean  float64 1.152
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017

In [134]:
ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

sst_01_month = cc.get_nc_variable(expt, 'ocean.nc', 'temp',
                        chunks={'st_ocean': None}, n=None,
                        time_units=time_units, offset=offset).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_LC-360,lonE_LC-360)).\
                        sel(yt_ocean=slice(latS_LC,latN_LC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_01_month.load()
print(sst_01_month)

sst_01_LC = sst_01_month.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_01_LC)

1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'temp' (time: 396)>
array([295.6129 , 297.45694, 297.72668, ..., 292.97552, 294.139  , 295.14398],
      dtype=float32)
Coordinates:
    st_ocean  float64 0.5413
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'temp' (year: 33)>
array([22.080444, 21.424988, 21.532532, 22.23175 , 22.323639, 21.64444 ,
       21.785645, 21.611206, 21.282745, 21.992828, 22.128693, 22.297485,
       21.995544, 22.208557, 22.491302, 22.460724, 21.991089, 21.830841,
       21.603851, 21.584045, 21.551758, 21.819885, 21.717926, 22.293884,
       21.814178, 21.857117, 22.911407, 22.500061, 22.315796, 22.180939,
       22.124084, 21.607239, 21.75708 ], dtype=float32)
Coordinates:
    st_ocean  float64 0.5413
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017

In [115]:
time_units = 'days since 0001-01-01'
print(time_units)

sst_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean.nc', 'temp',
                        chunks={'st_ocean': None},
                        time_units=time_units).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_LC-360,lonE_LC-360)).\
                        sel(yt_ocean=slice(latS_LC,latN_LC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_JRA_month.load()



sst_JRA1 = sst_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
sst_JRA1 = sst_JRA1.assign_coords(year = sst_JRA1.year.values + 1944)
print(sst_JRA1.year.values)



sst_JRA2 = sst_JRA_month.isel(time=slice(446,-8))
sst_JRA2 = sst_JRA2.assign_coords(time = pd.to_datetime(sst_JRA2.time.values))
sst_JRA2 = sst_JRA2.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_JRA2.year.values)
sst_JRA2 = sst_JRA2.assign_coords(year = sst_JRA2.year.values + 44)
print(sst_JRA2.year.values)



sst_JRA_LC = xr.concat([sst_JRA1, sst_JRA2], dim='year')
print(sst_JRA_LC)

days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979 1980 1981]
[1938 1939 1940 1941 1942 1943 1944 1945]
[1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'temp' (year: 45)>
array([22.412842, 22.169128,       inf, 22.088043, 22.062134, 22.189758,
       22.221893, 22.206787, 22.296326, 22.30429 , 22.296936, 22.236938,
       22.232788, 22.27893 , 22.296143, 22.231293, 22.329407, 22.225372,
       22.267212, 22.26001 , 22.227753, 22.225952, 22.190521, 22.220825,
       22.247162, 22.239594, 22.203674, 22.192932, 22.240234, 22.234467,
       22.21936 , 22.24643 , 22.228027, 22.212708, 22.22116 , 22.22168 ,
       22.196869, 22.208313, 22.181519, 22.219452, 22.161377, 22.241821,
       22.205078, 22.1792  , 22.180145], dtype=float32)
Coordinates:
    st_ocean  float64 0.5413
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [148]:
sst_LC_xr = xr.DataArray(sst_LC, name='sst_LC',
                        coords=[sst_LC.year], 
                        dims=['year'])
print(sst_LC_xr)
sst_LC_xr.to_netcdf(output_path_obs + 'sst_LC.nc')


sst_1_LC_xr = xr.DataArray(sst_1_LC, name='sst_1_LC',
                        coords=[sst_1_LC.year], 
                        dims=['year'])
print(sst_1_LC_xr)
sst_1_LC_xr.to_netcdf(output_path_mod + 'sst_1_LC.nc')


sst_025_LC_xr = xr.DataArray(sst_025_LC, name='sst_025_LC',
                        coords=[sst_025_LC.year], 
                        dims=['year'])
print(sst_025_LC_xr)
sst_025_LC_xr.to_netcdf(output_path_mod + 'sst_025_LC.nc')


sst_01_LC_xr = xr.DataArray(sst_01_LC, name='sst_01_LC',
                        coords=[sst_01_LC.year], 
                        dims=['year'])
print(sst_01_LC_xr)
sst_01_LC_xr.to_netcdf(output_path_mod + 'sst_01_LC.nc')


sst_JRA_LC_xr = xr.DataArray(sst_JRA_LC, name='sst_JRA_LC',
                        coords=[sst_JRA_LC.year], 
                        dims=['year'])
print(sst_JRA_LC_xr)
sst_JRA_LC_xr.to_netcdf(output_path_mod + 'sst_JRA_LC.nc')

<xarray.DataArray 'sst_LC' (year: 37)>
array([22.463955, 22.9763  , 22.970453, 22.596972, 21.891161, 22.301512,
       23.047176, 23.065908, 22.304474, 22.376787, 22.248499, 21.881594,
       22.770557, 22.843096, 23.089344, 22.668259, 23.096334, 23.584162,
       23.242346, 22.670536, 22.372091, 22.315914, 22.205128, 22.34758 ,
       22.443483, 22.616913, 23.041857, 22.551168, 22.805937, 23.58909 ,
       23.12825 , 23.165182, 22.885855, 22.995302, 22.135845, 22.201862,
       22.041538], dtype=float32)
Coordinates:
  * year     (year) int64 1982 1983 1984 1985 1986 ... 2014 2015 2016 2017 2018
<xarray.DataArray 'sst_1_LC' (year: 300)>
array([22.286255, 22.00528 , 21.520203, ..., 22.318146, 21.884735, 21.873077],
      dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_025_LC' (year: 300)>
array([21.920685, 21.85968 , 21.236267, ..., 22.014923, 21.562256, 21.592651],
      dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_01_LC' (year: 33)>
array([22.080444, 21.424988, 21.532532, 22.23175 , 22.323639, 21.64444 ,
       21.785645, 21.611206, 21.282745, 21.992828, 22.128693, 22.297485,
       21.995544, 22.208557, 22.491302, 22.460724, 21.991089, 21.830841,
       21.603851, 21.584045, 21.551758, 21.819885, 21.717926, 22.293884,
       21.814178, 21.857117, 22.911407, 22.500061, 22.315796, 22.180939,
       22.124084, 21.607239, 21.75708 ], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_JRA_LC' (year: 45)>
array([22.412842, 22.169128,       inf, 22.088043, 22.062134, 22.189758,
       22.221893, 22.206787, 22.296326, 22.30429 , 22.296936, 22.236938,
       22.232788, 22.27893 , 22.296143, 22.231293, 22.329407, 22.225372,
       22.267212, 22.26001 , 22.227753, 22.225952, 22.190521, 22.220825,
       22.247162, 22.239594, 22.203674, 22.192932, 22.240234, 22.234467,
       22.21936 , 22.24643 , 22.228027, 22.212708, 22.22116 , 22.22168 ,
       22.196869, 22.208313, 22.181519, 22.219452, 22.161377, 22.241821,
       22.205078, 22.1792  , 22.180145], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [149]:
sst = xr.open_dataset(input_path_obs + 'sst.mnmean.nc').\
                sst.\
                sel(lon=slice(lonW_EAC,lonE_EAC)).\
                sel(lat=slice(latS_EAC,latN_EAC,-1)).\
                isel(time=slice(1,-2))

print(sst.time.values)

sst = sst.groupby('time.year').mean('time', skipna=True)

sst = sst.assign_coords(lon=sst.lon-360)
print(sst)
mask = xr.open_dataset(input_path_obs + 'lsmask.nc').\
                mask.\
                sel(lon=slice(lonW_EAC,lonE_EAC)).\
                sel(lat=slice(latS_EAC,latN_EAC,-1))

mask = mask.assign_coords(lon=mask.lon-360)

sst = sst.where(mask==1, np.nan)

sst_EAC = sst.mean('lon').mean('lat').squeeze()
print(sst_EAC)


ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

sst_1 = cc.get_nc_variable(expt, 'ocean.nc', 'temp',
                        chunks={'st_ocean': None}, n=None,
                        time_units=time_units, offset=offset).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_EAC-360,lonE_EAC-360)).\
                        sel(yt_ocean=slice(latS_EAC,latN_EAC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_1.load()

sst_1_EAC = sst_1.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_1_EAC)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

sst_025 = cc.get_nc_variable(expt, 'ocean.nc', 'temp',
                        chunks={'st_ocean': None}, n=None,
                        time_units=time_units, offset=offset).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_EAC-360,lonE_EAC-360)).\
                        sel(yt_ocean=slice(latS_EAC,latN_EAC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_025.load()

sst_025_EAC = sst_025.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_025_EAC)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

sst_01_month = cc.get_nc_variable(expt, 'ocean.nc', 'temp',
                        chunks={'st_ocean': None}, n=None,
                        time_units=time_units, offset=offset).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_EAC-360,lonE_EAC-360)).\
                        sel(yt_ocean=slice(latS_EAC,latN_EAC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_01_month.load()
print(sst_01_month)

sst_01_EAC = sst_01_month.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_01_EAC)


time_units = 'days since 0001-01-01'
print(time_units)

sst_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean.nc', 'temp',
                        chunks={'st_ocean': None},
                        time_units=time_units).\
                        isel(st_ocean=0).\
                        sel(xt_ocean=slice(lonW_EAC-360,lonE_EAC-360)).\
                        sel(yt_ocean=slice(latS_EAC,latN_EAC)).\
                        mean('xt_ocean').\
                        mean('yt_ocean')

sst_JRA_month.load()



sst_JRA1 = sst_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
sst_JRA1 = sst_JRA1.assign_coords(year = sst_JRA1.year.values + 1944)
print(sst_JRA1.year.values)



sst_JRA2 = sst_JRA_month.isel(time=slice(446,-8))
sst_JRA2 = sst_JRA2.assign_coords(time = pd.to_datetime(sst_JRA2.time.values))
sst_JRA2 = sst_JRA2.groupby('time.year').mean('time', skipna=True)-273.15
print(sst_JRA2.year.values)
sst_JRA2 = sst_JRA2.assign_coords(year = sst_JRA2.year.values + 44)
print(sst_JRA2.year.values)



sst_JRA_EAC = xr.concat([sst_JRA1, sst_JRA2], dim='year')
print(sst_JRA_EAC)


sst_EAC_xr = xr.DataArray(sst_EAC, name='sst_EAC',
                        coords=[sst_EAC.year], 
                        dims=['year'])
print(sst_EAC_xr)
sst_EAC_xr.to_netcdf(output_path_obs + 'sst_EAC.nc')


sst_1_EAC_xr = xr.DataArray(sst_1_EAC, name='sst_1_EAC',
                        coords=[sst_1_EAC.year], 
                        dims=['year'])
print(sst_1_EAC_xr)
sst_1_EAC_xr.to_netcdf(output_path_mod + 'sst_1_EAC.nc')


sst_025_EAC_xr = xr.DataArray(sst_025_EAC, name='sst_025_EAC',
                        coords=[sst_025_EAC.year], 
                        dims=['year'])
print(sst_025_EAC_xr)
sst_025_EAC_xr.to_netcdf(output_path_mod + 'sst_025_EAC.nc')


sst_01_EAC_xr = xr.DataArray(sst_01_EAC, name='sst_01_EAC',
                        coords=[sst_01_EAC.year], 
                        dims=['year'])
print(sst_01_EAC_xr)
sst_01_EAC_xr.to_netcdf(output_path_mod + 'sst_01_EAC.nc')


sst_JRA_EAC_xr = xr.DataArray(sst_JRA_EAC, name='sst_JRA_EAC',
                        coords=[sst_JRA_EAC.year], 
                        dims=['year'])
print(sst_JRA_EAC_xr)
sst_JRA_EAC_xr.to_netcdf(output_path_mod + 'sst_JRA_EAC.nc')

['1982-01-01T00:00:00.000000000' '1982-02-01T00:00:00.000000000'
 '1982-03-01T00:00:00.000000000' '1982-04-01T00:00:00.000000000'
 '1982-05-01T00:00:00.000000000' '1982-06-01T00:00:00.000000000'
 '1982-07-01T00:00:00.000000000' '1982-08-01T00:00:00.000000000'
 '1982-09-01T00:00:00.000000000' '1982-10-01T00:00:00.000000000'
 '1982-11-01T00:00:00.000000000' '1982-12-01T00:00:00.000000000'
 '1983-01-01T00:00:00.000000000' '1983-02-01T00:00:00.000000000'
 '1983-03-01T00:00:00.000000000' '1983-04-01T00:00:00.000000000'
 '1983-05-01T00:00:00.000000000' '1983-06-01T00:00:00.000000000'
 '1983-07-01T00:00:00.000000000' '1983-08-01T00:00:00.000000000'
 '1983-09-01T00:00:00.000000000' '1983-10-01T00:00:00.000000000'
 '1983-11-01T00:00:00.000000000' '1983-12-01T00:00:00.000000000'
 '1984-01-01T00:00:00.000000000' '1984-02-01T00:00:00.000000000'
 '1984-03-01T00:00:00.000000000' '1984-04-01T00:00:00.000000000'
 '1984-05-01T00:00:00.000000000' '1984-06-01T00:00:00.000000000'
 '1984-07-01T00:00:00.000000000' '1984-08-01T00:00:00.000000000'
 '1984-09-01T00:00:00.000000000' '1984-10-01T00:00:00.000000000'
 '1984-11-01T00:00:00.000000000' '1984-12-01T00:00:00.000000000'
 '1985-01-01T00:00:00.000000000' '1985-02-01T00:00:00.000000000'
 '1985-03-01T00:00:00.000000000' '1985-04-01T00:00:00.000000000'
 '1985-05-01T00:00:00.000000000' '1985-06-01T00:00:00.000000000'
 '1985-07-01T00:00:00.000000000' '1985-08-01T00:00:00.000000000'
 '1985-09-01T00:00:00.000000000' '1985-10-01T00:00:00.000000000'
 '1985-11-01T00:00:00.000000000' '1985-12-01T00:00:00.000000000'
 '1986-01-01T00:00:00.000000000' '1986-02-01T00:00:00.000000000'
 '1986-03-01T00:00:00.000000000' '1986-04-01T00:00:00.000000000'
 '1986-05-01T00:00:00.000000000' '1986-06-01T00:00:00.000000000'
 '1986-07-01T00:00:00.000000000' '1986-08-01T00:00:00.000000000'
 '1986-09-01T00:00:00.000000000' '1986-10-01T00:00:00.000000000'
 '1986-11-01T00:00:00.000000000' '1986-12-01T00:00:00.000000000'
 '1987-01-01T00:00:00.000000000' '1987-02-01T00:00:00.000000000'
 '1987-03-01T00:00:00.000000000' '1987-04-01T00:00:00.000000000'
 '1987-05-01T00:00:00.000000000' '1987-06-01T00:00:00.000000000'
 '1987-07-01T00:00:00.000000000' '1987-08-01T00:00:00.000000000'
 '1987-09-01T00:00:00.000000000' '1987-10-01T00:00:00.000000000'
 '1987-11-01T00:00:00.000000000' '1987-12-01T00:00:00.000000000'
 '1988-01-01T00:00:00.000000000' '1988-02-01T00:00:00.000000000'
 '1988-03-01T00:00:00.000000000' '1988-04-01T00:00:00.000000000'
 '1988-05-01T00:00:00.000000000' '1988-06-01T00:00:00.000000000'
 '1988-07-01T00:00:00.000000000' '1988-08-01T00:00:00.000000000'
 '1988-09-01T00:00:00.000000000' '1988-10-01T00:00:00.000000000'
 '1988-11-01T00:00:00.000000000' '1988-12-01T00:00:00.000000000'
 '1989-01-01T00:00:00.000000000' '1989-02-01T00:00:00.000000000'
 '1989-03-01T00:00:00.000000000' '1989-04-01T00:00:00.000000000'
 '1989-05-01T00:00:00.000000000' '1989-06-01T00:00:00.000000000'
 '1989-07-01T00:00:00.000000000' '1989-08-01T00:00:00.000000000'
 '1989-09-01T00:00:00.000000000' '1989-10-01T00:00:00.000000000'
 '1989-11-01T00:00:00.000000000' '1989-12-01T00:00:00.000000000'
 '1990-01-01T00:00:00.000000000' '1990-02-01T00:00:00.000000000'
 '1990-03-01T00:00:00.000000000' '1990-04-01T00:00:00.000000000'
 '1990-05-01T00:00:00.000000000' '1990-06-01T00:00:00.000000000'
 '1990-07-01T00:00:00.000000000' '1990-08-01T00:00:00.000000000'
 '1990-09-01T00:00:00.000000000' '1990-10-01T00:00:00.000000000'
 '1990-11-01T00:00:00.000000000' '1990-12-01T00:00:00.000000000'
 '1991-01-01T00:00:00.000000000' '1991-02-01T00:00:00.000000000'
 '1991-03-01T00:00:00.000000000' '1991-04-01T00:00:00.000000000'
 '1991-05-01T00:00:00.000000000' '1991-06-01T00:00:00.000000000'
 '1991-07-01T00:00:00.000000000' '1991-08-01T00:00:00.000000000'
 '1991-09-01T00:00:00.000000000' '1991-10-01T00:00:00.000000000'
 '1991-11-01T00:00:00.000000000' '1991-12-01T00:00:00.000000000'
 '1992-01-01T00:00:00.000000000' '1992-02-01T00:00:00.000000000'
 '1992-03-01T00:00:00.000000000' '1992-04-01T00:00:00.000000000'
 '1992-05-01T00:00:00.000000000' '1992-06-01T00:00:00.000000000'
 '1992-07-01T00:00:00.000000000' '1992-08-01T00:00:00.000000000'
 '1992-09-01T00:00:00.000000000' '1992-10-01T00:00:00.000000000'
 '1992-11-01T00:00:00.000000000' '1992-12-01T00:00:00.000000000'
 '1993-01-01T00:00:00.000000000' '1993-02-01T00:00:00.000000000'
 '1993-03-01T00:00:00.000000000' '1993-04-01T00:00:00.000000000'
 '1993-05-01T00:00:00.000000000' '1993-06-01T00:00:00.000000000'
 '1993-07-01T00:00:00.000000000' '1993-08-01T00:00:00.000000000'
 '1993-09-01T00:00:00.000000000' '1993-10-01T00:00:00.000000000'
 '1993-11-01T00:00:00.000000000' '1993-12-01T00:00:00.000000000'
 '1994-01-01T00:00:00.000000000' '1994-02-01T00:00:00.000000000'
 '1994-03-01T00:00:00.000000000' '1994-04-01T00:00:00.000000000'
 '1994-05-01T00:00:00.000000000' '1994-06-01T00:00:00.000000000'
 '1994-07-01T00:00:00.000000000' '1994-08-01T00:00:00.000000000'
 '1994-09-01T00:00:00.000000000' '1994-10-01T00:00:00.000000000'
 '1994-11-01T00:00:00.000000000' '1994-12-01T00:00:00.000000000'
 '1995-01-01T00:00:00.000000000' '1995-02-01T00:00:00.000000000'
 '1995-03-01T00:00:00.000000000' '1995-04-01T00:00:00.000000000'
 '1995-05-01T00:00:00.000000000' '1995-06-01T00:00:00.000000000'
 '1995-07-01T00:00:00.000000000' '1995-08-01T00:00:00.000000000'
 '1995-09-01T00:00:00.000000000' '1995-10-01T00:00:00.000000000'
 '1995-11-01T00:00:00.000000000' '1995-12-01T00:00:00.000000000'
 '1996-01-01T00:00:00.000000000' '1996-02-01T00:00:00.000000000'
 '1996-03-01T00:00:00.000000000' '1996-04-01T00:00:00.000000000'
 '1996-05-01T00:00:00.000000000' '1996-06-01T00:00:00.000000000'
 '1996-07-01T00:00:00.000000000' '1996-08-01T00:00:00.000000000'
 '1996-09-01T00:00:00.000000000' '1996-10-01T00:00:00.000000000'
 '1996-11-01T00:00:00.000000000' '1996-12-01T00:00:00.000000000'
 '1997-01-01T00:00:00.000000000' '1997-02-01T00:00:00.000000000'
 '1997-03-01T00:00:00.000000000' '1997-04-01T00:00:00.000000000'
 '1997-05-01T00:00:00.000000000' '1997-06-01T00:00:00.000000000'
 '1997-07-01T00:00:00.000000000' '1997-08-01T00:00:00.000000000'
 '1997-09-01T00:00:00.000000000' '1997-10-01T00:00:00.000000000'
 '1997-11-01T00:00:00.000000000' '1997-12-01T00:00:00.000000000'
 '1998-01-01T00:00:00.000000000' '1998-02-01T00:00:00.000000000'
 '1998-03-01T00:00:00.000000000' '1998-04-01T00:00:00.000000000'
 '1998-05-01T00:00:00.000000000' '1998-06-01T00:00:00.000000000'
 '1998-07-01T00:00:00.000000000' '1998-08-01T00:00:00.000000000'
 '1998-09-01T00:00:00.000000000' '1998-10-01T00:00:00.000000000'
 '1998-11-01T00:00:00.000000000' '1998-12-01T00:00:00.000000000'
 '1999-01-01T00:00:00.000000000' '1999-02-01T00:00:00.000000000'
 '1999-03-01T00:00:00.000000000' '1999-04-01T00:00:00.000000000'
 '1999-05-01T00:00:00.000000000' '1999-06-01T00:00:00.000000000'
 '1999-07-01T00:00:00.000000000' '1999-08-01T00:00:00.000000000'
 '1999-09-01T00:00:00.000000000' '1999-10-01T00:00:00.000000000'
 '1999-11-01T00:00:00.000000000' '1999-12-01T00:00:00.000000000'
 '2000-01-01T00:00:00.000000000' '2000-02-01T00:00:00.000000000'
 '2000-03-01T00:00:00.000000000' '2000-04-01T00:00:00.000000000'
 '2000-05-01T00:00:00.000000000' '2000-06-01T00:00:00.000000000'
 '2000-07-01T00:00:00.000000000' '2000-08-01T00:00:00.000000000'
 '2000-09-01T00:00:00.000000000' '2000-10-01T00:00:00.000000000'
 '2000-11-01T00:00:00.000000000' '2000-12-01T00:00:00.000000000'
 '2001-01-01T00:00:00.000000000' '2001-02-01T00:00:00.000000000'
 '2001-03-01T00:00:00.000000000' '2001-04-01T00:00:00.000000000'
 '2001-05-01T00:00:00.000000000' '2001-06-01T00:00:00.000000000'
 '2001-07-01T00:00:00.000000000' '2001-08-01T00:00:00.000000000'
 '2001-09-01T00:00:00.000000000' '2001-10-01T00:00:00.000000000'
 '2001-11-01T00:00:00.000000000' '2001-12-01T00:00:00.000000000'
 '2002-01-01T00:00:00.000000000' '2002-02-01T00:00:00.000000000'
 '2002-03-01T00:00:00.000000000' '2002-04-01T00:00:00.000000000'
 '2002-05-01T00:00:00.000000000' '2002-06-01T00:00:00.000000000'
 '2002-07-01T00:00:00.000000000' '2002-08-01T00:00:00.000000000'
 '2002-09-01T00:00:00.000000000' '2002-10-01T00:00:00.000000000'
 '2002-11-01T00:00:00.000000000' '2002-12-01T00:00:00.000000000'
 '2003-01-01T00:00:00.000000000' '2003-02-01T00:00:00.000000000'
 '2003-03-01T00:00:00.000000000' '2003-04-01T00:00:00.000000000'
 '2003-05-01T00:00:00.000000000' '2003-06-01T00:00:00.000000000'
 '2003-07-01T00:00:00.000000000' '2003-08-01T00:00:00.000000000'
 '2003-09-01T00:00:00.000000000' '2003-10-01T00:00:00.000000000'
 '2003-11-01T00:00:00.000000000' '2003-12-01T00:00:00.000000000'
 '2004-01-01T00:00:00.000000000' '2004-02-01T00:00:00.000000000'
 '2004-03-01T00:00:00.000000000' '2004-04-01T00:00:00.000000000'
 '2004-05-01T00:00:00.000000000' '2004-06-01T00:00:00.000000000'
 '2004-07-01T00:00:00.000000000' '2004-08-01T00:00:00.000000000'
 '2004-09-01T00:00:00.000000000' '2004-10-01T00:00:00.000000000'
 '2004-11-01T00:00:00.000000000' '2004-12-01T00:00:00.000000000'
 '2005-01-01T00:00:00.000000000' '2005-02-01T00:00:00.000000000'
 '2005-03-01T00:00:00.000000000' '2005-04-01T00:00:00.000000000'
 '2005-05-01T00:00:00.000000000' '2005-06-01T00:00:00.000000000'
 '2005-07-01T00:00:00.000000000' '2005-08-01T00:00:00.000000000'
 '2005-09-01T00:00:00.000000000' '2005-10-01T00:00:00.000000000'
 '2005-11-01T00:00:00.000000000' '2005-12-01T00:00:00.000000000'
 '2006-01-01T00:00:00.000000000' '2006-02-01T00:00:00.000000000'
 '2006-03-01T00:00:00.000000000' '2006-04-01T00:00:00.000000000'
 '2006-05-01T00:00:00.000000000' '2006-06-01T00:00:00.000000000'
 '2006-07-01T00:00:00.000000000' '2006-08-01T00:00:00.000000000'
 '2006-09-01T00:00:00.000000000' '2006-10-01T00:00:00.000000000'
 '2006-11-01T00:00:00.000000000' '2006-12-01T00:00:00.000000000'
 '2007-01-01T00:00:00.000000000' '2007-02-01T00:00:00.000000000'
 '2007-03-01T00:00:00.000000000' '2007-04-01T00:00:00.000000000'
 '2007-05-01T00:00:00.000000000' '2007-06-01T00:00:00.000000000'
 '2007-07-01T00:00:00.000000000' '2007-08-01T00:00:00.000000000'
 '2007-09-01T00:00:00.000000000' '2007-10-01T00:00:00.000000000'
 '2007-11-01T00:00:00.000000000' '2007-12-01T00:00:00.000000000'
 '2008-01-01T00:00:00.000000000' '2008-02-01T00:00:00.000000000'
 '2008-03-01T00:00:00.000000000' '2008-04-01T00:00:00.000000000'
 '2008-05-01T00:00:00.000000000' '2008-06-01T00:00:00.000000000'
 '2008-07-01T00:00:00.000000000' '2008-08-01T00:00:00.000000000'
 '2008-09-01T00:00:00.000000000' '2008-10-01T00:00:00.000000000'
 '2008-11-01T00:00:00.000000000' '2008-12-01T00:00:00.000000000'
 '2009-01-01T00:00:00.000000000' '2009-02-01T00:00:00.000000000'
 '2009-03-01T00:00:00.000000000' '2009-04-01T00:00:00.000000000'
 '2009-05-01T00:00:00.000000000' '2009-06-01T00:00:00.000000000'
 '2009-07-01T00:00:00.000000000' '2009-08-01T00:00:00.000000000'
 '2009-09-01T00:00:00.000000000' '2009-10-01T00:00:00.000000000'
 '2009-11-01T00:00:00.000000000' '2009-12-01T00:00:00.000000000'
 '2010-01-01T00:00:00.000000000' '2010-02-01T00:00:00.000000000'
 '2010-03-01T00:00:00.000000000' '2010-04-01T00:00:00.000000000'
 '2010-05-01T00:00:00.000000000' '2010-06-01T00:00:00.000000000'
 '2010-07-01T00:00:00.000000000' '2010-08-01T00:00:00.000000000'
 '2010-09-01T00:00:00.000000000' '2010-10-01T00:00:00.000000000'
 '2010-11-01T00:00:00.000000000' '2010-12-01T00:00:00.000000000'
 '2011-01-01T00:00:00.000000000' '2011-02-01T00:00:00.000000000'
 '2011-03-01T00:00:00.000000000' '2011-04-01T00:00:00.000000000'
 '2011-05-01T00:00:00.000000000' '2011-06-01T00:00:00.000000000'
 '2011-07-01T00:00:00.000000000' '2011-08-01T00:00:00.000000000'
 '2011-09-01T00:00:00.000000000' '2011-10-01T00:00:00.000000000'
 '2011-11-01T00:00:00.000000000' '2011-12-01T00:00:00.000000000'
 '2012-01-01T00:00:00.000000000' '2012-02-01T00:00:00.000000000'
 '2012-03-01T00:00:00.000000000' '2012-04-01T00:00:00.000000000'
 '2012-05-01T00:00:00.000000000' '2012-06-01T00:00:00.000000000'
 '2012-07-01T00:00:00.000000000' '2012-08-01T00:00:00.000000000'
 '2012-09-01T00:00:00.000000000' '2012-10-01T00:00:00.000000000'
 '2012-11-01T00:00:00.000000000' '2012-12-01T00:00:00.000000000'
 '2013-01-01T00:00:00.000000000' '2013-02-01T00:00:00.000000000'
 '2013-03-01T00:00:00.000000000' '2013-04-01T00:00:00.000000000'
 '2013-05-01T00:00:00.000000000' '2013-06-01T00:00:00.000000000'
 '2013-07-01T00:00:00.000000000' '2013-08-01T00:00:00.000000000'
 '2013-09-01T00:00:00.000000000' '2013-10-01T00:00:00.000000000'
 '2013-11-01T00:00:00.000000000' '2013-12-01T00:00:00.000000000'
 '2014-01-01T00:00:00.000000000' '2014-02-01T00:00:00.000000000'
 '2014-03-01T00:00:00.000000000' '2014-04-01T00:00:00.000000000'
 '2014-05-01T00:00:00.000000000' '2014-06-01T00:00:00.000000000'
 '2014-07-01T00:00:00.000000000' '2014-08-01T00:00:00.000000000'
 '2014-09-01T00:00:00.000000000' '2014-10-01T00:00:00.000000000'
 '2014-11-01T00:00:00.000000000' '2014-12-01T00:00:00.000000000'
 '2015-01-01T00:00:00.000000000' '2015-02-01T00:00:00.000000000'
 '2015-03-01T00:00:00.000000000' '2015-04-01T00:00:00.000000000'
 '2015-05-01T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-07-01T00:00:00.000000000' '2015-08-01T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-10-01T00:00:00.000000000'
 '2015-11-01T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-05-01T00:00:00.000000000' '2016-06-01T00:00:00.000000000'
 '2016-07-01T00:00:00.000000000' '2016-08-01T00:00:00.000000000'
 '2016-09-01T00:00:00.000000000' '2016-10-01T00:00:00.000000000'
 '2016-11-01T00:00:00.000000000' '2016-12-01T00:00:00.000000000'
 '2017-01-01T00:00:00.000000000' '2017-02-01T00:00:00.000000000'
 '2017-03-01T00:00:00.000000000' '2017-04-01T00:00:00.000000000'
 '2017-05-01T00:00:00.000000000' '2017-06-01T00:00:00.000000000'
 '2017-07-01T00:00:00.000000000' '2017-08-01T00:00:00.000000000'
 '2017-09-01T00:00:00.000000000' '2017-10-01T00:00:00.000000000'
 '2017-11-01T00:00:00.000000000' '2017-12-01T00:00:00.000000000'
 '2018-01-01T00:00:00.000000000' '2018-02-01T00:00:00.000000000'
 '2018-03-01T00:00:00.000000000' '2018-04-01T00:00:00.000000000'
 '2018-05-01T00:00:00.000000000' '2018-06-01T00:00:00.000000000'
 '2018-07-01T00:00:00.000000000' '2018-08-01T00:00:00.000000000'
 '2018-09-01T00:00:00.000000000' '2018-10-01T00:00:00.000000000'
 '2018-11-01T00:00:00.000000000' '2018-12-01T00:00:00.000000000']
<xarray.DataArray 'sst' (year: 37, lat: 14, lon: 10)>
array([[[11.033333, 11.322499, ..., 11.384167, 11.244166],
        [11.985   , 12.231667, ..., 12.014999, 11.927499],
        ...,
        [19.658335, 19.864998, ..., 20.493332, 20.425833],
        [20.352499, 20.576666, ..., 21.227499, 21.115833]],

       [[10.730834, 10.826668, ..., 10.821667, 10.776666],
        [11.704166, 11.820832, ..., 11.431666, 11.390834],
        ...,
        [19.409166, 19.588333, ..., 20.4625  , 20.472498],
        [20.15417 , 20.347502, ..., 21.100836, 21.066668]],

       ...,

       [[12.058334, 12.072498, ..., 11.7275  , 11.6875  ],
        [13.185832, 13.177501, ..., 12.545834, 12.546666],
        ...,
        [20.606667, 20.866665, ..., 21.713333, 21.39    ],
        [21.143333, 21.409998, ..., 22.277498, 21.9375  ]],

       [[11.906665, 12.111667, ..., 12.06    , 12.143332],
        [13.130833, 13.317501, ..., 12.858334, 12.919167],
        ...,
        [19.921667, 20.123335, ..., 21.271667, 21.099165],
        [20.46    , 20.671667, ..., 21.866667, 21.687498]]], dtype=float32)
Coordinates:
  * lat      (lat) float32 -46.5 -45.5 -44.5 -43.5 ... -36.5 -35.5 -34.5 -33.5
  * lon      (lon) float32 -212.5 -211.5 -210.5 -209.5 ... -205.5 -204.5 -203.5
  * year     (year) int64 1982 1983 1984 1985 1986 ... 2014 2015 2016 2017 2018

<xarray.DataArray (year: 37)>
array([16.307743, 15.994451, 16.007574, 16.384548, 16.26546 , 16.33474 ,
       16.619678, 16.956247, 16.637419, 16.303984, 16.233488, 16.448383,
       15.996965, 15.851464, 15.80007 , 16.4649  , 16.707935, 17.019768,
       16.779787, 17.141195, 16.803822, 16.702295, 16.317692, 16.926527,
       16.529512, 16.955814, 16.433882, 16.490053, 17.00011 , 16.756447,
       16.647795, 17.090094, 17.291588, 17.192186, 17.571009, 17.516544,
       17.136072], dtype=float32)
Coordinates:
  * year     (year) int64 1982 1983 1984 1985 1986 ... 2014 2015 2016 2017 2018
    time     datetime64[ns] 1981-10-29
1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'temp' (year: 300)>
array([15.958466, 16.598175, 16.10376 , ..., 15.593475, 16.036102, 16.056915],
      dtype=float32)
Coordinates:
    st_ocean  float64 1.152
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'temp' (year: 300)>
array([16.075256, 16.378632, 16.029877, ..., 16.279053, 16.62909 , 16.66092 ],
      dtype=float32)
Coordinates:
    st_ocean  float64 1.152
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'temp' (time: 396)>
array([290.5167 , 291.3248 , 291.6533 , ..., 287.86685, 289.39966, 291.40268],
      dtype=float32)
Coordinates:
    st_ocean  float64 0.5413
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'temp' (year: 33)>
array([16.56369 , 16.32547 , 16.221222, 16.523773, 16.548767, 16.414886,
       15.971802, 15.780151, 15.72876 , 15.474182, 15.53302 , 15.313171,
       15.700745, 16.077545, 16.438568, 16.21997 , 16.55362 , 16.15503 ,
       16.284058, 15.928223, 16.371704, 15.886047, 16.306274, 15.986847,
       16.095459, 16.730865, 16.155518, 16.20227 , 16.418335, 16.59314 ,
       16.533875, 16.748718, 16.639252], dtype=float32)
Coordinates:
    st_ocean  float64 0.5413
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979 1980 1981]
[1938 1939 1940 1941 1942 1943 1944 1945]
[1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'temp' (year: 45)>
array([16.368652, 16.10553 ,       inf, 15.782715, 15.741699, 15.959778,
       15.999725, 16.140564, 16.108673, 16.158478, 16.182648, 16.269653,
       16.259064, 16.3078  , 16.38501 , 16.313965, 16.406372, 16.282898,
       16.288696, 16.34253 , 16.214752, 16.311707, 16.336914, 16.32074 ,
       16.35608 , 16.269226, 16.278503, 16.334595, 16.27539 , 16.328125,
       16.354858, 16.393433, 16.31668 , 16.287659, 16.281372, 16.33966 ,
       16.252502, 16.338867, 16.321503, 16.373108, 16.369324, 16.371521,
       16.36792 , 16.316772, 16.278442], dtype=float32)
Coordinates:
    st_ocean  float64 0.5413
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'sst_EAC' (year: 37)>
array([16.307743, 15.994451, 16.007574, 16.384548, 16.26546 , 16.33474 ,
       16.619678, 16.956247, 16.637419, 16.303984, 16.233488, 16.448383,
       15.996965, 15.851464, 15.80007 , 16.4649  , 16.707935, 17.019768,
       16.779787, 17.141195, 16.803822, 16.702295, 16.317692, 16.926527,
       16.529512, 16.955814, 16.433882, 16.490053, 17.00011 , 16.756447,
       16.647795, 17.090094, 17.291588, 17.192186, 17.571009, 17.516544,
       17.136072], dtype=float32)
Coordinates:
  * year     (year) int64 1982 1983 1984 1985 1986 ... 2014 2015 2016 2017 2018
<xarray.DataArray 'sst_1_EAC' (year: 300)>
array([15.958466, 16.598175, 16.10376 , ..., 15.593475, 16.036102, 16.056915],
      dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_025_EAC' (year: 300)>
array([16.075256, 16.378632, 16.029877, ..., 16.279053, 16.62909 , 16.66092 ],
      dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_01_EAC' (year: 33)>
array([16.56369 , 16.32547 , 16.221222, 16.523773, 16.548767, 16.414886,
       15.971802, 15.780151, 15.72876 , 15.474182, 15.53302 , 15.313171,
       15.700745, 16.077545, 16.438568, 16.21997 , 16.55362 , 16.15503 ,
       16.284058, 15.928223, 16.371704, 15.886047, 16.306274, 15.986847,
       16.095459, 16.730865, 16.155518, 16.20227 , 16.418335, 16.59314 ,
       16.533875, 16.748718, 16.639252], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'sst_JRA_EAC' (year: 45)>
array([16.368652, 16.10553 ,       inf, 15.782715, 15.741699, 15.959778,
       15.999725, 16.140564, 16.108673, 16.158478, 16.182648, 16.269653,
       16.259064, 16.3078  , 16.38501 , 16.313965, 16.406372, 16.282898,
       16.288696, 16.34253 , 16.214752, 16.311707, 16.336914, 16.32074 ,
       16.35608 , 16.269226, 16.278503, 16.334595, 16.27539 , 16.328125,
       16.354858, 16.393433, 16.31668 , 16.287659, 16.281372, 16.33966 ,
       16.252502, 16.338867, 16.321503, 16.373108, 16.369324, 16.371521,
       16.36792 , 16.316772, 16.278442], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [159]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Lombok_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    straits_1deg['Lombok Strait'][0],
                                    straits_1deg['Lombok Strait'][1])).\
                        sel(yu_ocean=straits_1deg['Lombok Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_Lombok_1.load()

trans_Lombok_1 = trans_Lombok_1.groupby('time.year').mean('time', skipna=True)
print(trans_Lombok_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Lombok_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    straits_025deg['Lombok Strait'][0],
                                    straits_025deg['Lombok Strait'][1])).\
                        sel(yu_ocean=straits_025deg['Lombok Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_Lombok_025.load()

trans_Lombok_025 = trans_Lombok_025.groupby('time.year').mean('time', skipna=True)
print(trans_Lombok_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Lombok_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    straits_01deg['Lombok Strait'][0],
                                    straits_01deg['Lombok Strait'][1])).\
                        sel(yu_ocean=straits_01deg['Lombok Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_Lombok_01_month.load()
print(trans_Lombok_01_month)

trans_Lombok_01 = trans_Lombok_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_Lombok_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_Lombok_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'ty_trans_int_z',
                        time_units=time_units).\
                        sel(xt_ocean=slice(
                                    straits_01deg['Lombok Strait'][0],
                                    straits_01deg['Lombok Strait'][1])).\
                        sel(yu_ocean=straits_01deg['Lombok Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_Lombok_JRA_month.load()



trans_Lombok_JRA1 = trans_Lombok_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)
trans_Lombok_JRA1 = trans_Lombok_JRA1.assign_coords(year = trans_Lombok_JRA1.year.values + 1944)
print(trans_Lombok_JRA1.year.values)



trans_Lombok_JRA2 = trans_Lombok_JRA_month.isel(time=slice(446,-8))
trans_Lombok_JRA2 = trans_Lombok_JRA2.assign_coords(time = pd.to_datetime(trans_Lombok_JRA2.time.values))
trans_Lombok_JRA2 = trans_Lombok_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_Lombok_JRA2.year.values)
trans_Lombok_JRA2 = trans_Lombok_JRA2.assign_coords(year = trans_Lombok_JRA2.year.values + 44)
print(trans_Lombok_JRA2.year.values)



trans_Lombok_JRA = xr.concat([trans_Lombok_JRA1, trans_Lombok_JRA2], dim='year')
print(trans_Lombok_JRA)

trans_Lombok_1_xr = xr.DataArray(trans_Lombok_1, name='trans_Lombok_1',
                        coords=[trans_Lombok_1.year], 
                        dims=['year'])
print(trans_Lombok_1_xr)
trans_Lombok_1_xr.to_netcdf(output_path_mod + 'trans_Lombok_1.nc')


trans_Lombok_025_xr = xr.DataArray(trans_Lombok_025, name='trans_Lombok_025',
                        coords=[trans_Lombok_025.year], 
                        dims=['year'])
print(trans_Lombok_025_xr)
trans_Lombok_025_xr.to_netcdf(output_path_mod + 'trans_Lombok_025.nc')


trans_Lombok_01_xr = xr.DataArray(trans_Lombok_01, name='trans_Lombok_01',
                        coords=[trans_Lombok_01.year], 
                        dims=['year'])
print(trans_Lombok_01_xr)
trans_Lombok_01_xr.to_netcdf(output_path_mod + 'trans_Lombok_01.nc')


trans_Lombok_JRA_xr = xr.DataArray(trans_Lombok_JRA, name='trans_Lombok_JRA',
                        coords=[trans_Lombok_JRA.year], 
                        dims=['year'])
print(trans_Lombok_JRA_xr)
trans_Lombok_JRA_xr.to_netcdf(output_path_mod + 'trans_Lombok_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([-2.536060e+09, -2.267327e+09, -2.692680e+09, ..., -1.170614e+09,
       -8.835752e+08, -1.722688e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -8.333
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([-4.426434e+09, -3.748144e+09, -4.581447e+09, ..., -2.652775e+09,
       -2.594426e+09, -3.520434e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -8.222
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (time: 396)>
array([-1.996758e+09, -1.844010e+09, -1.359912e+09, ..., -1.239053e+09,
       -1.615494e+09,  1.168396e+08], dtype=float32)
Coordinates:
    yu_ocean  float64 -8.37
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'ty_trans_int_z' (year: 33)>
array([-1.791987e+09, -1.859466e+09, -1.355503e+09, -1.682898e+09,
       -2.050668e+09, -1.652223e+09, -1.569736e+09, -1.638828e+09,
       -1.386180e+09, -1.730005e+09, -1.549295e+09, -1.844732e+09,
       -1.682230e+09, -1.372449e+09, -1.738078e+09, -1.916918e+09,
       -1.863750e+09, -1.785036e+09, -1.559394e+09, -1.742949e+09,
       -1.735988e+09, -1.852707e+09, -1.692348e+09, -1.882983e+09,
       -1.863163e+09, -1.622360e+09, -1.739750e+09, -1.729206e+09,
       -1.697474e+09, -1.528282e+09, -1.360436e+09, -1.328555e+09,
       -1.655979e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -8.37
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'ty_trans_int_z' (year: 46)>
array([-2.055674e+09, -1.974007e+09, -1.959863e+09, -1.946803e+09,
       -1.880305e+09, -1.896221e+09, -1.856205e+09, -1.861192e+09,
       -1.859780e+09, -1.869175e+09, -1.870380e+09, -1.826385e+09,
       -1.849342e+09, -1.849481e+09, -1.864739e+09, -1.833454e+09,
       -1.841807e+09, -1.831788e+09, -1.854024e+09, -1.887556e+09,
       -1.869129e+09, -1.868368e+09, -1.863514e+09, -1.880885e+09,
       -1.878613e+09, -1.854820e+09, -1.858216e+09, -1.859380e+09,
       -1.844282e+09, -1.849102e+09, -1.842314e+09, -1.854902e+09,
       -1.852708e+09, -1.867860e+09, -1.929661e+09, -1.415090e+09,
       -1.853908e+09, -1.846114e+09, -1.863573e+09, -1.826182e+09,
       -1.851331e+09, -1.849602e+09, -1.822281e+09, -1.837172e+09,
       -1.834905e+09, -1.844431e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -8.37
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_Lombok_1' (year: 300)>
array([-2.536060e+09, -2.267327e+09, -2.692680e+09, ..., -1.170614e+09,
       -8.835752e+08, -1.722688e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Lombok_025' (year: 300)>
array([-4.426434e+09, -3.748144e+09, -4.581447e+09, ..., -2.652775e+09,
       -2.594426e+09, -3.520434e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Lombok_01' (year: 33)>
array([-1.791987e+09, -1.859466e+09, -1.355503e+09, -1.682898e+09,
       -2.050668e+09, -1.652223e+09, -1.569736e+09, -1.638828e+09,
       -1.386180e+09, -1.730005e+09, -1.549295e+09, -1.844732e+09,
       -1.682230e+09, -1.372449e+09, -1.738078e+09, -1.916918e+09,
       -1.863750e+09, -1.785036e+09, -1.559394e+09, -1.742949e+09,
       -1.735988e+09, -1.852707e+09, -1.692348e+09, -1.882983e+09,
       -1.863163e+09, -1.622360e+09, -1.739750e+09, -1.729206e+09,
       -1.697474e+09, -1.528282e+09, -1.360436e+09, -1.328555e+09,
       -1.655979e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Lombok_JRA' (year: 46)>
array([-2.055674e+09, -1.974007e+09, -1.959863e+09, -1.946803e+09,
       -1.880305e+09, -1.896221e+09, -1.856205e+09, -1.861192e+09,
       -1.859780e+09, -1.869175e+09, -1.870380e+09, -1.826385e+09,
       -1.849342e+09, -1.849481e+09, -1.864739e+09, -1.833454e+09,
       -1.841807e+09, -1.831788e+09, -1.854024e+09, -1.887556e+09,
       -1.869129e+09, -1.868368e+09, -1.863514e+09, -1.880885e+09,
       -1.878613e+09, -1.854820e+09, -1.858216e+09, -1.859380e+09,
       -1.844282e+09, -1.849102e+09, -1.842314e+09, -1.854902e+09,
       -1.852708e+09, -1.867860e+09, -1.929661e+09, -1.415090e+09,
       -1.853908e+09, -1.846114e+09, -1.863573e+09, -1.826182e+09,
       -1.851331e+09, -1.849602e+09, -1.822281e+09, -1.837172e+09,
       -1.834905e+09, -1.844431e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [163]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Ombai_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=straits_1deg['Ombai Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_1deg['Ombai Strait'][2],
                                    straits_1deg['Ombai Strait'][3])).\
                        sum('yt_ocean')

trans_Ombai_1.load()

trans_Ombai_1 = trans_Ombai_1.groupby('time.year').mean('time', skipna=True)
print(trans_Ombai_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Ombai_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=straits_025deg['Ombai Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_025deg['Ombai Strait'][2],
                                    straits_025deg['Ombai Strait'][3])).\
                        sum('yt_ocean')

trans_Ombai_025.load()

trans_Ombai_025 = trans_Ombai_025.groupby('time.year').mean('time', skipna=True)
print(trans_Ombai_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Ombai_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=straits_01deg['Ombai Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_01deg['Ombai Strait'][2],
                                    straits_01deg['Ombai Strait'][3])).\
                        sum('yt_ocean')

trans_Ombai_01_month.load()
print(trans_Ombai_01_month)

trans_Ombai_01 = trans_Ombai_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_Ombai_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_Ombai_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'tx_trans_int_z',
                        time_units=time_units).\
                        sel(xu_ocean=straits_01deg['Ombai Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_01deg['Ombai Strait'][2],
                                    straits_01deg['Ombai Strait'][3])).\
                        sum('yt_ocean')

trans_Ombai_JRA_month.load()



trans_Ombai_JRA1 = trans_Ombai_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
trans_Ombai_JRA1 = trans_Ombai_JRA1.assign_coords(year = trans_Ombai_JRA1.year.values + 1944)
print(trans_Ombai_JRA1.year.values)



trans_Ombai_JRA2 = trans_Ombai_JRA_month.isel(time=slice(446,-8))
trans_Ombai_JRA2 = trans_Ombai_JRA2.assign_coords(time = pd.to_datetime(trans_Ombai_JRA2.time.values))
trans_Ombai_JRA2 = trans_Ombai_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_Ombai_JRA2.year.values)
trans_Ombai_JRA2 = trans_Ombai_JRA2.assign_coords(year = trans_Ombai_JRA2.year.values + 44)
print(trans_Ombai_JRA2.year.values)



trans_Ombai_JRA = xr.concat([trans_Ombai_JRA1, trans_Ombai_JRA2], dim='year')
print(trans_Ombai_JRA)

trans_Ombai_1_xr = xr.DataArray(trans_Ombai_1, name='trans_Ombai_1',
                        coords=[trans_Ombai_1.year], 
                        dims=['year'])
print(trans_Ombai_1_xr)
trans_Ombai_1_xr.to_netcdf(output_path_mod + 'trans_Ombai_1.nc')


trans_Ombai_025_xr = xr.DataArray(trans_Ombai_025, name='trans_Ombai_025',
                        coords=[trans_Ombai_025.year], 
                        dims=['year'])
print(trans_Ombai_025_xr)
trans_Ombai_025_xr.to_netcdf(output_path_mod + 'trans_Ombai_025.nc')


trans_Ombai_01_xr = xr.DataArray(trans_Ombai_01, name='trans_Ombai_01',
                        coords=[trans_Ombai_01.year], 
                        dims=['year'])
print(trans_Ombai_01_xr)
trans_Ombai_01_xr.to_netcdf(output_path_mod + 'trans_Ombai_01.nc')


trans_Ombai_JRA_xr = xr.DataArray(trans_Ombai_JRA, name='trans_Ombai_JRA',
                        coords=[trans_Ombai_JRA.year], 
                        dims=['year'])
print(trans_Ombai_JRA_xr)
trans_Ombai_JRA_xr.to_netcdf(output_path_mod + 'trans_Ombai_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-1.711938e+09, -1.489394e+09, -1.730812e+09, ..., -1.073833e+09,
       -1.217843e+09, -1.581255e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -237.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-2.416292e+09, -3.539159e+09, -4.119537e+09, ..., -1.914418e+09,
       -4.847229e+09, -4.375667e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -235.5
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (time: 396)>
array([-4.294481e+09, -4.070863e+09, -4.083776e+09, ..., -4.027304e+09,
       -4.152947e+09, -3.917176e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -234.9
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'tx_trans_int_z' (year: 33)>
array([-3.534159e+09, -3.813531e+09, -2.955951e+09, -4.358905e+09,
       -3.805755e+09, -3.839689e+09, -3.604497e+09, -3.976438e+09,
       -4.079289e+09, -3.901340e+09, -4.399118e+09, -4.379817e+09,
       -3.081748e+09, -4.451707e+09, -4.067501e+09, -4.431167e+09,
       -3.963105e+09, -3.161116e+09, -3.786478e+09, -3.618341e+09,
       -4.042075e+09, -3.031591e+09, -3.644293e+09, -3.508180e+09,
       -2.990142e+09, -3.800736e+09, -3.172025e+09, -3.229241e+09,
       -3.681541e+09, -2.981053e+09, -2.167216e+09, -4.439218e+09,
       -3.849771e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -234.9
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'tx_trans_int_z' (year: 46)>
array([-3.525374e+09, -3.391926e+09, -3.689287e+09, -3.601292e+09,
       -3.394237e+09, -3.511486e+09, -3.237713e+09, -3.124604e+09,
       -3.329888e+09, -3.129772e+09, -3.168656e+09, -3.021783e+09,
       -3.084480e+09, -3.146566e+09, -3.199598e+09, -3.122099e+09,
       -3.232381e+09, -3.164303e+09, -3.188088e+09, -3.256198e+09,
       -3.288774e+09, -3.255096e+09, -3.503828e+09, -3.397117e+09,
       -3.200637e+09, -3.538681e+09, -3.305473e+09, -3.574822e+09,
       -3.412410e+09, -3.536465e+09, -3.557949e+09, -3.519455e+09,
       -3.648265e+09, -3.675338e+09, -3.723984e+09, -4.920845e+09,
       -3.856212e+09, -3.990847e+09, -3.742871e+09, -3.837496e+09,
       -3.965512e+09, -3.995029e+09, -3.664552e+09, -3.772271e+09,
       -3.807126e+09, -3.849543e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -234.9
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_Ombai_1' (year: 300)>
array([-1.711938e+09, -1.489394e+09, -1.730812e+09, ..., -1.073833e+09,
       -1.217843e+09, -1.581255e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Ombai_025' (year: 300)>
array([-2.416292e+09, -3.539159e+09, -4.119537e+09, ..., -1.914418e+09,
       -4.847229e+09, -4.375667e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Ombai_01' (year: 33)>
array([-3.534159e+09, -3.813531e+09, -2.955951e+09, -4.358905e+09,
       -3.805755e+09, -3.839689e+09, -3.604497e+09, -3.976438e+09,
       -4.079289e+09, -3.901340e+09, -4.399118e+09, -4.379817e+09,
       -3.081748e+09, -4.451707e+09, -4.067501e+09, -4.431167e+09,
       -3.963105e+09, -3.161116e+09, -3.786478e+09, -3.618341e+09,
       -4.042075e+09, -3.031591e+09, -3.644293e+09, -3.508180e+09,
       -2.990142e+09, -3.800736e+09, -3.172025e+09, -3.229241e+09,
       -3.681541e+09, -2.981053e+09, -2.167216e+09, -4.439218e+09,
       -3.849771e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Ombai_JRA' (year: 46)>
array([-3.525374e+09, -3.391926e+09, -3.689287e+09, -3.601292e+09,
       -3.394237e+09, -3.511486e+09, -3.237713e+09, -3.124604e+09,
       -3.329888e+09, -3.129772e+09, -3.168656e+09, -3.021783e+09,
       -3.084480e+09, -3.146566e+09, -3.199598e+09, -3.122099e+09,
       -3.232381e+09, -3.164303e+09, -3.188088e+09, -3.256198e+09,
       -3.288774e+09, -3.255096e+09, -3.503828e+09, -3.397117e+09,
       -3.200637e+09, -3.538681e+09, -3.305473e+09, -3.574822e+09,
       -3.412410e+09, -3.536465e+09, -3.557949e+09, -3.519455e+09,
       -3.648265e+09, -3.675338e+09, -3.723984e+09, -4.920845e+09,
       -3.856212e+09, -3.990847e+09, -3.742871e+09, -3.837496e+09,
       -3.965512e+09, -3.995029e+09, -3.664552e+09, -3.772271e+09,
       -3.807126e+09, -3.849543e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [164]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Timor_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=straits_1deg['Timor Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_1deg['Timor Strait'][2],
                                    straits_1deg['Timor Strait'][3])).\
                        sum('yt_ocean')

trans_Timor_1.load()

trans_Timor_1 = trans_Timor_1.groupby('time.year').mean('time', skipna=True)
print(trans_Timor_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Timor_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=straits_025deg['Timor Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_025deg['Timor Strait'][2],
                                    straits_025deg['Timor Strait'][3])).\
                        sum('yt_ocean')

trans_Timor_025.load()

trans_Timor_025 = trans_Timor_025.groupby('time.year').mean('time', skipna=True)
print(trans_Timor_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_Timor_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=straits_01deg['Timor Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_01deg['Timor Strait'][2],
                                    straits_01deg['Timor Strait'][3])).\
                        sum('yt_ocean')

trans_Timor_01_month.load()
print(trans_Timor_01_month)

trans_Timor_01 = trans_Timor_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_Timor_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_Timor_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'tx_trans_int_z',
                        time_units=time_units).\
                        sel(xu_ocean=straits_01deg['Timor Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    straits_01deg['Timor Strait'][2],
                                    straits_01deg['Timor Strait'][3])).\
                        sum('yt_ocean')

trans_Timor_JRA_month.load()



trans_Timor_JRA1 = trans_Timor_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
trans_Timor_JRA1 = trans_Timor_JRA1.assign_coords(year = trans_Timor_JRA1.year.values + 1944)
print(trans_Timor_JRA1.year.values)



trans_Timor_JRA2 = trans_Timor_JRA_month.isel(time=slice(446,-8))
trans_Timor_JRA2 = trans_Timor_JRA2.assign_coords(time = pd.to_datetime(trans_Timor_JRA2.time.values))
trans_Timor_JRA2 = trans_Timor_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_Timor_JRA2.year.values)
trans_Timor_JRA2 = trans_Timor_JRA2.assign_coords(year = trans_Timor_JRA2.year.values + 44)
print(trans_Timor_JRA2.year.values)



trans_Timor_JRA = xr.concat([trans_Timor_JRA1, trans_Timor_JRA2], dim='year')
print(trans_Timor_JRA)

trans_Timor_1_xr = xr.DataArray(trans_Timor_1, name='trans_Timor_1',
                        coords=[trans_Timor_1.year], 
                        dims=['year'])
print(trans_Timor_1_xr)
trans_Timor_1_xr.to_netcdf(output_path_mod + 'trans_Timor_1.nc')


trans_Timor_025_xr = xr.DataArray(trans_Timor_025, name='trans_Timor_025',
                        coords=[trans_Timor_025.year], 
                        dims=['year'])
print(trans_Timor_025_xr)
trans_Timor_025_xr.to_netcdf(output_path_mod + 'trans_Timor_025.nc')


trans_Timor_01_xr = xr.DataArray(trans_Timor_01, name='trans_Timor_01',
                        coords=[trans_Timor_01.year], 
                        dims=['year'])
print(trans_Timor_01_xr)
trans_Timor_01_xr.to_netcdf(output_path_mod + 'trans_Timor_01.nc')


trans_Timor_JRA_xr = xr.DataArray(trans_Timor_JRA, name='trans_Timor_JRA',
                        coords=[trans_Timor_JRA.year], 
                        dims=['year'])
print(trans_Timor_JRA_xr)
trans_Timor_JRA_xr.to_netcdf(output_path_mod + 'trans_Timor_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-9.255442e+09, -8.597771e+09, -8.625693e+09, ..., -5.770750e+09,
       -6.939341e+09, -7.678978e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -233.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-5.775532e+09, -5.755443e+09, -5.458887e+09, ..., -3.829644e+09,
       -4.430413e+09, -4.640790e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -233.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (time: 396)>
array([-6.096585e+09, -8.488113e+09, -9.552884e+09, ..., -9.042548e+09,
       -6.928557e+09, -6.431465e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -232.6
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'tx_trans_int_z' (year: 33)>
array([-8.534616e+09, -8.872569e+09, -8.326733e+09, -1.002689e+10,
       -9.397474e+09, -8.474212e+09, -8.072788e+09, -7.982731e+09,
       -8.446212e+09, -9.726078e+09, -8.881703e+09, -9.484391e+09,
       -8.034655e+09, -8.613029e+09, -9.584317e+09, -9.535971e+09,
       -8.907929e+09, -8.258605e+09, -8.709797e+09, -8.174819e+09,
       -8.383441e+09, -8.946537e+09, -8.711623e+09, -9.575980e+09,
       -7.811327e+09, -8.152422e+09, -8.757967e+09, -8.890083e+09,
       -8.616758e+09, -7.592937e+09, -6.490145e+09, -7.486282e+09,
       -8.780278e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -232.6
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'tx_trans_int_z' (year: 46)>
array([-8.829210e+09, -8.872858e+09, -8.999882e+09, -8.877494e+09,
       -8.493164e+09, -8.632946e+09, -8.234982e+09, -8.152480e+09,
       -8.337673e+09, -8.362563e+09, -8.301734e+09, -8.175336e+09,
       -8.200161e+09, -8.315778e+09, -8.400218e+09, -8.341599e+09,
       -8.521912e+09, -8.358650e+09, -8.415799e+09, -8.565150e+09,
       -8.583425e+09, -8.597702e+09, -8.799795e+09, -8.806618e+09,
       -8.586814e+09, -8.897681e+09, -8.890265e+09, -8.810080e+09,
       -8.795608e+09, -8.795401e+09, -9.042806e+09, -8.885911e+09,
       -9.138745e+09, -9.252857e+09, -9.752189e+09, -1.010006e+10,
       -9.423045e+09, -9.333006e+09, -9.143152e+09, -9.097809e+09,
       -9.245029e+09, -9.294851e+09, -8.999479e+09, -9.263285e+09,
       -9.043971e+09, -9.151755e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -232.6
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_Timor_1' (year: 300)>
array([-9.255442e+09, -8.597771e+09, -8.625693e+09, ..., -5.770750e+09,
       -6.939341e+09, -7.678978e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Timor_025' (year: 300)>
array([-5.775532e+09, -5.755443e+09, -5.458887e+09, ..., -3.829644e+09,
       -4.430413e+09, -4.640790e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Timor_01' (year: 33)>
array([-8.534616e+09, -8.872569e+09, -8.326733e+09, -1.002689e+10,
       -9.397474e+09, -8.474212e+09, -8.072788e+09, -7.982731e+09,
       -8.446212e+09, -9.726078e+09, -8.881703e+09, -9.484391e+09,
       -8.034655e+09, -8.613029e+09, -9.584317e+09, -9.535971e+09,
       -8.907929e+09, -8.258605e+09, -8.709797e+09, -8.174819e+09,
       -8.383441e+09, -8.946537e+09, -8.711623e+09, -9.575980e+09,
       -7.811327e+09, -8.152422e+09, -8.757967e+09, -8.890083e+09,
       -8.616758e+09, -7.592937e+09, -6.490145e+09, -7.486282e+09,
       -8.780278e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_Timor_JRA' (year: 46)>
array([-8.829210e+09, -8.872858e+09, -8.999882e+09, -8.877494e+09,
       -8.493164e+09, -8.632946e+09, -8.234982e+09, -8.152480e+09,
       -8.337673e+09, -8.362563e+09, -8.301734e+09, -8.175336e+09,
       -8.200161e+09, -8.315778e+09, -8.400218e+09, -8.341599e+09,
       -8.521912e+09, -8.358650e+09, -8.415799e+09, -8.565150e+09,
       -8.583425e+09, -8.597702e+09, -8.799795e+09, -8.806618e+09,
       -8.586814e+09, -8.897681e+09, -8.890265e+09, -8.810080e+09,
       -8.795608e+09, -8.795401e+09, -9.042806e+09, -8.885911e+09,
       -9.138745e+09, -9.252857e+09, -9.752189e+09, -1.010006e+10,
       -9.423045e+09, -9.333006e+09, -9.143152e+09, -9.097809e+09,
       -9.245029e+09, -9.294851e+09, -8.999479e+09, -9.263285e+09,
       -9.043971e+09, -9.151755e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [14]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_north_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    LC['LC_north Strait'][0],
                                    LC['LC_north Strait'][1])).\
                        sel(yu_ocean=LC['LC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_north_1.load()

trans_LC_north_1 = trans_LC_north_1.groupby('time.year').mean('time', skipna=True)
print(trans_LC_north_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_north_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    LC['LC_north Strait'][0],
                                    LC['LC_north Strait'][1])).\
                        sel(yu_ocean=LC['LC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_north_025.load()

trans_LC_north_025 = trans_LC_north_025.groupby('time.year').mean('time', skipna=True)
print(trans_LC_north_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_north_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    LC['LC_north Strait'][0],
                                    LC['LC_north Strait'][1])).\
                        sel(yu_ocean=LC['LC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_north_01_month.load()
print(trans_LC_north_01_month)

trans_LC_north_01 = trans_LC_north_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_LC_north_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_LC_north_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'ty_trans_int_z',
                        time_units=time_units).\
                        sel(xt_ocean=slice(
                                    LC['LC_north Strait'][0],
                                    LC['LC_north Strait'][1])).\
                        sel(yu_ocean=LC['LC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_north_JRA_month.load()



trans_LC_north_JRA1 = trans_LC_north_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)
trans_LC_north_JRA1 = trans_LC_north_JRA1.assign_coords(year = trans_LC_north_JRA1.year.values + 1944)
print(trans_LC_north_JRA1.year.values)



trans_LC_north_JRA2 = trans_LC_north_JRA_month.isel(time=slice(446,-8))
trans_LC_north_JRA2 = trans_LC_north_JRA2.assign_coords(time = pd.to_datetime(trans_LC_north_JRA2.time.values))
trans_LC_north_JRA2 = trans_LC_north_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_LC_north_JRA2.year.values)
trans_LC_north_JRA2 = trans_LC_north_JRA2.assign_coords(year = trans_LC_north_JRA2.year.values + 44)
print(trans_LC_north_JRA2.year.values)



trans_LC_north_JRA = xr.concat([trans_LC_north_JRA1, trans_LC_north_JRA2], dim='year')
print(trans_LC_north_JRA)

trans_LC_north_1_xr = xr.DataArray(trans_LC_north_1, name='trans_LC_north_1',
                        coords=[trans_LC_north_1.year], 
                        dims=['year'])
print(trans_LC_north_1_xr)
trans_LC_north_1_xr.to_netcdf(output_path_mod + 'trans_LC_north_1.nc')


trans_LC_north_025_xr = xr.DataArray(trans_LC_north_025, name='trans_LC_north_025',
                        coords=[trans_LC_north_025.year], 
                        dims=['year'])
print(trans_LC_north_025_xr)
trans_LC_north_025_xr.to_netcdf(output_path_mod + 'trans_LC_north_025.nc')


trans_LC_north_01_xr = xr.DataArray(trans_LC_north_01, name='trans_LC_north_01',
                        coords=[trans_LC_north_01.year], 
                        dims=['year'])
print(trans_LC_north_01_xr)
trans_LC_north_01_xr.to_netcdf(output_path_mod + 'trans_LC_north_01.nc')


trans_LC_north_JRA_xr = xr.DataArray(trans_LC_north_JRA, name='trans_LC_north_JRA',
                        coords=[trans_LC_north_JRA.year], 
                        dims=['year'])
print(trans_LC_north_JRA_xr)
trans_LC_north_JRA_xr.to_netcdf(output_path_mod + 'trans_LC_north_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([-4.714722e+08, -1.168025e+09, -7.315914e+08, ..., -7.498778e+08,
       -1.170095e+09, -6.821622e+08], dtype=float32)
Coordinates:
    yu_ocean  float64 -19.76
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([ 7.944111e+07, -6.057388e+08, -1.201784e+09, ..., -8.241946e+08,
       -1.119897e+09, -1.349915e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -20.08
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (time: 396)>
array([-1.027030e+10, -1.341855e+10, -1.100319e+10, ..., -6.072657e+09,
        1.320742e+09, -1.138209e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -19.98
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'ty_trans_int_z' (year: 33)>
array([-2.880042e+09, -2.245682e+09, -2.532337e+09, -3.120381e+09,
       -9.133862e+08, -3.142898e+09,  1.505639e+09, -2.274833e+09,
       -1.118837e+09, -1.411073e+09, -2.693072e+09, -1.765499e+09,
        2.957914e+07, -2.796504e+09, -2.509447e+09, -2.845204e+09,
       -2.436579e+09, -9.589076e+08, -2.230869e+09, -1.775134e+09,
       -2.313766e+09, -1.487084e+09, -3.603326e+09, -3.349924e+09,
       -1.393426e+09, -6.987878e+07, -1.933059e+09, -2.325455e+09,
       -3.596835e+09, -2.636481e+09, -2.870280e+09, -2.054100e+09,
       -1.992892e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -19.98
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'ty_trans_int_z' (year: 46)>
array([-2.014380e+09, -3.540713e+09, -9.593305e+08, -2.393486e+09,
       -1.278055e+09, -2.708209e+09, -3.088868e+09, -2.297633e+09,
       -3.500975e+09, -1.608279e+09, -2.606500e+09, -3.104387e+09,
       -2.792367e+09, -2.678605e+09, -1.774276e+09, -1.602805e+09,
       -1.860248e+09, -1.314120e+09, -1.814518e+09, -1.951641e+09,
       -2.145598e+09, -1.601736e+09, -2.613076e+09, -2.429182e+09,
       -1.786237e+09, -2.717785e+09, -2.105703e+09, -3.432271e+08,
       -3.235606e+09, -2.310002e+09, -1.586619e+09, -2.496599e+09,
       -2.395932e+09, -1.027851e+09, -1.677109e+09, -6.884438e+09,
       -4.254104e+08, -1.483449e+09, -2.603093e+09, -3.098369e+09,
       -2.431354e+09, -2.909556e+09, -2.996722e+09, -1.980994e+09,
       -2.299969e+09, -3.059730e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -19.98
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_LC_north_1' (year: 300)>
array([-4.714722e+08, -1.168025e+09, -7.315914e+08, ..., -7.498778e+08,
       -1.170095e+09, -6.821622e+08], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_north_025' (year: 300)>
array([ 7.944111e+07, -6.057388e+08, -1.201784e+09, ..., -8.241946e+08,
       -1.119897e+09, -1.349915e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_north_01' (year: 33)>
array([-2.880042e+09, -2.245682e+09, -2.532337e+09, -3.120381e+09,
       -9.133862e+08, -3.142898e+09,  1.505639e+09, -2.274833e+09,
       -1.118837e+09, -1.411073e+09, -2.693072e+09, -1.765499e+09,
        2.957914e+07, -2.796504e+09, -2.509447e+09, -2.845204e+09,
       -2.436579e+09, -9.589076e+08, -2.230869e+09, -1.775134e+09,
       -2.313766e+09, -1.487084e+09, -3.603326e+09, -3.349924e+09,
       -1.393426e+09, -6.987878e+07, -1.933059e+09, -2.325455e+09,
       -3.596835e+09, -2.636481e+09, -2.870280e+09, -2.054100e+09,
       -1.992892e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_north_JRA' (year: 46)>
array([-2.014380e+09, -3.540713e+09, -9.593305e+08, -2.393486e+09,
       -1.278055e+09, -2.708209e+09, -3.088868e+09, -2.297633e+09,
       -3.500975e+09, -1.608279e+09, -2.606500e+09, -3.104387e+09,
       -2.792367e+09, -2.678605e+09, -1.774276e+09, -1.602805e+09,
       -1.860248e+09, -1.314120e+09, -1.814518e+09, -1.951641e+09,
       -2.145598e+09, -1.601736e+09, -2.613076e+09, -2.429182e+09,
       -1.786237e+09, -2.717785e+09, -2.105703e+09, -3.432271e+08,
       -3.235606e+09, -2.310002e+09, -1.586619e+09, -2.496599e+09,
       -2.395932e+09, -1.027851e+09, -1.677109e+09, -6.884438e+09,
       -4.254104e+08, -1.483449e+09, -2.603093e+09, -3.098369e+09,
       -2.431354e+09, -2.909556e+09, -2.996722e+09, -1.980994e+09,
       -2.299969e+09, -3.059730e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [15]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_west_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=LC['LC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    LC['LC_west Strait'][2],
                                    LC['LC_west Strait'][3])).\
                        sum('yt_ocean')

trans_LC_west_1.load()

trans_LC_west_1 = trans_LC_west_1.groupby('time.year').mean('time', skipna=True)
print(trans_LC_west_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_west_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=LC['LC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    LC['LC_west Strait'][2],
                                    LC['LC_west Strait'][3])).\
                        sum('yt_ocean')

trans_LC_west_025.load()

trans_LC_west_025 = trans_LC_west_025.groupby('time.year').mean('time', skipna=True)
print(trans_LC_west_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_west_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=LC['LC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    LC['LC_west Strait'][2],
                                    LC['LC_west Strait'][3])).\
                        sum('yt_ocean')

trans_LC_west_01_month.load()
print(trans_LC_west_01_month)

trans_LC_west_01 = trans_LC_west_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_LC_west_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_LC_west_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'tx_trans_int_z',
                        time_units=time_units).\
                        sel(xu_ocean=LC['LC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    LC['LC_west Strait'][2],
                                    LC['LC_west Strait'][3])).\
                        sum('yt_ocean')

trans_LC_west_JRA_month.load()



trans_LC_west_JRA1 = trans_LC_west_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
trans_LC_west_JRA1 = trans_LC_west_JRA1.assign_coords(year = trans_LC_west_JRA1.year.values + 1944)
print(trans_LC_west_JRA1.year.values)



trans_LC_west_JRA2 = trans_LC_west_JRA_month.isel(time=slice(446,-8))
trans_LC_west_JRA2 = trans_LC_west_JRA2.assign_coords(time = pd.to_datetime(trans_LC_west_JRA2.time.values))
trans_LC_west_JRA2 = trans_LC_west_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_LC_west_JRA2.year.values)
trans_LC_west_JRA2 = trans_LC_west_JRA2.assign_coords(year = trans_LC_west_JRA2.year.values + 44)
print(trans_LC_west_JRA2.year.values)



trans_LC_west_JRA = xr.concat([trans_LC_west_JRA1, trans_LC_west_JRA2], dim='year')
print(trans_LC_west_JRA)

trans_LC_west_1_xr = xr.DataArray(trans_LC_west_1, name='trans_LC_west_1',
                        coords=[trans_LC_west_1.year], 
                        dims=['year'])
print(trans_LC_west_1_xr)
trans_LC_west_1_xr.to_netcdf(output_path_mod + 'trans_LC_west_1.nc')


trans_LC_west_025_xr = xr.DataArray(trans_LC_west_025, name='trans_LC_west_025',
                        coords=[trans_LC_west_025.year], 
                        dims=['year'])
print(trans_LC_west_025_xr)
trans_LC_west_025_xr.to_netcdf(output_path_mod + 'trans_LC_west_025.nc')


trans_LC_west_01_xr = xr.DataArray(trans_LC_west_01, name='trans_LC_west_01',
                        coords=[trans_LC_west_01.year], 
                        dims=['year'])
print(trans_LC_west_01_xr)
trans_LC_west_01_xr.to_netcdf(output_path_mod + 'trans_LC_west_01.nc')


trans_LC_west_JRA_xr = xr.DataArray(trans_LC_west_JRA, name='trans_LC_west_JRA',
                        coords=[trans_LC_west_JRA.year], 
                        dims=['year'])
print(trans_LC_west_JRA_xr)
trans_LC_west_JRA_xr.to_netcdf(output_path_mod + 'trans_LC_west_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-2.278609e+09, -1.128616e+09, -6.392310e+08, ..., -1.381122e+09,
       -1.150898e+09, -1.887658e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -250.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-3.720381e+09, -4.009635e+08, -5.974705e+09, ..., -3.349691e+09,
       -5.052578e+09, -3.466136e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -250.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (time: 396)>
array([-1.525253e+10, -5.392368e+09, -1.155146e+10, ..., -8.382273e+09,
       -2.259162e+07,  1.745979e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -250.0
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'tx_trans_int_z' (year: 33)>
array([-9.955450e+09, -6.838510e+09, -6.500993e+09, -6.136808e+09,
       -5.539768e+09, -7.004965e+09, -3.033584e+09, -4.342885e+09,
       -2.520218e+09, -9.440236e+09, -6.019913e+09, -5.366622e+09,
       -8.965946e+08, -3.724859e+09, -1.581956e+08, -5.548368e+09,
       -8.160902e+09, -4.303132e+09, -9.100168e+08, -8.002589e+09,
       -4.665958e+09, -7.004223e+09, -6.166902e+09, -5.039043e+09,
       -4.414700e+09, -2.198524e+09, -3.699926e+09, -1.060775e+10,
       -8.786091e+09, -7.709741e+09, -6.793230e+09, -5.445814e+09,
       -3.956031e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -250.0
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'tx_trans_int_z' (year: 46)>
array([-7.084899e+09, -6.522279e+09, -4.398812e+09, -5.765498e+09,
        1.748226e+09, -4.497262e+09, -6.224754e+09, -3.447987e+09,
       -7.757716e+09, -4.676524e+09, -5.075930e+09, -8.972026e+09,
       -4.883807e+09, -5.448971e+09, -4.234938e+09, -4.967610e+09,
       -3.256817e+09, -3.380712e+09, -9.976468e+09, -6.359994e+09,
       -5.223665e+09, -3.563205e+09, -8.039938e+09, -9.244295e+09,
       -7.724086e+09, -5.678681e+09, -3.513470e+09, -3.214457e+09,
       -3.919916e+09, -5.110227e+09, -8.515898e+09, -6.536595e+09,
       -8.489618e+09, -1.951503e+09, -3.273526e+09, -4.295874e+09,
       -6.230674e+09, -5.960925e+09, -6.197245e+09, -8.385990e+09,
       -5.022371e+09, -6.781168e+09, -5.878739e+09, -5.219143e+09,
       -9.689138e+09, -7.750510e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -250.0
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_LC_west_1' (year: 300)>
array([-2.278609e+09, -1.128616e+09, -6.392310e+08, ..., -1.381122e+09,
       -1.150898e+09, -1.887658e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_west_025' (year: 300)>
array([-3.720381e+09, -4.009635e+08, -5.974705e+09, ..., -3.349691e+09,
       -5.052578e+09, -3.466136e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_west_01' (year: 33)>
array([-9.955450e+09, -6.838510e+09, -6.500993e+09, -6.136808e+09,
       -5.539768e+09, -7.004965e+09, -3.033584e+09, -4.342885e+09,
       -2.520218e+09, -9.440236e+09, -6.019913e+09, -5.366622e+09,
       -8.965946e+08, -3.724859e+09, -1.581956e+08, -5.548368e+09,
       -8.160902e+09, -4.303132e+09, -9.100168e+08, -8.002589e+09,
       -4.665958e+09, -7.004223e+09, -6.166902e+09, -5.039043e+09,
       -4.414700e+09, -2.198524e+09, -3.699926e+09, -1.060775e+10,
       -8.786091e+09, -7.709741e+09, -6.793230e+09, -5.445814e+09,
       -3.956031e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_west_JRA' (year: 46)>
array([-7.084899e+09, -6.522279e+09, -4.398812e+09, -5.765498e+09,
        1.748226e+09, -4.497262e+09, -6.224754e+09, -3.447987e+09,
       -7.757716e+09, -4.676524e+09, -5.075930e+09, -8.972026e+09,
       -4.883807e+09, -5.448971e+09, -4.234938e+09, -4.967610e+09,
       -3.256817e+09, -3.380712e+09, -9.976468e+09, -6.359994e+09,
       -5.223665e+09, -3.563205e+09, -8.039938e+09, -9.244295e+09,
       -7.724086e+09, -5.678681e+09, -3.513470e+09, -3.214457e+09,
       -3.919916e+09, -5.110227e+09, -8.515898e+09, -6.536595e+09,
       -8.489618e+09, -1.951503e+09, -3.273526e+09, -4.295874e+09,
       -6.230674e+09, -5.960925e+09, -6.197245e+09, -8.385990e+09,
       -5.022371e+09, -6.781168e+09, -5.878739e+09, -5.219143e+09,
       -9.689138e+09, -7.750510e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [18]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_south_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    LC['LC_south Strait'][0],
                                    LC['LC_south Strait'][1])).\
                        sel(yu_ocean=LC['LC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_south_1.load()

trans_LC_south_1 = trans_LC_south_1.groupby('time.year').mean('time', skipna=True)
print(trans_LC_south_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_south_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    LC['LC_south Strait'][0],
                                    LC['LC_south Strait'][1])).\
                        sel(yu_ocean=LC['LC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_south_025.load()

trans_LC_south_025 = trans_LC_south_025.groupby('time.year').mean('time', skipna=True)
print(trans_LC_south_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_LC_south_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    LC['LC_south Strait'][0],
                                    LC['LC_south Strait'][1])).\
                        sel(yu_ocean=LC['LC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_south_01_month.load()
print(trans_LC_south_01_month)

trans_LC_south_01 = trans_LC_south_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_LC_south_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_LC_south_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'ty_trans_int_z',
                        time_units=time_units).\
                        sel(xt_ocean=slice(
                                    LC['LC_south Strait'][0],
                                    LC['LC_south Strait'][1])).\
                        sel(yu_ocean=LC['LC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_LC_south_JRA_month.load()



trans_LC_south_JRA1 = trans_LC_south_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)
trans_LC_south_JRA1 = trans_LC_south_JRA1.assign_coords(year = trans_LC_south_JRA1.year.values + 1944)
print(trans_LC_south_JRA1.year.values)



trans_LC_south_JRA2 = trans_LC_south_JRA_month.isel(time=slice(446,-8))
trans_LC_south_JRA2 = trans_LC_south_JRA2.assign_coords(time = pd.to_datetime(trans_LC_south_JRA2.time.values))
trans_LC_south_JRA2 = trans_LC_south_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_LC_south_JRA2.year.values)
trans_LC_south_JRA2 = trans_LC_south_JRA2.assign_coords(year = trans_LC_south_JRA2.year.values + 44)
print(trans_LC_south_JRA2.year.values)



trans_LC_south_JRA = xr.concat([trans_LC_south_JRA1, trans_LC_south_JRA2], dim='year')
print(trans_LC_south_JRA)

trans_LC_south_1_xr = xr.DataArray(trans_LC_south_1, name='trans_LC_south_1',
                        coords=[trans_LC_south_1.year], 
                        dims=['year'])
print(trans_LC_south_1_xr)
trans_LC_south_1_xr.to_netcdf(output_path_mod + 'trans_LC_south_1.nc')


trans_LC_south_025_xr = xr.DataArray(trans_LC_south_025, name='trans_LC_south_025',
                        coords=[trans_LC_south_025.year], 
                        dims=['year'])
print(trans_LC_south_025_xr)
trans_LC_south_025_xr.to_netcdf(output_path_mod + 'trans_LC_south_025.nc')


trans_LC_south_01_xr = xr.DataArray(trans_LC_south_01, name='trans_LC_south_01',
                        coords=[trans_LC_south_01.year], 
                        dims=['year'])
print(trans_LC_south_01_xr)
trans_LC_south_01_xr.to_netcdf(output_path_mod + 'trans_LC_south_01.nc')


trans_LC_south_JRA_xr = xr.DataArray(trans_LC_south_JRA, name='trans_LC_south_JRA',
                        coords=[trans_LC_south_JRA.year], 
                        dims=['year'])
print(trans_LC_south_JRA_xr)
trans_LC_south_JRA_xr.to_netcdf(output_path_mod + 'trans_LC_south_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([ 1.862572e+09, -1.979523e+06, -5.287554e+07, ...,  6.683076e+08,
        2.580034e+07,  1.249554e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -33.99
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([ 3.850310e+09, -1.684210e+08,  4.810282e+09, ...,  2.559687e+09,
        3.974610e+09,  2.157894e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -34.05
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (time: 396)>
array([ 5.032639e+09, -7.999295e+09,  5.929608e+08, ...,  2.349344e+09,
        1.387754e+09, -2.836770e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -34.01
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'ty_trans_int_z' (year: 33)>
array([ 7.114092e+09,  4.630710e+09,  4.002986e+09,  3.055637e+09,
        4.667643e+09,  3.899451e+09,  4.574073e+09,  2.101872e+09,
        1.439434e+09,  8.069652e+09,  3.365174e+09,  3.639611e+09,
        9.591610e+08,  9.670586e+08, -2.315756e+09,  2.743019e+09,
        5.766457e+09,  3.381916e+09, -1.280846e+09,  6.266917e+09,
        2.389511e+09,  5.557866e+09,  2.605726e+09,  1.725897e+09,
        3.062296e+09,  2.170485e+09,  1.799116e+09,  8.320697e+09,
        5.227619e+09,  5.111032e+09,  3.955922e+09,  3.432648e+09,
        2.003921e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -34.01
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'ty_trans_int_z' (year: 46)>
array([ 5.114500e+09,  3.017620e+09,  3.476464e+09,  3.408734e+09,
       -2.989321e+09,  1.825105e+09,  3.172583e+09,  1.186656e+09,
        4.294377e+09,  3.105690e+09,  2.507292e+09,  5.904312e+09,
        2.127943e+09,  2.808006e+09,  2.498557e+09,  3.401557e+09,
        1.434109e+09,  2.103586e+09,  8.199188e+09,  4.445303e+09,
        3.114977e+09,  1.997975e+09,  5.463452e+09,  6.851837e+09,
        5.974635e+09,  2.998125e+09,  1.444450e+09,  2.907547e+09,
        7.214700e+08,  2.836959e+09,  6.965672e+09,  4.077099e+09,
        6.130755e+09,  9.601987e+08,  1.633130e+09, -2.540470e+09,
        5.842014e+09,  4.514047e+09,  3.630535e+09,  5.324109e+09,
        2.627947e+09,  3.907769e+09,  2.919094e+09,  3.274810e+09,
        7.425607e+09,  4.727035e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -34.01
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_LC_south_1' (year: 300)>
array([ 1.862572e+09, -1.979523e+06, -5.287554e+07, ...,  6.683076e+08,
        2.580034e+07,  1.249554e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_south_025' (year: 300)>
array([ 3.850310e+09, -1.684210e+08,  4.810282e+09, ...,  2.559687e+09,
        3.974610e+09,  2.157894e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_south_01' (year: 33)>
array([ 7.114092e+09,  4.630710e+09,  4.002986e+09,  3.055637e+09,
        4.667643e+09,  3.899451e+09,  4.574073e+09,  2.101872e+09,
        1.439434e+09,  8.069652e+09,  3.365174e+09,  3.639611e+09,
        9.591610e+08,  9.670586e+08, -2.315756e+09,  2.743019e+09,
        5.766457e+09,  3.381916e+09, -1.280846e+09,  6.266917e+09,
        2.389511e+09,  5.557866e+09,  2.605726e+09,  1.725897e+09,
        3.062296e+09,  2.170485e+09,  1.799116e+09,  8.320697e+09,
        5.227619e+09,  5.111032e+09,  3.955922e+09,  3.432648e+09,
        2.003921e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_LC_south_JRA' (year: 46)>
array([ 5.114500e+09,  3.017620e+09,  3.476464e+09,  3.408734e+09,
       -2.989321e+09,  1.825105e+09,  3.172583e+09,  1.186656e+09,
        4.294377e+09,  3.105690e+09,  2.507292e+09,  5.904312e+09,
        2.127943e+09,  2.808006e+09,  2.498557e+09,  3.401557e+09,
        1.434109e+09,  2.103586e+09,  8.199188e+09,  4.445303e+09,
        3.114977e+09,  1.997975e+09,  5.463452e+09,  6.851837e+09,
        5.974635e+09,  2.998125e+09,  1.444450e+09,  2.907547e+09,
        7.214700e+08,  2.836959e+09,  6.965672e+09,  4.077099e+09,
        6.130755e+09,  9.601987e+08,  1.633130e+09, -2.540470e+09,
        5.842014e+09,  4.514047e+09,  3.630535e+09,  5.324109e+09,
        2.627947e+09,  3.907769e+09,  2.919094e+09,  3.274810e+09,
        7.425607e+09,  4.727035e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [16]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_line_157E_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=line_157E['line_157E Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    line_157E['line_157E Strait'][2],
                                    line_157E['line_157E Strait'][3])).\
                        sum('yt_ocean')

trans_line_157E_1.load()

trans_line_157E_1 = trans_line_157E_1.groupby('time.year').mean('time', skipna=True)
print(trans_line_157E_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_line_157E_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=line_157E['line_157E Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    line_157E['line_157E Strait'][2],
                                    line_157E['line_157E Strait'][3])).\
                        sum('yt_ocean')

trans_line_157E_025.load()

trans_line_157E_025 = trans_line_157E_025.groupby('time.year').mean('time', skipna=True)
print(trans_line_157E_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_line_157E_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=line_157E['line_157E Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    line_157E['line_157E Strait'][2],
                                    line_157E['line_157E Strait'][3])).\
                        sum('yt_ocean')

trans_line_157E_01_month.load()
print(trans_line_157E_01_month)

trans_line_157E_01 = trans_line_157E_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_line_157E_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_line_157E_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'tx_trans_int_z',
                        time_units=time_units).\
                        sel(xu_ocean=line_157E['line_157E Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    line_157E['line_157E Strait'][2],
                                    line_157E['line_157E Strait'][3])).\
                        sum('yt_ocean')

trans_line_157E_JRA_month.load()



trans_line_157E_JRA1 = trans_line_157E_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
trans_line_157E_JRA1 = trans_line_157E_JRA1.assign_coords(year = trans_line_157E_JRA1.year.values + 1944)
print(trans_line_157E_JRA1.year.values)



trans_line_157E_JRA2 = trans_line_157E_JRA_month.isel(time=slice(446,-8))
trans_line_157E_JRA2 = trans_line_157E_JRA2.assign_coords(time = pd.to_datetime(trans_line_157E_JRA2.time.values))
trans_line_157E_JRA2 = trans_line_157E_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_line_157E_JRA2.year.values)
trans_line_157E_JRA2 = trans_line_157E_JRA2.assign_coords(year = trans_line_157E_JRA2.year.values + 44)
print(trans_line_157E_JRA2.year.values)



trans_line_157E_JRA = xr.concat([trans_line_157E_JRA1, trans_line_157E_JRA2], dim='year')
print(trans_line_157E_JRA)

trans_line_157E_1_xr = xr.DataArray(trans_line_157E_1, name='trans_line_157E_1',
                        coords=[trans_line_157E_1.year], 
                        dims=['year'])
print(trans_line_157E_1_xr)
trans_line_157E_1_xr.to_netcdf(output_path_mod + 'trans_line_157E_1.nc')


trans_line_157E_025_xr = xr.DataArray(trans_line_157E_025, name='trans_line_157E_025',
                        coords=[trans_line_157E_025.year], 
                        dims=['year'])
print(trans_line_157E_025_xr)
trans_line_157E_025_xr.to_netcdf(output_path_mod + 'trans_line_157E_025.nc')


trans_line_157E_01_xr = xr.DataArray(trans_line_157E_01, name='trans_line_157E_01',
                        coords=[trans_line_157E_01.year], 
                        dims=['year'])
print(trans_line_157E_01_xr)
trans_line_157E_01_xr.to_netcdf(output_path_mod + 'trans_line_157E_01.nc')


trans_line_157E_JRA_xr = xr.DataArray(trans_line_157E_JRA, name='trans_line_157E_JRA',
                        coords=[trans_line_157E_JRA.year], 
                        dims=['year'])
print(trans_line_157E_JRA_xr)
trans_line_157E_JRA_xr.to_netcdf(output_path_mod + 'trans_line_157E_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-1.047197e+10, -9.629212e+09, -1.013856e+10, ..., -3.435272e+09,
       -5.054287e+09, -3.777028e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-1.135615e+10, -9.013612e+09, -4.687366e+09, ..., -7.467319e+09,
       -1.053404e+10, -1.023980e+10], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (time: 396)>
array([-3.347310e+10, -1.849361e+10, -1.097579e+10, ...,  2.617597e+10,
        2.639495e+10,  5.993112e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'tx_trans_int_z' (year: 33)>
array([-1.227386e+10, -1.370488e+10, -1.619080e+10, -6.670295e+09,
       -2.088475e+10, -1.276886e+10, -1.369767e+10, -2.967740e+07,
       -3.596639e+09, -8.274284e+09,  4.958975e+09, -6.190492e+09,
       -1.118333e+10, -1.364541e+10, -3.981040e+09, -2.928420e+10,
       -1.718216e+09, -1.067243e+10, -2.688157e+09, -4.834132e+09,
       -6.584889e+09, -1.042964e+10, -4.300705e+09, -3.577837e+08,
       -2.624904e+09, -2.434751e+09, -6.371762e+09, -4.490220e+09,
       -1.410301e+10, -9.829133e+09, -1.022095e+10, -1.277905e+10,
       -6.297350e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'tx_trans_int_z' (year: 46)>
array([-1.478387e+10, -1.566543e+10, -2.058587e+10, -1.578537e+10,
       -1.747977e+10, -3.607690e+09, -1.278016e+10, -1.199130e+10,
       -1.881646e+10, -1.129002e+10, -1.590690e+10, -1.762519e+10,
       -1.843406e+10, -1.143123e+10, -1.035549e+10, -1.022463e+10,
       -1.248372e+10, -1.885893e+10, -1.274687e+10, -2.146376e+10,
       -2.063897e+10, -1.817657e+10, -2.074755e+10, -1.065468e+10,
       -1.591475e+10, -1.226015e+10, -1.637815e+10, -1.479688e+10,
       -1.285187e+10, -1.396441e+10, -1.485416e+10, -2.044535e+10,
       -1.745612e+10, -1.558693e+10, -2.382698e+10, -2.654494e+10,
       -1.248637e+10, -1.222365e+10, -2.150146e+10, -1.506530e+10,
       -1.570873e+10, -1.052647e+10, -2.222184e+10, -1.722598e+10,
       -1.464391e+10, -1.640386e+10], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_line_157E_1' (year: 300)>
array([-1.047197e+10, -9.629212e+09, -1.013856e+10, ..., -3.435272e+09,
       -5.054287e+09, -3.777028e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_line_157E_025' (year: 300)>
array([-1.135615e+10, -9.013612e+09, -4.687366e+09, ..., -7.467319e+09,
       -1.053404e+10, -1.023980e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_line_157E_01' (year: 33)>
array([-1.227386e+10, -1.370488e+10, -1.619080e+10, -6.670295e+09,
       -2.088475e+10, -1.276886e+10, -1.369767e+10, -2.967740e+07,
       -3.596639e+09, -8.274284e+09,  4.958975e+09, -6.190492e+09,
       -1.118333e+10, -1.364541e+10, -3.981040e+09, -2.928420e+10,
       -1.718216e+09, -1.067243e+10, -2.688157e+09, -4.834132e+09,
       -6.584889e+09, -1.042964e+10, -4.300705e+09, -3.577837e+08,
       -2.624904e+09, -2.434751e+09, -6.371762e+09, -4.490220e+09,
       -1.410301e+10, -9.829133e+09, -1.022095e+10, -1.277905e+10,
       -6.297350e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_line_157E_JRA' (year: 46)>
array([-1.478387e+10, -1.566543e+10, -2.058587e+10, -1.578537e+10,
       -1.747977e+10, -3.607690e+09, -1.278016e+10, -1.199130e+10,
       -1.881646e+10, -1.129002e+10, -1.590690e+10, -1.762519e+10,
       -1.843406e+10, -1.143123e+10, -1.035549e+10, -1.022463e+10,
       -1.248372e+10, -1.885893e+10, -1.274687e+10, -2.146376e+10,
       -2.063897e+10, -1.817657e+10, -2.074755e+10, -1.065468e+10,
       -1.591475e+10, -1.226015e+10, -1.637815e+10, -1.479688e+10,
       -1.285187e+10, -1.396441e+10, -1.485416e+10, -2.044535e+10,
       -1.745612e+10, -1.558693e+10, -2.382698e+10, -2.654494e+10,
       -1.248637e+10, -1.222365e+10, -2.150146e+10, -1.506530e+10,
       -1.570873e+10, -1.052647e+10, -2.222184e+10, -1.722598e+10,
       -1.464391e+10, -1.640386e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [19]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_north_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_north Strait'][0],
                                    EAC['EAC_north Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_north_1.load()

trans_EAC_north_1 = trans_EAC_north_1.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_north_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_north_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_north Strait'][0],
                                    EAC['EAC_north Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_north_025.load()

trans_EAC_north_025 = trans_EAC_north_025.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_north_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_north_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_north Strait'][0],
                                    EAC['EAC_north Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_north_01_month.load()
print(trans_EAC_north_01_month)

trans_EAC_north_01 = trans_EAC_north_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_north_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_EAC_north_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'ty_trans_int_z',
                        time_units=time_units).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_north Strait'][0],
                                    EAC['EAC_north Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_north Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_north_JRA_month.load()



trans_EAC_north_JRA1 = trans_EAC_north_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)
trans_EAC_north_JRA1 = trans_EAC_north_JRA1.assign_coords(year = trans_EAC_north_JRA1.year.values + 1944)
print(trans_EAC_north_JRA1.year.values)



trans_EAC_north_JRA2 = trans_EAC_north_JRA_month.isel(time=slice(446,-8))
trans_EAC_north_JRA2 = trans_EAC_north_JRA2.assign_coords(time = pd.to_datetime(trans_EAC_north_JRA2.time.values))
trans_EAC_north_JRA2 = trans_EAC_north_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_north_JRA2.year.values)
trans_EAC_north_JRA2 = trans_EAC_north_JRA2.assign_coords(year = trans_EAC_north_JRA2.year.values + 44)
print(trans_EAC_north_JRA2.year.values)



trans_EAC_north_JRA = xr.concat([trans_EAC_north_JRA1, trans_EAC_north_JRA2], dim='year')
print(trans_EAC_north_JRA)

trans_EAC_north_1_xr = xr.DataArray(trans_EAC_north_1, name='trans_EAC_north_1',
                        coords=[trans_EAC_north_1.year], 
                        dims=['year'])
print(trans_EAC_north_1_xr)
trans_EAC_north_1_xr.to_netcdf(output_path_mod + 'trans_EAC_north_1.nc')


trans_EAC_north_025_xr = xr.DataArray(trans_EAC_north_025, name='trans_EAC_north_025',
                        coords=[trans_EAC_north_025.year], 
                        dims=['year'])
print(trans_EAC_north_025_xr)
trans_EAC_north_025_xr.to_netcdf(output_path_mod + 'trans_EAC_north_025.nc')


trans_EAC_north_01_xr = xr.DataArray(trans_EAC_north_01, name='trans_EAC_north_01',
                        coords=[trans_EAC_north_01.year], 
                        dims=['year'])
print(trans_EAC_north_01_xr)
trans_EAC_north_01_xr.to_netcdf(output_path_mod + 'trans_EAC_north_01.nc')


trans_EAC_north_JRA_xr = xr.DataArray(trans_EAC_north_JRA, name='trans_EAC_north_JRA',
                        coords=[trans_EAC_north_JRA.year], 
                        dims=['year'])
print(trans_EAC_north_JRA_xr)
trans_EAC_north_JRA_xr.to_netcdf(output_path_mod + 'trans_EAC_north_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([-1.636043e+10, -1.560164e+10, -1.534216e+10, ..., -1.322322e+10,
       -1.352580e+10, -1.071828e+10], dtype=float32)
Coordinates:
    yu_ocean  float64 -33.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([-1.742663e+10, -1.365060e+10, -8.027245e+09, ..., -1.494201e+10,
       -1.522702e+10, -1.346316e+10], dtype=float32)
Coordinates:
    yu_ocean  float64 -33.01
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (time: 396)>
array([-3.767532e+10, -2.177146e+10, -9.269417e+09, ...,  1.763610e+10,
        1.223656e+10, -8.759751e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -33.01
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'ty_trans_int_z' (year: 33)>
array([-1.636601e+10, -1.498534e+10, -2.189315e+10, -9.820672e+09,
       -1.909223e+10, -1.924201e+10, -1.897332e+10, -6.815366e+09,
       -7.543389e+09, -1.040618e+10, -1.076636e+09, -8.808773e+09,
       -1.667445e+10, -2.269522e+10, -6.488782e+09, -2.845104e+10,
       -6.362379e+09, -1.829255e+10, -6.573781e+09, -9.971058e+09,
       -8.869304e+09, -1.337572e+10, -8.304056e+09, -4.981011e+09,
       -9.181702e+09, -1.196567e+10, -8.928895e+09, -1.247675e+10,
       -1.866662e+10, -1.656556e+10, -1.873158e+10, -1.888651e+10,
       -1.099728e+10], dtype=float32)
Coordinates:
    yu_ocean  float64 -33.01
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'ty_trans_int_z' (year: 46)>
array([-1.545905e+10, -1.900145e+10, -2.158839e+10, -1.620938e+10,
       -2.041497e+10, -6.255620e+09, -1.676339e+10, -1.670386e+10,
       -2.229018e+10, -1.508357e+10, -1.897779e+10, -1.782642e+10,
       -1.857971e+10, -1.286799e+10, -1.231130e+10, -1.193282e+10,
       -1.544300e+10, -1.994951e+10, -1.361732e+10, -2.333715e+10,
       -2.176108e+10, -1.809556e+10, -2.100625e+10, -1.102944e+10,
       -1.617813e+10, -1.290240e+10, -1.771922e+10, -1.451529e+10,
       -1.340831e+10, -1.597589e+10, -1.507224e+10, -2.145496e+10,
       -1.829782e+10, -1.440409e+10, -2.330050e+10, -2.217720e+10,
       -1.423630e+10, -1.296898e+10, -2.334307e+10, -1.597981e+10,
       -1.628676e+10, -1.111186e+10, -2.283655e+10, -1.834790e+10,
       -1.589957e+10, -1.762444e+10], dtype=float32)
Coordinates:
    yu_ocean  float64 -33.01
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_EAC_north_1' (year: 300)>
array([-1.636043e+10, -1.560164e+10, -1.534216e+10, ..., -1.322322e+10,
       -1.352580e+10, -1.071828e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_north_025' (year: 300)>
array([-1.742663e+10, -1.365060e+10, -8.027245e+09, ..., -1.494201e+10,
       -1.522702e+10, -1.346316e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_north_01' (year: 33)>
array([-1.636601e+10, -1.498534e+10, -2.189315e+10, -9.820672e+09,
       -1.909223e+10, -1.924201e+10, -1.897332e+10, -6.815366e+09,
       -7.543389e+09, -1.040618e+10, -1.076636e+09, -8.808773e+09,
       -1.667445e+10, -2.269522e+10, -6.488782e+09, -2.845104e+10,
       -6.362379e+09, -1.829255e+10, -6.573781e+09, -9.971058e+09,
       -8.869304e+09, -1.337572e+10, -8.304056e+09, -4.981011e+09,
       -9.181702e+09, -1.196567e+10, -8.928895e+09, -1.247675e+10,
       -1.866662e+10, -1.656556e+10, -1.873158e+10, -1.888651e+10,
       -1.099728e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_north_JRA' (year: 46)>
array([-1.545905e+10, -1.900145e+10, -2.158839e+10, -1.620938e+10,
       -2.041497e+10, -6.255620e+09, -1.676339e+10, -1.670386e+10,
       -2.229018e+10, -1.508357e+10, -1.897779e+10, -1.782642e+10,
       -1.857971e+10, -1.286799e+10, -1.231130e+10, -1.193282e+10,
       -1.544300e+10, -1.994951e+10, -1.361732e+10, -2.333715e+10,
       -2.176108e+10, -1.809556e+10, -2.100625e+10, -1.102944e+10,
       -1.617813e+10, -1.290240e+10, -1.771922e+10, -1.451529e+10,
       -1.340831e+10, -1.597589e+10, -1.507224e+10, -2.145496e+10,
       -1.829782e+10, -1.440409e+10, -2.330050e+10, -2.217720e+10,
       -1.423630e+10, -1.296898e+10, -2.334307e+10, -1.597981e+10,
       -1.628676e+10, -1.111186e+10, -2.283655e+10, -1.834790e+10,
       -1.589957e+10, -1.762444e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [20]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_east_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=EAC['EAC_east Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_east Strait'][2],
                                    EAC['EAC_east Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_east_1.load()

trans_EAC_east_1 = trans_EAC_east_1.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_east_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_east_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=EAC['EAC_east Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_east Strait'][2],
                                    EAC['EAC_east Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_east_025.load()

trans_EAC_east_025 = trans_EAC_east_025.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_east_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_east_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=EAC['EAC_east Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_east Strait'][2],
                                    EAC['EAC_east Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_east_01_month.load()
print(trans_EAC_east_01_month)

trans_EAC_east_01 = trans_EAC_east_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_east_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_EAC_east_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'tx_trans_int_z',
                        time_units=time_units).\
                        sel(xu_ocean=EAC['EAC_east Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_east Strait'][2],
                                    EAC['EAC_east Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_east_JRA_month.load()



trans_EAC_east_JRA1 = trans_EAC_east_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
trans_EAC_east_JRA1 = trans_EAC_east_JRA1.assign_coords(year = trans_EAC_east_JRA1.year.values + 1944)
print(trans_EAC_east_JRA1.year.values)



trans_EAC_east_JRA2 = trans_EAC_east_JRA_month.isel(time=slice(446,-8))
trans_EAC_east_JRA2 = trans_EAC_east_JRA2.assign_coords(time = pd.to_datetime(trans_EAC_east_JRA2.time.values))
trans_EAC_east_JRA2 = trans_EAC_east_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_east_JRA2.year.values)
trans_EAC_east_JRA2 = trans_EAC_east_JRA2.assign_coords(year = trans_EAC_east_JRA2.year.values + 44)
print(trans_EAC_east_JRA2.year.values)



trans_EAC_east_JRA = xr.concat([trans_EAC_east_JRA1, trans_EAC_east_JRA2], dim='year')
print(trans_EAC_east_JRA)

trans_EAC_east_1_xr = xr.DataArray(trans_EAC_east_1, name='trans_EAC_east_1',
                        coords=[trans_EAC_east_1.year], 
                        dims=['year'])
print(trans_EAC_east_1_xr)
trans_EAC_east_1_xr.to_netcdf(output_path_mod + 'trans_EAC_east_1.nc')


trans_EAC_east_025_xr = xr.DataArray(trans_EAC_east_025, name='trans_EAC_east_025',
                        coords=[trans_EAC_east_025.year], 
                        dims=['year'])
print(trans_EAC_east_025_xr)
trans_EAC_east_025_xr.to_netcdf(output_path_mod + 'trans_EAC_east_025.nc')


trans_EAC_east_01_xr = xr.DataArray(trans_EAC_east_01, name='trans_EAC_east_01',
                        coords=[trans_EAC_east_01.year], 
                        dims=['year'])
print(trans_EAC_east_01_xr)
trans_EAC_east_01_xr.to_netcdf(output_path_mod + 'trans_EAC_east_01.nc')


trans_EAC_east_JRA_xr = xr.DataArray(trans_EAC_east_JRA, name='trans_EAC_east_JRA',
                        coords=[trans_EAC_east_JRA.year], 
                        dims=['year'])
print(trans_EAC_east_JRA_xr)
trans_EAC_east_JRA_xr.to_netcdf(output_path_mod + 'trans_EAC_east_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([1.098755e+10, 8.205873e+09, 7.145619e+09, ..., 5.320758e+09,
       5.344422e+09, 4.906110e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([1.199599e+10, 5.314361e+09, 5.791508e+08, ..., 2.590437e+09,
       4.503590e+09, 6.604740e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (time: 396)>
array([ 2.886314e+10,  6.652748e+09, -4.800025e+09, ..., -2.688079e+10,
       -2.123330e+10,  1.328216e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'tx_trans_int_z' (year: 33)>
array([ 3.467032e+09,  5.573755e+09,  1.242373e+10,  1.100354e+09,
        1.171041e+10,  1.084636e+10,  1.581528e+10,  2.428729e+09,
        1.504893e+09,  8.491022e+09, -1.881245e+09,  7.069182e+09,
        8.910978e+09,  1.624483e+10, -4.073313e+09,  1.962037e+10,
       -1.566532e+09,  1.133425e+10,  4.951015e+09,  6.854977e+09,
        5.394632e+09,  8.258253e+09,  2.653554e+09, -7.747670e+08,
        2.914823e+09,  5.864722e+09,  4.159540e+09,  6.440462e+09,
        1.052579e+10,  9.687810e+09,  8.882638e+09,  9.667023e+09,
        5.714244e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'tx_trans_int_z' (year: 46)>
array([ 8.549511e+09,  9.669442e+09,  9.213956e+09,  4.051663e+09,
        1.033592e+10, -4.258342e+09,  5.246661e+09,  6.143113e+09,
        1.399748e+10,  5.949019e+09,  6.778918e+09,  6.787286e+09,
        7.278563e+09, -4.901111e+08, -1.388858e+09,  1.797228e+09,
        3.930694e+09,  8.852078e+09,  1.485171e+09,  9.824271e+09,
        9.949285e+09,  5.319823e+09,  8.426409e+09, -9.520917e+08,
        3.643565e+09,  1.462625e+09,  8.376520e+09,  5.775536e+09,
        2.535727e+09,  3.701347e+09,  4.937936e+09,  8.915817e+09,
        6.813409e+09,  2.167133e+09,  1.316602e+10,  1.397404e+10,
        3.680002e+09,  1.159364e+09,  1.120143e+10,  4.695869e+09,
        4.544862e+09,  3.544955e+08,  1.334387e+10,  9.143925e+09,
        5.587584e+09,  7.087305e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -203.0
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_EAC_east_1' (year: 300)>
array([1.098755e+10, 8.205873e+09, 7.145619e+09, ..., 5.320758e+09,
       5.344422e+09, 4.906110e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_east_025' (year: 300)>
array([1.199599e+10, 5.314361e+09, 5.791508e+08, ..., 2.590437e+09,
       4.503590e+09, 6.604740e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_east_01' (year: 33)>
array([ 3.467032e+09,  5.573755e+09,  1.242373e+10,  1.100354e+09,
        1.171041e+10,  1.084636e+10,  1.581528e+10,  2.428729e+09,
        1.504893e+09,  8.491022e+09, -1.881245e+09,  7.069182e+09,
        8.910978e+09,  1.624483e+10, -4.073313e+09,  1.962037e+10,
       -1.566532e+09,  1.133425e+10,  4.951015e+09,  6.854977e+09,
        5.394632e+09,  8.258253e+09,  2.653554e+09, -7.747670e+08,
        2.914823e+09,  5.864722e+09,  4.159540e+09,  6.440462e+09,
        1.052579e+10,  9.687810e+09,  8.882638e+09,  9.667023e+09,
        5.714244e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_east_JRA' (year: 46)>
array([ 8.549511e+09,  9.669442e+09,  9.213956e+09,  4.051663e+09,
        1.033592e+10, -4.258342e+09,  5.246661e+09,  6.143113e+09,
        1.399748e+10,  5.949019e+09,  6.778918e+09,  6.787286e+09,
        7.278563e+09, -4.901111e+08, -1.388858e+09,  1.797228e+09,
        3.930694e+09,  8.852078e+09,  1.485171e+09,  9.824271e+09,
        9.949285e+09,  5.319823e+09,  8.426409e+09, -9.520917e+08,
        3.643565e+09,  1.462625e+09,  8.376520e+09,  5.775536e+09,
        2.535727e+09,  3.701347e+09,  4.937936e+09,  8.915817e+09,
        6.813409e+09,  2.167133e+09,  1.316602e+10,  1.397404e+10,
        3.680002e+09,  1.159364e+09,  1.120143e+10,  4.695869e+09,
        4.544862e+09,  3.544955e+08,  1.334387e+10,  9.143925e+09,
        5.587584e+09,  7.087305e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [21]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_south_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_south Strait'][0],
                                    EAC['EAC_south Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_south_1.load()

trans_EAC_south_1 = trans_EAC_south_1.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_south_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_south_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_south Strait'][0],
                                    EAC['EAC_south Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_south_025.load()

trans_EAC_south_025 = trans_EAC_south_025.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_south_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_south_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'ty_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_south Strait'][0],
                                    EAC['EAC_south Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_south_01_month.load()
print(trans_EAC_south_01_month)

trans_EAC_south_01 = trans_EAC_south_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_south_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_EAC_south_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'ty_trans_int_z',
                        time_units=time_units).\
                        sel(xt_ocean=slice(
                                    EAC['EAC_south Strait'][0],
                                    EAC['EAC_south Strait'][1])).\
                        sel(yu_ocean=EAC['EAC_south Strait'][2], method='nearest').\
                        sum('xt_ocean')

trans_EAC_south_JRA_month.load()



trans_EAC_south_JRA1 = trans_EAC_south_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)
trans_EAC_south_JRA1 = trans_EAC_south_JRA1.assign_coords(year = trans_EAC_south_JRA1.year.values + 1944)
print(trans_EAC_south_JRA1.year.values)



trans_EAC_south_JRA2 = trans_EAC_south_JRA_month.isel(time=slice(446,-8))
trans_EAC_south_JRA2 = trans_EAC_south_JRA2.assign_coords(time = pd.to_datetime(trans_EAC_south_JRA2.time.values))
trans_EAC_south_JRA2 = trans_EAC_south_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_south_JRA2.year.values)
trans_EAC_south_JRA2 = trans_EAC_south_JRA2.assign_coords(year = trans_EAC_south_JRA2.year.values + 44)
print(trans_EAC_south_JRA2.year.values)



trans_EAC_south_JRA = xr.concat([trans_EAC_south_JRA1, trans_EAC_south_JRA2], dim='year')
print(trans_EAC_south_JRA)

trans_EAC_south_1_xr = xr.DataArray(trans_EAC_south_1, name='trans_EAC_south_1',
                        coords=[trans_EAC_south_1.year], 
                        dims=['year'])
print(trans_EAC_south_1_xr)
trans_EAC_south_1_xr.to_netcdf(output_path_mod + 'trans_EAC_south_1.nc')


trans_EAC_south_025_xr = xr.DataArray(trans_EAC_south_025, name='trans_EAC_south_025',
                        coords=[trans_EAC_south_025.year], 
                        dims=['year'])
print(trans_EAC_south_025_xr)
trans_EAC_south_025_xr.to_netcdf(output_path_mod + 'trans_EAC_south_025.nc')


trans_EAC_south_01_xr = xr.DataArray(trans_EAC_south_01, name='trans_EAC_south_01',
                        coords=[trans_EAC_south_01.year], 
                        dims=['year'])
print(trans_EAC_south_01_xr)
trans_EAC_south_01_xr.to_netcdf(output_path_mod + 'trans_EAC_south_01.nc')


trans_EAC_south_JRA_xr = xr.DataArray(trans_EAC_south_JRA, name='trans_EAC_south_JRA',
                        coords=[trans_EAC_south_JRA.year], 
                        dims=['year'])
print(trans_EAC_south_JRA_xr)
trans_EAC_south_JRA_xr.to_netcdf(output_path_mod + 'trans_EAC_south_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([ 2.583187e+09,  3.319557e+09,  2.105608e+09, ..., -4.273216e+06,
       -1.548754e+09,  4.653577e+08], dtype=float32)
Coordinates:
    yu_ocean  float64 -47.41
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (year: 300)>
array([ 3.184639e+09,  4.236280e+09,  8.308145e+08, ..., -5.657065e+08,
        2.064130e+09,  4.473356e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -47.08
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'ty_trans_int_z' (time: 396)>
array([ 5.234320e+09, -1.967479e+09, -5.541928e+09, ...,  3.133806e+09,
        5.769421e+09,  1.005181e+10], dtype=float32)
Coordinates:
    yu_ocean  float64 -47.01
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'ty_trans_int_z' (year: 33)>
array([1.331449e+09, 3.753008e+09, 9.265204e+09, 4.703235e+09, 7.866819e+09,
       4.856519e+09, 5.516930e+09, 4.589347e+09, 5.927883e+09, 6.149997e+09,
       5.774402e+09, 6.913457e+09, 7.090847e+09, 2.725041e+09, 5.145447e+09,
       3.786564e+09, 4.100048e+09, 4.230960e+09, 9.846127e+09, 1.639461e+09,
       2.009164e+09, 3.635398e+09, 3.736122e+09, 4.720430e+09, 2.339963e+09,
       8.042857e+09, 8.500456e+09, 4.625442e+09, 4.133732e+09, 6.337350e+09,
       2.430065e+09, 1.925612e+09, 7.195178e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -47.01
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'ty_trans_int_z' (year: 46)>
array([ 4.698895e+09,  9.544644e+08,  1.318205e+09,  1.392113e+09,
        5.841825e+09,  6.343673e+09,  6.146406e+08,  5.754663e+09,
        4.383418e+09,  2.518432e+09,  5.431798e+09,  8.585053e+09,
        3.525492e+09,  1.603483e+09,  2.662789e+09,  4.462735e+09,
        9.691858e+09,  5.661025e+09,  4.753727e+09,  6.388732e+09,
        6.126526e+09,  2.529903e+09,  3.650866e+09,  3.585180e+09,
        1.127190e+09,  1.319442e+09,  2.892392e+09,  2.939677e+09,
        2.554418e+09,  8.655143e+09,  6.628768e+09, -9.230845e+08,
        1.259731e+09, -1.107262e+09,  6.699787e+09,  6.023881e+09,
       -1.272800e+09,  2.887791e+09,  4.273945e+08,  8.383667e+08,
        4.874223e+09,  6.379448e+09,  3.246649e+09,  5.665752e+09,
        5.305986e+09,  1.863045e+09], dtype=float32)
Coordinates:
    yu_ocean  float64 -47.01
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_EAC_south_1' (year: 300)>
array([ 2.583187e+09,  3.319557e+09,  2.105608e+09, ..., -4.273216e+06,
       -1.548754e+09,  4.653577e+08], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_south_025' (year: 300)>
array([ 3.184639e+09,  4.236280e+09,  8.308145e+08, ..., -5.657065e+08,
        2.064130e+09,  4.473356e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_south_01' (year: 33)>
array([1.331449e+09, 3.753008e+09, 9.265204e+09, 4.703235e+09, 7.866819e+09,
       4.856519e+09, 5.516930e+09, 4.589347e+09, 5.927883e+09, 6.149997e+09,
       5.774402e+09, 6.913457e+09, 7.090847e+09, 2.725041e+09, 5.145447e+09,
       3.786564e+09, 4.100048e+09, 4.230960e+09, 9.846127e+09, 1.639461e+09,
       2.009164e+09, 3.635398e+09, 3.736122e+09, 4.720430e+09, 2.339963e+09,
       8.042857e+09, 8.500456e+09, 4.625442e+09, 4.133732e+09, 6.337350e+09,
       2.430065e+09, 1.925612e+09, 7.195178e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_south_JRA' (year: 46)>
array([ 4.698895e+09,  9.544644e+08,  1.318205e+09,  1.392113e+09,
        5.841825e+09,  6.343673e+09,  6.146406e+08,  5.754663e+09,
        4.383418e+09,  2.518432e+09,  5.431798e+09,  8.585053e+09,
        3.525492e+09,  1.603483e+09,  2.662789e+09,  4.462735e+09,
        9.691858e+09,  5.661025e+09,  4.753727e+09,  6.388732e+09,
        6.126526e+09,  2.529903e+09,  3.650866e+09,  3.585180e+09,
        1.127190e+09,  1.319442e+09,  2.892392e+09,  2.939677e+09,
        2.554418e+09,  8.655143e+09,  6.628768e+09, -9.230845e+08,
        1.259731e+09, -1.107262e+09,  6.699787e+09,  6.023881e+09,
       -1.272800e+09,  2.887791e+09,  4.273945e+08,  8.383667e+08,
        4.874223e+09,  6.379448e+09,  3.246649e+09,  5.665752e+09,
        5.305986e+09,  1.863045e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989

In [22]:
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_west_1 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=EAC['EAC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_west Strait'][2],
                                    EAC['EAC_west Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_west_1.load()

trans_EAC_west_1 = trans_EAC_west_1.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_west_1)


ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_west_025 = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=EAC['EAC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_west Strait'][2],
                                    EAC['EAC_west Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_west_025.load()

trans_EAC_west_025 = trans_EAC_west_025.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_west_025)


ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
n_files = exptdata.exptdict[ekey]['n_files']
time_units = exptdata.exptdict[ekey]['time_units']
offset = exptdata.exptdict[ekey]['offset']
print(tstart)
print(tend)
print(expt)
print(n_files)
print(time_units)
print(offset)

trans_EAC_west_01_month = cc.get_nc_variable(expt, 'ocean_month.nc', 'tx_trans_int_z',
                        n=None,
                        time_units=time_units, offset=offset).\
                        sel(xu_ocean=EAC['EAC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_west Strait'][2],
                                    EAC['EAC_west Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_west_01_month.load()
print(trans_EAC_west_01_month)

trans_EAC_west_01 = trans_EAC_west_01_month.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_west_01)


time_units = 'days since 0001-01-01'
print(time_units)

trans_EAC_west_JRA_month = cc.get_nc_variable('01deg_jra55v13_ryf8485_spinup6', 'ocean_month.nc', 'tx_trans_int_z',
                        time_units=time_units).\
                        sel(xu_ocean=EAC['EAC_west Strait'][0], method='nearest').\
                        sel(yt_ocean=slice(
                                    EAC['EAC_west Strait'][2],
                                    EAC['EAC_west Strait'][3])).\
                        sum('yt_ocean')

trans_EAC_west_JRA_month.load()



trans_EAC_west_JRA1 = trans_EAC_west_JRA_month.isel(time=slice(0,418)).\
                        groupby('time.year').mean('time', skipna=True)-273.15
trans_EAC_west_JRA1 = trans_EAC_west_JRA1.assign_coords(year = trans_EAC_west_JRA1.year.values + 1944)
print(trans_EAC_west_JRA1.year.values)



trans_EAC_west_JRA2 = trans_EAC_west_JRA_month.isel(time=slice(446,-8))
trans_EAC_west_JRA2 = trans_EAC_west_JRA2.assign_coords(time = pd.to_datetime(trans_EAC_west_JRA2.time.values))
trans_EAC_west_JRA2 = trans_EAC_west_JRA2.groupby('time.year').mean('time', skipna=True)
print(trans_EAC_west_JRA2.year.values)
trans_EAC_west_JRA2 = trans_EAC_west_JRA2.assign_coords(year = trans_EAC_west_JRA2.year.values + 44)
print(trans_EAC_west_JRA2.year.values)



trans_EAC_west_JRA = xr.concat([trans_EAC_west_JRA1, trans_EAC_west_JRA2], dim='year')
print(trans_EAC_west_JRA)

trans_EAC_west_1_xr = xr.DataArray(trans_EAC_west_1, name='trans_EAC_west_1',
                        coords=[trans_EAC_west_1.year], 
                        dims=['year'])
print(trans_EAC_west_1_xr)
trans_EAC_west_1_xr.to_netcdf(output_path_mod + 'trans_EAC_west_1.nc')


trans_EAC_west_025_xr = xr.DataArray(trans_EAC_west_025, name='trans_EAC_west_025',
                        coords=[trans_EAC_west_025.year], 
                        dims=['year'])
print(trans_EAC_west_025_xr)
trans_EAC_west_025_xr.to_netcdf(output_path_mod + 'trans_EAC_west_025.nc')


trans_EAC_west_01_xr = xr.DataArray(trans_EAC_west_01, name='trans_EAC_west_01',
                        coords=[trans_EAC_west_01.year], 
                        dims=['year'])
print(trans_EAC_west_01_xr)
trans_EAC_west_01_xr.to_netcdf(output_path_mod + 'trans_EAC_west_01.nc')


trans_EAC_west_JRA_xr = xr.DataArray(trans_EAC_west_JRA, name='trans_EAC_west_JRA',
                        coords=[trans_EAC_west_JRA.year], 
                        dims=['year'])
print(trans_EAC_west_JRA_xr)
trans_EAC_west_JRA_xr.to_netcdf(output_path_mod + 'trans_EAC_west_JRA.nc')

1993-01-01 00:00:00
2018-01-01 00:00:00
1deg_jra55v13_iaf_spinup1_B1
-12
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-8.241926e+09, -1.087662e+10, -1.044660e+10, ..., -8.137404e+09,
       -6.988005e+09, -6.548766e+09], dtype=float32)
Coordinates:
    xu_ocean  float64 -213.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
025deg_jra55v13_iaf_gmredi6
-34
days since 1718-01-01
-87658
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (year: 300)>
array([-8.845709e+09, -1.260371e+10, -8.415226e+09, ..., -1.189604e+10,
       -1.303109e+10, -1.145009e+10], dtype=float32)
Coordinates:
    xu_ocean  float64 -213.0
  * year      (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
1993-01-01 00:00:00
2018-01-01 00:00:00
01deg_jra55v13_iaf
None
days since 0001-01-01
None
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
<xarray.DataArray 'tx_trans_int_z' (time: 396)>
array([-1.423163e+10, -1.278723e+10, -8.078699e+09, ..., -1.262258e+10,
       -1.445848e+10, -1.744208e+10], dtype=float32)
Coordinates:
    xu_ocean  float64 -213.0
  * time      (time) datetime64[ns] 1985-01-14T12:00:00 ... 2017-12-14T12:00:00
<xarray.DataArray 'tx_trans_int_z' (year: 33)>
array([-1.416807e+10, -1.330388e+10, -1.889780e+10, -1.355596e+10,
       -1.521740e+10, -1.331689e+10, -8.829502e+09, -9.106769e+09,
       -1.221037e+10, -8.487295e+09, -8.979602e+09, -9.094344e+09,
       -1.504696e+10, -9.416140e+09, -1.577163e+10, -1.279576e+10,
       -1.216383e+10, -1.142962e+10, -1.160562e+10, -5.052865e+09,
       -5.724090e+09, -8.857417e+09, -9.493001e+09, -1.067110e+10,
       -8.885507e+09, -1.423674e+10, -1.338760e+10, -1.086224e+10,
       -1.253450e+10, -1.336605e+10, -1.232557e+10, -1.133599e+10,
       -1.260245e+10], dtype=float32)
Coordinates:
    xu_ocean  float64 -213.0
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
days since 0001-01-01
Using database sqlite:////g/data3/hh5/tmp/cosima/cosima-cookbook/cosima-cookbook.db
[1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958
 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972
 1973 1974 1975 1976 1977 1978 1979]
[1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945]
[1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989]
<xarray.DataArray 'tx_trans_int_z' (year: 46)>
array([-1.180011e+10, -1.045749e+10, -1.386944e+10, -1.373108e+10,
       -1.607181e+10, -1.701081e+10, -1.229868e+10, -1.647419e+10,
       -1.284766e+10, -1.181118e+10, -1.775186e+10, -1.972457e+10,
       -1.492436e+10, -1.504454e+10, -1.645038e+10, -1.469352e+10,
       -2.129336e+10, -1.684476e+10, -1.697744e+10, -1.999335e+10,
       -1.800170e+10, -1.538733e+10, -1.630800e+10, -1.563759e+10,
       -1.372248e+10, -1.283023e+10, -1.233841e+10, -1.173905e+10,
       -1.354045e+10, -2.099283e+10, -1.683665e+10, -1.167918e+10,
       -1.282096e+10, -1.118820e+10, -1.693011e+10, -1.374962e+10,
       -9.335772e+09, -1.478973e+10, -1.262215e+10, -1.218401e+10,
       -1.666191e+10, -1.718912e+10, -1.277582e+10, -1.493592e+10,
       -1.567466e+10, -1.247811e+10], dtype=float32)
Coordinates:
    xu_ocean  float64 -213.0
  * year      (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989
<xarray.DataArray 'trans_EAC_west_1' (year: 300)>
array([-8.241926e+09, -1.087662e+10, -1.044660e+10, ..., -8.137404e+09,
       -6.988005e+09, -6.548766e+09], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_west_025' (year: 300)>
array([-8.845709e+09, -1.260371e+10, -8.415226e+09, ..., -1.189604e+10,
       -1.303109e+10, -1.145009e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1718 1719 1720 1721 1722 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_west_01' (year: 33)>
array([-1.416807e+10, -1.330388e+10, -1.889780e+10, -1.355596e+10,
       -1.521740e+10, -1.331689e+10, -8.829502e+09, -9.106769e+09,
       -1.221037e+10, -8.487295e+09, -8.979602e+09, -9.094344e+09,
       -1.504696e+10, -9.416140e+09, -1.577163e+10, -1.279576e+10,
       -1.216383e+10, -1.142962e+10, -1.160562e+10, -5.052865e+09,
       -5.724090e+09, -8.857417e+09, -9.493001e+09, -1.067110e+10,
       -8.885507e+09, -1.423674e+10, -1.338760e+10, -1.086224e+10,
       -1.253450e+10, -1.336605e+10, -1.232557e+10, -1.133599e+10,
       -1.260245e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017
<xarray.DataArray 'trans_EAC_west_JRA' (year: 46)>
array([-1.180011e+10, -1.045749e+10, -1.386944e+10, -1.373108e+10,
       -1.607181e+10, -1.701081e+10, -1.229868e+10, -1.647419e+10,
       -1.284766e+10, -1.181118e+10, -1.775186e+10, -1.972457e+10,
       -1.492436e+10, -1.504454e+10, -1.645038e+10, -1.469352e+10,
       -2.129336e+10, -1.684476e+10, -1.697744e+10, -1.999335e+10,
       -1.800170e+10, -1.538733e+10, -1.630800e+10, -1.563759e+10,
       -1.372248e+10, -1.283023e+10, -1.233841e+10, -1.173905e+10,
       -1.354045e+10, -2.099283e+10, -1.683665e+10, -1.167918e+10,
       -1.282096e+10, -1.118820e+10, -1.693011e+10, -1.374962e+10,
       -9.335772e+09, -1.478973e+10, -1.262215e+10, -1.218401e+10,
       -1.666191e+10, -1.718912e+10, -1.277582e+10, -1.493592e+10,
       -1.567466e+10, -1.247811e+10], dtype=float32)
Coordinates:
  * year     (year) int64 1945 1946 1947 1948 1949 ... 1985 1986 1987 1988 1989