In [1]:
'''
This file plots CMIP5 RCP - HIST over South Australia
/Users/earl/Desktop/Yang
and places the outputs in
/Users/earl/Dropbox/CMIP5/figures

Earl Duran 
created: 19-Mar-18
e.duran@unsw.edu.au
'''

import pandas as pd
import cosima_cookbook as cc
import os
import xarray as xr
import numpy as np
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
import matplotlib
import sys
import pickle
import itertools
def find_nearest_index(array, value):
    return int((np.abs(array - value)).argmin())
from scipy import interpolate
from scipy import stats
from dask.distributed import Client

import cartopy.crs as ccrs
import cartopy.feature as cft
from cartopy.mpl.ticker import LongitudeFormatter, LatitudeFormatter
def arange(start,end,stride=1):
    return np.arange(start,end+0.00000001,stride)

import sys, os
sys.path.append(os.path.join(os.getcwd(), '..'))  # so we can import ../exptdata
import exptdata

session = cc.database.create_session()

In [2]:
%%javascript
IPython.notebook.kernel.execute('nb_name = ' + '"' + IPython.notebook.notebook_name + '"')

In [3]:
client = Client()
client

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/distributed/dashboard/core.py:72: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn("\n" + msg)

In [4]:
input_path = '/g/data/e14/erd561/copernicus/'
output_path = '/g/data/e14/erd561/Australia_All/'

data = xr.open_dataset(input_path + 'dataset-sss-ssd-rep-monthly_1569548439236.nc')

data

<xarray.Dataset>
Dimensions:  (depth: 1, lat: 360, lon: 361, time: 300)
Coordinates:
  * depth    (depth) float32 0.0
  * lon      (lon) float32 89.875 90.125 90.375 ... 179.375 179.625 179.875
  * time     (time) object 1993-01-15 00:00:00 ... 2017-12-15 00:00:00
  * lat      (lat) float32 -69.875 -69.625 -69.375 ... 19.375 19.625 19.875
Data variables:
    sos      (time, depth, lat, lon) float32 ...
Attributes:
    Conventions:                                CF-1.7
    references:                                 Buongiorno Nardelli, B., R. D...
    institution:                                CNR
    contact:                                    servicedesk.cmems@mercator-oc...
    FROM_ORIGINAL_FILE__netcdf_version_id:      4.4.1 of Aug 10 2016 17:24:31
    creation_date:                              Wed 17 Jul 2019 22:20:07
    FROM_ORIGINAL_FILE__product_version:        1.0
    grid_resolution:                            0.25 degrees
    FROM_ORIGINAL_FILE__software_version:       SSS/SSD Processor V3.0
    FROM_ORIGINAL_FILE__westernmost_longitude:  0.125
    FROM_ORIGINAL_FILE__easternmost_longitude:  359.875
    FROM_ORIGINAL_FILE__southernmost_latitude:  -89.875
    FROM_ORIGINAL_FILE__northernmost_latitude:  89.875
    Scaling_Equation:                           (scale_factor*data) + add_offset
    license:                                    free registration at Copernic...
    title:                                      Global analysed sea surface s...
    date:                                       Fri 26 Jul 2019 13:04:06 /Dat...
    history:                                    Fri Jul 26 13:06:22 2019: nca...
    nco_openmp_thread_number:                   1
    _CoordSysBuilder:                           ucar.nc2.dataset.conv.CF1Conv...
    comment:
    source:

In [5]:
# year = np.arange(2004,2018)

lonW = 88
lonE = 182

latS = -72
latN = 22

salt_z0_month = xr.open_dataset(input_path + 'dataset-sss-ssd-rep-monthly_1569548439236.nc').\
                                sos.\
                sel(lon=slice(lonW,lonE)).\
                sel(lat=slice(latS,latN)).\
                sel(depth=0, method='nearest')
print(salt_z0_month)

salt_z0 = salt_z0_month.\
                groupby('time.year').\
                mean('time')
print(salt_z0)

# salt_z0 = salt_z0.sel(year=slice(2004,2017))
# print(salt_z0)

<xarray.DataArray 'sos' (time: 300, lat: 360, lon: 361)>
[38988000 values with dtype=float32]
Coordinates:
    depth    float32 0.0
  * lon      (lon) float32 89.875 90.125 90.375 ... 179.375 179.625 179.875
  * time     (time) object 1993-01-15 00:00:00 ... 2017-12-15 00:00:00
  * lat      (lat) float32 -69.875 -69.625 -69.375 ... 19.375 19.625 19.875
Attributes:
    long_name:      sea surface salinity
    standard_name:  sea_surface_salinity
    units:          .0001
    _ChunkSizes:    [   1    1  720 1440]

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/xarray/core/nanops.py:140: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis=axis, dtype=dtype)

<xarray.DataArray 'sos' (year: 25, lat: 360, lon: 361)>
array([[[      nan,       nan,       nan, ..., 34.028866, 34.02695 ,
         34.025105],
        [      nan,       nan,       nan, ..., 34.011803, 34.01018 ,
         34.00929 ],
        [      nan,       nan,       nan, ..., 34.004814, 34.0034  ,
         34.002956],
        ...,
        [30.701935, 30.670694, 30.658201, ..., 35.02671 , 35.027878,
         35.023666],
        [30.543642, 30.53934 , 30.497835, ..., 35.048077, 35.046772,
         35.045788],
        [30.377783, 30.361895, 30.331146, ..., 35.070217, 35.066364,
         35.068134]],

       [[      nan,       nan,       nan, ..., 34.03025 , 34.029293,
         34.027363],
        [      nan,       nan,       nan, ..., 34.01235 , 34.011307,
         34.009995],
        [      nan,       nan,       nan, ..., 34.005722, 34.00488 ,
         34.003532],
        ...,
        [30.707014, 30.66664 , 30.647789, ..., 35.029514, 35.029636,
         35.02525 ],
        [30.525595, 30.502464, 30.47625 , ..., 35.04863 , 35.04845 ,
         35.046833],
        [30.346878, 30.334063, 30.319824, ..., 35.06871 , 35.066963,
         35.06875 ]],

       [[      nan,       nan,       nan, ..., 34.025146, 34.024216,
         34.02354 ],
        [      nan,       nan,       nan, ..., 34.00774 , 34.007423,
         34.006763],
        [      nan,       nan,       nan, ..., 34.002895, 34.002426,
         33.99969 ],
        ...,
        [30.69155 , 30.663412, 30.618004, ..., 35.024593, 35.02833 ,
         35.026398],
        [30.55176 , 30.506742, 30.482786, ..., 35.04665 , 35.04619 ,
         35.04582 ],
        [30.382963, 30.355225, 30.341105, ..., 35.06748 , 35.063736,
         35.066914]],

       ...,

       [[      nan,       nan,       nan, ..., 34.031345, 34.030334,
         34.02855 ],
        [      nan,       nan,       nan, ..., 34.0141  , 34.01341 ,
         34.01253 ],
        [      nan,       nan,       nan, ..., 34.01066 , 34.0096  ,
         34.008667],
        ...,
        [31.1723  , 31.132164, 31.08534 , ..., 35.078434, 35.070415,
         35.06785 ],
        [31.039034, 31.003212, 30.960894, ..., 35.113094, 35.10893 ,
         35.104065],
        [30.884089, 30.86326 , 30.829031, ..., 35.149   , 35.148422,
         35.138695]],

       [[      nan,       nan,       nan, ..., 34.029476, 34.027325,
         34.026196],
        [      nan,       nan,       nan, ..., 34.01307 , 34.011726,
         34.010815],
        [      nan,       nan,       nan, ..., 34.006718, 34.00555 ,
         34.004562],
        ...,
        [30.576485, 30.553663, 30.53441 , ..., 34.986317, 34.980484,
         34.988068],
        [30.430397, 30.414566, 30.397593, ..., 35.008926, 35.00779 ,
         35.005535],
        [30.296434, 30.281393, 30.261183, ..., 35.03084 , 35.035606,
         35.034035]],

       [[      nan,       nan,       nan, ..., 34.0085  , 34.008205,
         34.008354],
        [      nan,       nan,       nan, ..., 33.99551 , 33.995533,
         33.995636],
        [      nan,       nan,       nan, ..., 33.989353, 33.989765,
         33.98959 ],
        ...,
        [30.834513, 30.8246  , 30.830038, ..., 34.774464, 34.77052 ,
         34.768192],
        [30.697123, 30.688372, 30.693657, ..., 34.79197 , 34.792927,
         34.78917 ],
        [30.577478, 30.55543 , 30.540129, ..., 34.806736, 34.806774,
         34.801586]]], dtype=float32)
Coordinates:
    depth    float32 0.0
  * lon      (lon) float32 89.875 90.125 90.375 ... 179.375 179.625 179.875
  * lat      (lat) float32 -69.875 -69.625 -69.375 ... 19.375 19.625 19.875
  * year     (year) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017

In [6]:
salt_z0_xr = xr.DataArray(np.transpose(salt_z0.values, (1,2,0)), name='salt_z0_cmems',
                        coords=[salt_z0.lat, salt_z0.lon, salt_z0.year], 
                        dims=['lat', 'lon', 'year'])
print(salt_z0_xr)
salt_z0_xr.to_netcdf(output_path + 'salt_z0_cmems.nc')

<xarray.DataArray 'salt_z0_cmems' (lat: 360, lon: 361, year: 25)>
array([[[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [34.028866, 34.03025 , 34.025146, ..., 34.031345, 34.029476,
         34.0085  ],
        [34.02695 , 34.029293, 34.024216, ..., 34.030334, 34.027325,
         34.008205],
        [34.025105, 34.027363, 34.02354 , ..., 34.02855 , 34.026196,
         34.008354]],

       [[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [34.011803, 34.01235 , 34.00774 , ..., 34.0141  , 34.01307 ,
         33.99551 ],
        [34.01018 , 34.011307, 34.007423, ..., 34.01341 , 34.011726,
         33.995533],
        [34.00929 , 34.009995, 34.006763, ..., 34.01253 , 34.010815,
         33.995636]],

       [[      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        [      nan,       nan,       nan, ...,       nan,       nan,
               nan],
        ...,
        [34.004814, 34.005722, 34.002895, ..., 34.01066 , 34.006718,
         33.989353],
        [34.0034  , 34.00488 , 34.002426, ..., 34.0096  , 34.00555 ,
         33.989765],
        [34.002956, 34.003532, 33.99969 , ..., 34.008667, 34.004562,
         33.98959 ]],

       ...,

       [[30.701935, 30.707014, 30.69155 , ..., 31.1723  , 30.576485,
         30.834513],
        [30.670694, 30.66664 , 30.663412, ..., 31.132164, 30.553663,
         30.8246  ],
        [30.658201, 30.647789, 30.618004, ..., 31.08534 , 30.53441 ,
         30.830038],
        ...,
        [35.02671 , 35.029514, 35.024593, ..., 35.078434, 34.986317,
         34.774464],
        [35.027878, 35.029636, 35.02833 , ..., 35.070415, 34.980484,
         34.77052 ],
        [35.023666, 35.02525 , 35.026398, ..., 35.06785 , 34.988068,
         34.768192]],

       [[30.543642, 30.525595, 30.55176 , ..., 31.039034, 30.430397,
         30.697123],
        [30.53934 , 30.502464, 30.506742, ..., 31.003212, 30.414566,
         30.688372],
        [30.497835, 30.47625 , 30.482786, ..., 30.960894, 30.397593,
         30.693657],
        ...,
        [35.048077, 35.04863 , 35.04665 , ..., 35.113094, 35.008926,
         34.79197 ],
        [35.046772, 35.04845 , 35.04619 , ..., 35.10893 , 35.00779 ,
         34.792927],
        [35.045788, 35.046833, 35.04582 , ..., 35.104065, 35.005535,
         34.78917 ]],

       [[30.377783, 30.346878, 30.382963, ..., 30.884089, 30.296434,
         30.577478],
        [30.361895, 30.334063, 30.355225, ..., 30.86326 , 30.281393,
         30.55543 ],
        [30.331146, 30.319824, 30.341105, ..., 30.829031, 30.261183,
         30.540129],
        ...,
        [35.070217, 35.06871 , 35.06748 , ..., 35.149   , 35.03084 ,
         34.806736],
        [35.066364, 35.066963, 35.063736, ..., 35.148422, 35.035606,
         34.806774],
        [35.068134, 35.06875 , 35.066914, ..., 35.138695, 35.034035,
         34.801586]]], dtype=float32)
Coordinates:
  * lat      (lat) float32 -69.875 -69.625 -69.375 ... 19.375 19.625 19.875
  * lon      (lon) float32 89.875 90.125 90.375 ... 179.375 179.625 179.875
  * year     (year) int64 1993 1994 1995 1996 1997 ... 2013 2014 2015 2016 2017

In [11]:
latS = -70
latN = 20
lonW = 90-360
lonE = 180-360
ekey='1deg'
expt = exptdata.exptdict[ekey]['expt']
print(expt)

salt_z0_1_mod_month = cc.querying.getvar(expt=expt,
                                     session=session,
                                     ncfile='ocean.nc',
                                     variable='salt').\
sel(yt_ocean=slice(latS,latN)).\
sel(xt_ocean=slice(lonW,lonE)).\
sel(st_ocean=0, method='nearest')
print(salt_z0_1_mod_month)

salt_z0_1_mod_month.load()
print(salt_z0_1_mod_month)

xt_ocean = salt_z0_1_mod_month.xt_ocean
xt_ocean_corrected = xt_ocean + 360
salt_z0_1_mod_month = salt_z0_1_mod_month.assign_coords(xt_ocean=xt_ocean_corrected)
print(salt_z0_1_mod_month)

salt_z0_1_mod = salt_z0_1_mod_month.groupby('time.year').mean('time')
print(salt_z0_1_mod)

# salt_z0_1_mod = salt_z0_1_mod.sel(year=slice(2004+60*4,2017+60*4))
# print(salt_z0_1_mod)

1deg_jra55v13_iaf_spinup1_B1

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/cosima_cookbook/querying.py:96: FutureWarning: In xarray version 0.14 the default behaviour of `open_mfdataset`
will change. To retain the existing behavior, pass
combine='nested'. To use future default behavior, pass
combine='by_coords'. See
http://xarray.pydata.org/en/stable/combining.html#combining-multi

  preprocess=lambda d: d[variable].to_dataset() if variable not in d.coords else d)
/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/xarray/backends/api.py:934: FutureWarning: The datasets supplied have global dimension coordinates. You may want
to use the new `combine_by_coords` function (or the
`combine='by_coords'` option to `open_mfdataset`) to order the datasets
before concatenation. Alternatively, to continue concatenating based
on the order the datasets are supplied in future, please use the new
`combine_nested` function (or the `combine='nested'` option to
open_mfdataset).
  from_openmfds=True,

<xarray.DataArray 'salt' (time: 300, yt_ocean: 160, xt_ocean: 90)>
dask.array<getitem, shape=(300, 160, 90), dtype=float32, chunksize=(1, 124, 90), chunktype=numpy.ndarray>
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.63 -69.18 -68.71 ... 17.85 18.59 19.36
  * xt_ocean  (xt_ocean) float64 -269.5 -268.5 -267.5 ... -182.5 -181.5 -180.5
    st_ocean  float64 1.152
  * time      (time) object 1958-07-02 12:00:00 ... 2257-07-02 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity
<xarray.DataArray 'salt' (time: 300, yt_ocean: 160, xt_ocean: 90)>
array([[[      nan,       nan,       nan, ..., 34.199207, 34.19863 ,
         34.197083],
        [      nan,       nan,       nan, ..., 34.169178, 34.17479 ,
         34.18189 ],
        [      nan,       nan,       nan, ..., 34.125965, 34.136013,
         34.151394],
        ...,
        [32.705128, 32.328346, 31.869198, ..., 35.054634, 35.03803 ,
         35.028797],
        [32.46779 , 32.185555, 31.865389, ..., 35.152256, 35.127644,
         35.11019 ],
        [32.198124, 32.050037, 31.882486, ..., 35.249973, 35.23288 ,
         35.20635 ]],

       [[      nan,       nan,       nan, ..., 34.121433, 34.14334 ,
         34.163406],
        [      nan,       nan,       nan, ..., 34.0329  , 34.06956 ,
         34.108517],
        [      nan,       nan,       nan, ..., 33.956432, 34.005035,
         34.05685 ],
        ...,
        [31.946875, 31.725428, 31.499372, ..., 34.98014 , 34.973473,
         34.966946],
        [31.576395, 31.517977, 31.437153, ..., 35.09215 , 35.08093 ,
         35.068024],
        [31.048748, 31.232008, 31.287544, ..., 35.223244, 35.20756 ,
         35.19145 ]],

       [[      nan,       nan,       nan, ..., 34.171345, 34.166145,
         34.165318],
        [      nan,       nan,       nan, ..., 34.141487, 34.14074 ,
         34.14236 ],
        [      nan,       nan,       nan, ..., 34.12314 , 34.125652,
         34.12686 ],
        ...,
        [31.563698, 31.19789 , 30.963703, ..., 34.868176, 34.859955,
         34.860016],
        [31.162231, 31.070078, 31.013338, ..., 34.979603, 34.968624,
         34.968426],
        [30.705566, 30.877974, 30.943575, ..., 35.124325, 35.112606,
         35.10941 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.231403, 34.22314 ,
         34.216946],
        [      nan,       nan,       nan, ..., 34.19994 , 34.195274,
         34.194366],
        [      nan,       nan,       nan, ..., 34.16503 , 34.16484 ,
         34.167187],
        ...,
        [31.412144, 31.140364, 30.982912, ..., 35.179523, 35.155403,
         35.14174 ],
        [31.027996, 30.914354, 30.886898, ..., 35.295914, 35.276237,
         35.26395 ],
        [30.568134, 30.679966, 30.765406, ..., 35.425156, 35.408203,
         35.397964]],

       [[      nan,       nan,       nan, ..., 34.24115 , 34.226147,
         34.21399 ],
        [      nan,       nan,       nan, ..., 34.222282, 34.21189 ,
         34.206078],
        [      nan,       nan,       nan, ..., 34.19154 , 34.1852  ,
         34.185326],
        ...,
        [31.61083 , 31.1224  , 30.849722, ..., 34.95925 , 34.94478 ,
         34.94018 ],
        [31.2429  , 30.957893, 30.872053, ..., 35.06616 , 35.051506,
         35.04723 ],
        [30.770206, 30.7631  , 30.833818, ..., 35.18554 , 35.174847,
         35.16992 ]],

       [[      nan,       nan,       nan, ..., 34.23908 , 34.234768,
         34.232758],
        [      nan,       nan,       nan, ..., 34.202824, 34.20459 ,
         34.210518],
        [      nan,       nan,       nan, ..., 34.162983, 34.17002 ,
         34.18217 ],
        ...,
        [31.405672, 30.994928, 30.745241, ..., 34.992767, 34.972748,
         34.952206],
        [31.025032, 30.821327, 30.74637 , ..., 35.098507, 35.068077,
         35.043507],
        [30.540867, 30.611498, 30.65993 , ..., 35.221943, 35.182922,
         35.1479  ]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.63 -69.18 -68.71 ... 17.85 18.59 19.36
  * xt_ocean  (xt_ocean) float64 -269.5 -268.5 -267.5 ... -182.5 -181.5 -180.5
    st_ocean  float64 1.152
  * time      (time) object 1958-07-02 12:00:00 ... 2257-07-02 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity
<xarray.DataArray 'salt' (time: 300, yt_ocean: 160, xt_ocean: 90)>
array([[[      nan,       nan,       nan, ..., 34.199207, 34.19863 ,
         34.197083],
        [      nan,       nan,       nan, ..., 34.169178, 34.17479 ,
         34.18189 ],
        [      nan,       nan,       nan, ..., 34.125965, 34.136013,
         34.151394],
        ...,
        [32.705128, 32.328346, 31.869198, ..., 35.054634, 35.03803 ,
         35.028797],
        [32.46779 , 32.185555, 31.865389, ..., 35.152256, 35.127644,
         35.11019 ],
        [32.198124, 32.050037, 31.882486, ..., 35.249973, 35.23288 ,
         35.20635 ]],

       [[      nan,       nan,       nan, ..., 34.121433, 34.14334 ,
         34.163406],
        [      nan,       nan,       nan, ..., 34.0329  , 34.06956 ,
         34.108517],
        [      nan,       nan,       nan, ..., 33.956432, 34.005035,
         34.05685 ],
        ...,
        [31.946875, 31.725428, 31.499372, ..., 34.98014 , 34.973473,
         34.966946],
        [31.576395, 31.517977, 31.437153, ..., 35.09215 , 35.08093 ,
         35.068024],
        [31.048748, 31.232008, 31.287544, ..., 35.223244, 35.20756 ,
         35.19145 ]],

       [[      nan,       nan,       nan, ..., 34.171345, 34.166145,
         34.165318],
        [      nan,       nan,       nan, ..., 34.141487, 34.14074 ,
         34.14236 ],
        [      nan,       nan,       nan, ..., 34.12314 , 34.125652,
         34.12686 ],
        ...,
        [31.563698, 31.19789 , 30.963703, ..., 34.868176, 34.859955,
         34.860016],
        [31.162231, 31.070078, 31.013338, ..., 34.979603, 34.968624,
         34.968426],
        [30.705566, 30.877974, 30.943575, ..., 35.124325, 35.112606,
         35.10941 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.231403, 34.22314 ,
         34.216946],
        [      nan,       nan,       nan, ..., 34.19994 , 34.195274,
         34.194366],
        [      nan,       nan,       nan, ..., 34.16503 , 34.16484 ,
         34.167187],
        ...,
        [31.412144, 31.140364, 30.982912, ..., 35.179523, 35.155403,
         35.14174 ],
        [31.027996, 30.914354, 30.886898, ..., 35.295914, 35.276237,
         35.26395 ],
        [30.568134, 30.679966, 30.765406, ..., 35.425156, 35.408203,
         35.397964]],

       [[      nan,       nan,       nan, ..., 34.24115 , 34.226147,
         34.21399 ],
        [      nan,       nan,       nan, ..., 34.222282, 34.21189 ,
         34.206078],
        [      nan,       nan,       nan, ..., 34.19154 , 34.1852  ,
         34.185326],
        ...,
        [31.61083 , 31.1224  , 30.849722, ..., 34.95925 , 34.94478 ,
         34.94018 ],
        [31.2429  , 30.957893, 30.872053, ..., 35.06616 , 35.051506,
         35.04723 ],
        [30.770206, 30.7631  , 30.833818, ..., 35.18554 , 35.174847,
         35.16992 ]],

       [[      nan,       nan,       nan, ..., 34.23908 , 34.234768,
         34.232758],
        [      nan,       nan,       nan, ..., 34.202824, 34.20459 ,
         34.210518],
        [      nan,       nan,       nan, ..., 34.162983, 34.17002 ,
         34.18217 ],
        ...,
        [31.405672, 30.994928, 30.745241, ..., 34.992767, 34.972748,
         34.952206],
        [31.025032, 30.821327, 30.74637 , ..., 35.098507, 35.068077,
         35.043507],
        [30.540867, 30.611498, 30.65993 , ..., 35.221943, 35.182922,
         35.1479  ]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.63 -69.18 -68.71 ... 17.85 18.59 19.36
  * xt_ocean  (xt_ocean) float64 90.5 91.5 92.5 93.5 ... 176.5 177.5 178.5 179.5
    st_ocean  float64 1.152
  * time      (time) object 1958-07-02 12:00:00 ... 2257-07-02 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity
<xarray.DataArray 'salt' (year: 300, yt_ocean: 160, xt_ocean: 90)>
array([[[      nan,       nan,       nan, ..., 34.199207, 34.19863 ,
         34.197083],
        [      nan,       nan,       nan, ..., 34.169178, 34.17479 ,
         34.18189 ],
        [      nan,       nan,       nan, ..., 34.125965, 34.136013,
         34.151394],
        ...,
        [32.705128, 32.328346, 31.869198, ..., 35.054634, 35.03803 ,
         35.028797],
        [32.46779 , 32.185555, 31.865389, ..., 35.152256, 35.127644,
         35.11019 ],
        [32.198124, 32.050037, 31.882486, ..., 35.249973, 35.23288 ,
         35.20635 ]],

       [[      nan,       nan,       nan, ..., 34.121433, 34.14334 ,
         34.163406],
        [      nan,       nan,       nan, ..., 34.0329  , 34.06956 ,
         34.108517],
        [      nan,       nan,       nan, ..., 33.956432, 34.005035,
         34.05685 ],
        ...,
        [31.946875, 31.725428, 31.499372, ..., 34.98014 , 34.973473,
         34.966946],
        [31.576395, 31.517977, 31.437153, ..., 35.09215 , 35.08093 ,
         35.068024],
        [31.048748, 31.232008, 31.287544, ..., 35.223244, 35.20756 ,
         35.19145 ]],

       [[      nan,       nan,       nan, ..., 34.171345, 34.166145,
         34.165318],
        [      nan,       nan,       nan, ..., 34.141487, 34.14074 ,
         34.14236 ],
        [      nan,       nan,       nan, ..., 34.12314 , 34.125652,
         34.12686 ],
        ...,
        [31.563698, 31.19789 , 30.963703, ..., 34.868176, 34.859955,
         34.860016],
        [31.162231, 31.070078, 31.013338, ..., 34.979603, 34.968624,
         34.968426],
        [30.705566, 30.877974, 30.943575, ..., 35.124325, 35.112606,
         35.10941 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.231403, 34.22314 ,
         34.216946],
        [      nan,       nan,       nan, ..., 34.19994 , 34.195274,
         34.194366],
        [      nan,       nan,       nan, ..., 34.16503 , 34.16484 ,
         34.167187],
        ...,
        [31.412144, 31.140364, 30.982912, ..., 35.179523, 35.155403,
         35.14174 ],
        [31.027996, 30.914354, 30.886898, ..., 35.295914, 35.276237,
         35.26395 ],
        [30.568134, 30.679966, 30.765406, ..., 35.425156, 35.408203,
         35.397964]],

       [[      nan,       nan,       nan, ..., 34.24115 , 34.226147,
         34.21399 ],
        [      nan,       nan,       nan, ..., 34.222282, 34.21189 ,
         34.206078],
        [      nan,       nan,       nan, ..., 34.19154 , 34.1852  ,
         34.185326],
        ...,
        [31.61083 , 31.1224  , 30.849722, ..., 34.95925 , 34.94478 ,
         34.94018 ],
        [31.2429  , 30.957893, 30.872053, ..., 35.06616 , 35.051506,
         35.04723 ],
        [30.770206, 30.7631  , 30.833818, ..., 35.18554 , 35.174847,
         35.16992 ]],

       [[      nan,       nan,       nan, ..., 34.23908 , 34.234768,
         34.232758],
        [      nan,       nan,       nan, ..., 34.202824, 34.20459 ,
         34.210518],
        [      nan,       nan,       nan, ..., 34.162983, 34.17002 ,
         34.18217 ],
        ...,
        [31.405672, 30.994928, 30.745241, ..., 34.992767, 34.972748,
         34.952206],
        [31.025032, 30.821327, 30.74637 , ..., 35.098507, 35.068077,
         35.043507],
        [30.540867, 30.611498, 30.65993 , ..., 35.221943, 35.182922,
         35.1479  ]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.63 -69.18 -68.71 ... 17.85 18.59 19.36
  * xt_ocean  (xt_ocean) float64 90.5 91.5 92.5 93.5 ... 176.5 177.5 178.5 179.5
    st_ocean  float64 1.152
  * year      (year) int64 1958 1959 1960 1961 1962 ... 2253 2254 2255 2256 2257

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/xarray/core/nanops.py:140: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis=axis, dtype=dtype)

In [12]:
latS = -70
latN = 20
lonW = 90-360
lonE = 180-360
ekey='025deg'
expt = exptdata.exptdict[ekey]['expt']
print(expt)

salt_z0_025_mod_month = cc.querying.getvar(expt=expt,
                                     session=session,
                                     ncfile='ocean.nc',
                                     variable='salt').\
sel(yt_ocean=slice(latS,latN)).\
sel(xt_ocean=slice(lonW,lonE)).\
sel(st_ocean=0, method='nearest')
print(salt_z0_025_mod_month)

salt_z0_025_mod_month.load()
print(salt_z0_025_mod_month)

xt_ocean = salt_z0_025_mod_month.xt_ocean
xt_ocean_corrected = xt_ocean + 360
salt_z0_025_mod_month = salt_z0_025_mod_month.assign_coords(xt_ocean=xt_ocean_corrected)
print(salt_z0_025_mod_month)

salt_z0_025_mod = salt_z0_025_mod_month.groupby('time.year').mean('time')
print(salt_z0_025_mod)

025deg_jra55v13_iaf_gmredi6

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/cosima_cookbook/querying.py:96: FutureWarning: In xarray version 0.14 the default behaviour of `open_mfdataset`
will change. To retain the existing behavior, pass
combine='nested'. To use future default behavior, pass
combine='by_coords'. See
http://xarray.pydata.org/en/stable/combining.html#combining-multi

  preprocess=lambda d: d[variable].to_dataset() if variable not in d.coords else d)
/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/xarray/backends/api.py:934: FutureWarning: The datasets supplied have global dimension coordinates. You may want
to use the new `combine_by_coords` function (or the
`combine='by_coords'` option to `open_mfdataset`) to order the datasets
before concatenation. Alternatively, to continue concatenating based
on the order the datasets are supplied in future, please use the new
`combine_nested` function (or the `combine='nested'` option to
open_mfdataset).
  from_openmfds=True,

<xarray.DataArray 'salt' (time: 300, yt_ocean: 475, xt_ocean: 360)>
dask.array<getitem, shape=(300, 475, 360), dtype=float32, chunksize=(1, 216, 248), chunktype=numpy.ndarray>
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.99 -69.88 -69.78 ... 19.49 19.72 19.96
  * xt_ocean  (xt_ocean) float64 -269.9 -269.6 -269.4 ... -180.6 -180.4 -180.1
    st_ocean  float64 1.152
  * time      (time) object 1958-06-30 12:00:00 ... 2257-06-30 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity
<xarray.DataArray 'salt' (time: 300, yt_ocean: 475, xt_ocean: 360)>
array([[[      nan,       nan,       nan, ..., 34.20071 , 34.19745 ,
         34.19361 ],
        [      nan,       nan,       nan, ..., 34.204533, 34.2015  ,
         34.198376],
        [      nan,       nan,       nan, ..., 34.20691 , 34.204037,
         34.20119 ],
        ...,
        [32.685593, 32.66067 , 32.61876 , ..., 35.244755, 35.24083 ,
         35.248047],
        [32.522778, 32.479454, 32.416817, ..., 35.286896, 35.289734,
         35.29425 ],
        [32.36751 , 32.317474, 32.289185, ..., 35.319424, 35.327473,
         35.333202]],

       [[      nan,       nan,       nan, ..., 34.188187, 34.18501 ,
         34.18151 ],
        [      nan,       nan,       nan, ..., 34.187393, 34.18515 ,
         34.183   ],
        [      nan,       nan,       nan, ..., 34.182125, 34.181103,
         34.18059 ],
        ...,
        [31.846912, 31.816566, 31.858057, ..., 35.19076 , 35.187927,
         35.189507],
        [31.64717 , 31.663097, 31.693562, ..., 35.215725, 35.214638,
         35.216972],
        [31.40304 , 31.454897, 31.469704, ..., 35.244915, 35.241745,
         35.240475]],

       [[      nan,       nan,       nan, ..., 34.09348 , 34.089184,
         34.082836],
        [      nan,       nan,       nan, ..., 34.1014  , 34.097836,
         34.092873],
        [      nan,       nan,       nan, ..., 34.102768, 34.099598,
         34.09578 ],
        ...,
        [31.13266 , 31.216919, 31.326128, ..., 35.196453, 35.18695 ,
         35.169674],
        [31.042934, 31.090666, 31.127405, ..., 35.22258 , 35.214466,
         35.196335],
        [30.88699 , 30.944431, 30.970222, ..., 35.25069 , 35.242573,
         35.22993 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.209927, 34.208378,
         34.20861 ],
        [      nan,       nan,       nan, ..., 34.20598 , 34.203876,
         34.20366 ],
        [      nan,       nan,       nan, ..., 34.200245, 34.198265,
         34.198086],
        ...,
        [30.617064, 30.574772, 30.582779, ..., 35.308544, 35.30201 ,
         35.300827],
        [30.411121, 30.381226, 30.404755, ..., 35.350048, 35.346485,
         35.34679 ],
        [30.233898, 30.272306, 30.298374, ..., 35.386806, 35.38439 ,
         35.38466 ]],

       [[      nan,       nan,       nan, ..., 34.181404, 34.181095,
         34.179096],
        [      nan,       nan,       nan, ..., 34.18618 , 34.185463,
         34.18392 ],
        [      nan,       nan,       nan, ..., 34.18764 , 34.186558,
         34.185566],
        ...,
        [31.002993, 30.934591, 30.904413, ..., 35.151733, 35.14903 ,
         35.14586 ],
        [30.710386, 30.700182, 30.709763, ..., 35.18227 , 35.185936,
         35.186825],
        [30.462017, 30.520716, 30.534819, ..., 35.213657, 35.221783,
         35.22942 ]],

       [[      nan,       nan,       nan, ..., 34.19719 , 34.195107,
         34.19308 ],
        [      nan,       nan,       nan, ..., 34.195515, 34.193916,
         34.19297 ],
        [      nan,       nan,       nan, ..., 34.191128, 34.189808,
         34.189545],
        ...,
        [30.85732 , 30.943888, 31.034296, ..., 35.11663 , 35.122807,
         35.12699 ],
        [30.763607, 30.857536, 30.876556, ..., 35.144665, 35.151722,
         35.159203],
        [30.66527 , 30.702826, 30.658787, ..., 35.1612  , 35.169247,
         35.179493]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.99 -69.88 -69.78 ... 19.49 19.72 19.96
  * xt_ocean  (xt_ocean) float64 -269.9 -269.6 -269.4 ... -180.6 -180.4 -180.1
    st_ocean  float64 1.152
  * time      (time) object 1958-06-30 12:00:00 ... 2257-06-30 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity
<xarray.DataArray 'salt' (time: 300, yt_ocean: 475, xt_ocean: 360)>
array([[[      nan,       nan,       nan, ..., 34.20071 , 34.19745 ,
         34.19361 ],
        [      nan,       nan,       nan, ..., 34.204533, 34.2015  ,
         34.198376],
        [      nan,       nan,       nan, ..., 34.20691 , 34.204037,
         34.20119 ],
        ...,
        [32.685593, 32.66067 , 32.61876 , ..., 35.244755, 35.24083 ,
         35.248047],
        [32.522778, 32.479454, 32.416817, ..., 35.286896, 35.289734,
         35.29425 ],
        [32.36751 , 32.317474, 32.289185, ..., 35.319424, 35.327473,
         35.333202]],

       [[      nan,       nan,       nan, ..., 34.188187, 34.18501 ,
         34.18151 ],
        [      nan,       nan,       nan, ..., 34.187393, 34.18515 ,
         34.183   ],
        [      nan,       nan,       nan, ..., 34.182125, 34.181103,
         34.18059 ],
        ...,
        [31.846912, 31.816566, 31.858057, ..., 35.19076 , 35.187927,
         35.189507],
        [31.64717 , 31.663097, 31.693562, ..., 35.215725, 35.214638,
         35.216972],
        [31.40304 , 31.454897, 31.469704, ..., 35.244915, 35.241745,
         35.240475]],

       [[      nan,       nan,       nan, ..., 34.09348 , 34.089184,
         34.082836],
        [      nan,       nan,       nan, ..., 34.1014  , 34.097836,
         34.092873],
        [      nan,       nan,       nan, ..., 34.102768, 34.099598,
         34.09578 ],
        ...,
        [31.13266 , 31.216919, 31.326128, ..., 35.196453, 35.18695 ,
         35.169674],
        [31.042934, 31.090666, 31.127405, ..., 35.22258 , 35.214466,
         35.196335],
        [30.88699 , 30.944431, 30.970222, ..., 35.25069 , 35.242573,
         35.22993 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.209927, 34.208378,
         34.20861 ],
        [      nan,       nan,       nan, ..., 34.20598 , 34.203876,
         34.20366 ],
        [      nan,       nan,       nan, ..., 34.200245, 34.198265,
         34.198086],
        ...,
        [30.617064, 30.574772, 30.582779, ..., 35.308544, 35.30201 ,
         35.300827],
        [30.411121, 30.381226, 30.404755, ..., 35.350048, 35.346485,
         35.34679 ],
        [30.233898, 30.272306, 30.298374, ..., 35.386806, 35.38439 ,
         35.38466 ]],

       [[      nan,       nan,       nan, ..., 34.181404, 34.181095,
         34.179096],
        [      nan,       nan,       nan, ..., 34.18618 , 34.185463,
         34.18392 ],
        [      nan,       nan,       nan, ..., 34.18764 , 34.186558,
         34.185566],
        ...,
        [31.002993, 30.934591, 30.904413, ..., 35.151733, 35.14903 ,
         35.14586 ],
        [30.710386, 30.700182, 30.709763, ..., 35.18227 , 35.185936,
         35.186825],
        [30.462017, 30.520716, 30.534819, ..., 35.213657, 35.221783,
         35.22942 ]],

       [[      nan,       nan,       nan, ..., 34.19719 , 34.195107,
         34.19308 ],
        [      nan,       nan,       nan, ..., 34.195515, 34.193916,
         34.19297 ],
        [      nan,       nan,       nan, ..., 34.191128, 34.189808,
         34.189545],
        ...,
        [30.85732 , 30.943888, 31.034296, ..., 35.11663 , 35.122807,
         35.12699 ],
        [30.763607, 30.857536, 30.876556, ..., 35.144665, 35.151722,
         35.159203],
        [30.66527 , 30.702826, 30.658787, ..., 35.1612  , 35.169247,
         35.179493]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.99 -69.88 -69.78 ... 19.49 19.72 19.96
  * xt_ocean  (xt_ocean) float64 90.12 90.38 90.62 90.88 ... 179.4 179.6 179.9
    st_ocean  float64 1.152
  * time      (time) object 1958-06-30 12:00:00 ... 2257-06-30 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/xarray/core/nanops.py:140: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis=axis, dtype=dtype)

<xarray.DataArray 'salt' (year: 300, yt_ocean: 475, xt_ocean: 360)>
array([[[      nan,       nan,       nan, ..., 34.20071 , 34.19745 ,
         34.19361 ],
        [      nan,       nan,       nan, ..., 34.204533, 34.2015  ,
         34.198376],
        [      nan,       nan,       nan, ..., 34.20691 , 34.204037,
         34.20119 ],
        ...,
        [32.685593, 32.66067 , 32.61876 , ..., 35.244755, 35.24083 ,
         35.248047],
        [32.522778, 32.479454, 32.416817, ..., 35.286896, 35.289734,
         35.29425 ],
        [32.36751 , 32.317474, 32.289185, ..., 35.319424, 35.327473,
         35.333202]],

       [[      nan,       nan,       nan, ..., 34.188187, 34.18501 ,
         34.18151 ],
        [      nan,       nan,       nan, ..., 34.187393, 34.18515 ,
         34.183   ],
        [      nan,       nan,       nan, ..., 34.182125, 34.181103,
         34.18059 ],
        ...,
        [31.846912, 31.816566, 31.858057, ..., 35.19076 , 35.187927,
         35.189507],
        [31.64717 , 31.663097, 31.693562, ..., 35.215725, 35.214638,
         35.216972],
        [31.40304 , 31.454897, 31.469704, ..., 35.244915, 35.241745,
         35.240475]],

       [[      nan,       nan,       nan, ..., 34.09348 , 34.089184,
         34.082836],
        [      nan,       nan,       nan, ..., 34.1014  , 34.097836,
         34.092873],
        [      nan,       nan,       nan, ..., 34.102768, 34.099598,
         34.09578 ],
        ...,
        [31.13266 , 31.216919, 31.326128, ..., 35.196453, 35.18695 ,
         35.169674],
        [31.042934, 31.090666, 31.127405, ..., 35.22258 , 35.214466,
         35.196335],
        [30.88699 , 30.944431, 30.970222, ..., 35.25069 , 35.242573,
         35.22993 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.209927, 34.208378,
         34.20861 ],
        [      nan,       nan,       nan, ..., 34.20598 , 34.203876,
         34.20366 ],
        [      nan,       nan,       nan, ..., 34.200245, 34.198265,
         34.198086],
        ...,
        [30.617064, 30.574772, 30.582779, ..., 35.308544, 35.30201 ,
         35.300827],
        [30.411121, 30.381226, 30.404755, ..., 35.350048, 35.346485,
         35.34679 ],
        [30.233898, 30.272306, 30.298374, ..., 35.386806, 35.38439 ,
         35.38466 ]],

       [[      nan,       nan,       nan, ..., 34.181404, 34.181095,
         34.179096],
        [      nan,       nan,       nan, ..., 34.18618 , 34.185463,
         34.18392 ],
        [      nan,       nan,       nan, ..., 34.18764 , 34.186558,
         34.185566],
        ...,
        [31.002993, 30.934591, 30.904413, ..., 35.151733, 35.14903 ,
         35.14586 ],
        [30.710386, 30.700182, 30.709763, ..., 35.18227 , 35.185936,
         35.186825],
        [30.462017, 30.520716, 30.534819, ..., 35.213657, 35.221783,
         35.22942 ]],

       [[      nan,       nan,       nan, ..., 34.19719 , 34.195107,
         34.19308 ],
        [      nan,       nan,       nan, ..., 34.195515, 34.193916,
         34.19297 ],
        [      nan,       nan,       nan, ..., 34.191128, 34.189808,
         34.189545],
        ...,
        [30.85732 , 30.943888, 31.034296, ..., 35.11663 , 35.122807,
         35.12699 ],
        [30.763607, 30.857536, 30.876556, ..., 35.144665, 35.151722,
         35.159203],
        [30.66527 , 30.702826, 30.658787, ..., 35.1612  , 35.169247,
         35.179493]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -69.99 -69.88 -69.78 ... 19.49 19.72 19.96
  * xt_ocean  (xt_ocean) float64 90.12 90.38 90.62 90.88 ... 179.4 179.6 179.9
    st_ocean  float64 1.152
  * year      (year) int64 1958 1959 1960 1961 1962 ... 2253 2254 2255 2256 2257

In [13]:
latS = -70
latN = 20
lonW = 90-360
lonE = 180-360
ekey='01deg'
expt = exptdata.exptdict[ekey]['expt']
print(expt)

salt_z0_01_mod_month = cc.querying.getvar(expt=expt,
                                     session=session,
                                     ncfile='ocean.nc',
                                     variable='salt').\
sel(yt_ocean=slice(latS,latN)).\
sel(xt_ocean=slice(lonW,lonE)).\
sel(st_ocean=0, method='nearest')
print(salt_z0_01_mod_month)

salt_z0_01_mod_month.load()
print(salt_z0_01_mod_month)

xt_ocean = salt_z0_01_mod_month.xt_ocean
xt_ocean_corrected = xt_ocean + 360
salt_z0_01_mod_month = salt_z0_01_mod_month.assign_coords(xt_ocean=xt_ocean_corrected)
print(salt_z0_01_mod_month)

salt_z0_01_mod = salt_z0_01_mod_month.groupby('time.year').mean('time')
print(salt_z0_01_mod)

01deg_jra55v13_iaf

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/cosima_cookbook/querying.py:96: FutureWarning: In xarray version 0.14 the default behaviour of `open_mfdataset`
will change. To retain the existing behavior, pass
combine='nested'. To use future default behavior, pass
combine='by_coords'. See
http://xarray.pydata.org/en/stable/combining.html#combining-multi

  preprocess=lambda d: d[variable].to_dataset() if variable not in d.coords else d)
/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/xarray/backends/api.py:934: FutureWarning: The datasets supplied have global dimension coordinates. You may want
to use the new `combine_by_coords` function (or the
`combine='by_coords'` option to `open_mfdataset`) to order the datasets
before concatenation. Alternatively, to continue concatenating based
on the order the datasets are supplied in future, please use the new
`combine_nested` function (or the `combine='nested'` option to
open_mfdataset).
  from_openmfds=True,

<xarray.DataArray 'salt' (time: 396, yt_ocean: 1186, xt_ocean: 900)>
dask.array<getitem, shape=(396, 1186, 900), dtype=float32, chunksize=(1, 300, 400), chunktype=numpy.ndarray>
Coordinates:
  * yt_ocean  (yt_ocean) float64 -70.0 -69.96 -69.92 ... 19.75 19.84 19.94
  * xt_ocean  (xt_ocean) float64 -269.9 -269.8 -269.7 ... -180.2 -180.1 -180.0
    st_ocean  float64 0.5413
  * time      (time) object 1985-01-14 12:00:00 ... 2017-12-14 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity
<xarray.DataArray 'salt' (time: 396, yt_ocean: 1186, xt_ocean: 900)>
array([[[      nan,       nan,       nan, ..., 33.57218 , 33.57268 ,
         33.573517],
        [      nan,       nan,       nan, ..., 33.5636  , 33.563988,
         33.564816],
        [      nan,       nan,       nan, ..., 33.55928 , 33.559772,
         33.560196],
        ...,
        [31.241438, 31.131413, 31.008892, ..., 35.262672, 35.260788,
         35.256485],
        [30.822023, 30.730232, 30.621979, ..., 35.26382 , 35.26089 ,
         35.255928],
        [30.341875, 30.215801, 30.112333, ..., 35.264957, 35.25891 ,
         35.252037]],

       [[      nan,       nan,       nan, ..., 33.432873, 33.427055,
         33.4264  ],
        [      nan,       nan,       nan, ..., 33.41561 , 33.41262 ,
         33.413307],
        [      nan,       nan,       nan, ..., 33.400528, 33.400463,
         33.401   ],
        ...,
        [27.694464, 27.462692, 27.263107, ..., 35.243027, 35.230076,
         35.182175],
        [27.657692, 27.504976, 27.3331  , ..., 35.255062, 35.2477  ,
         35.208393],
        [27.645462, 27.490519, 27.331537, ..., 35.266544, 35.259888,
         35.232998]],

       [[      nan,       nan,       nan, ..., 33.780167, 33.779938,
         33.774765],
        [      nan,       nan,       nan, ..., 33.77347 , 33.7766  ,
         33.775787],
        [      nan,       nan,       nan, ..., 33.764397, 33.76867 ,
         33.770584],
        ...,
        [31.241592, 31.232546, 31.181244, ..., 35.179783, 35.173374,
         35.168343],
        [31.268284, 31.25727 , 31.091822, ..., 35.19399 , 35.188988,
         35.183575],
        [31.345896, 31.2825  , 31.014935, ..., 35.21081 , 35.204662,
         35.19929 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.336372, 34.33525 ,
         34.334297],
        [      nan,       nan,       nan, ..., 34.33767 , 34.33654 ,
         34.335583],
        [      nan,       nan,       nan, ..., 34.339615, 34.33848 ,
         34.337383],
        ...,
        [25.913626, 26.243649, 26.498745, ..., 35.19991 , 35.19805 ,
         35.194885],
        [25.791166, 26.172161, 26.466393, ..., 35.19816 , 35.196327,
         35.19365 ],
        [25.571556, 25.981071, 26.36589 , ..., 35.20023 , 35.197926,
         35.195393]],

       [[      nan,       nan,       nan, ..., 34.336952, 34.337826,
         34.338676],
        [      nan,       nan,       nan, ..., 34.336575, 34.337395,
         34.338295],
        [      nan,       nan,       nan, ..., 34.334988, 34.33571 ,
         34.33656 ],
        ...,
        [30.657646, 30.66835 , 30.671852, ..., 35.19821 , 35.204597,
         35.202168],
        [30.59818 , 30.606728, 30.625216, ..., 35.204563, 35.211998,
         35.210415],
        [30.58615 , 30.607439, 30.629498, ..., 35.211685, 35.21884 ,
         35.217796]],

       [[      nan,       nan,       nan, ..., 34.06324 , 34.063778,
         34.06426 ],
        [      nan,       nan,       nan, ..., 34.068516, 34.06875 ,
         34.068874],
        [      nan,       nan,       nan, ..., 34.072487, 34.07319 ,
         34.0733  ],
        ...,
        [30.865475, 30.791681, 30.7317  , ..., 34.87463 , 34.888786,
         34.906185],
        [30.674591, 30.606113, 30.545141, ..., 34.863632, 34.877975,
         34.90188 ],
        [30.498817, 30.432907, 30.371378, ..., 34.85932 , 34.87606 ,
         34.901188]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -70.0 -69.96 -69.92 ... 19.75 19.84 19.94
  * xt_ocean  (xt_ocean) float64 -269.9 -269.8 -269.7 ... -180.2 -180.1 -180.0
    st_ocean  float64 0.5413
  * time      (time) object 1985-01-14 12:00:00 ... 2017-12-14 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity
<xarray.DataArray 'salt' (time: 396, yt_ocean: 1186, xt_ocean: 900)>
array([[[      nan,       nan,       nan, ..., 33.57218 , 33.57268 ,
         33.573517],
        [      nan,       nan,       nan, ..., 33.5636  , 33.563988,
         33.564816],
        [      nan,       nan,       nan, ..., 33.55928 , 33.559772,
         33.560196],
        ...,
        [31.241438, 31.131413, 31.008892, ..., 35.262672, 35.260788,
         35.256485],
        [30.822023, 30.730232, 30.621979, ..., 35.26382 , 35.26089 ,
         35.255928],
        [30.341875, 30.215801, 30.112333, ..., 35.264957, 35.25891 ,
         35.252037]],

       [[      nan,       nan,       nan, ..., 33.432873, 33.427055,
         33.4264  ],
        [      nan,       nan,       nan, ..., 33.41561 , 33.41262 ,
         33.413307],
        [      nan,       nan,       nan, ..., 33.400528, 33.400463,
         33.401   ],
        ...,
        [27.694464, 27.462692, 27.263107, ..., 35.243027, 35.230076,
         35.182175],
        [27.657692, 27.504976, 27.3331  , ..., 35.255062, 35.2477  ,
         35.208393],
        [27.645462, 27.490519, 27.331537, ..., 35.266544, 35.259888,
         35.232998]],

       [[      nan,       nan,       nan, ..., 33.780167, 33.779938,
         33.774765],
        [      nan,       nan,       nan, ..., 33.77347 , 33.7766  ,
         33.775787],
        [      nan,       nan,       nan, ..., 33.764397, 33.76867 ,
         33.770584],
        ...,
        [31.241592, 31.232546, 31.181244, ..., 35.179783, 35.173374,
         35.168343],
        [31.268284, 31.25727 , 31.091822, ..., 35.19399 , 35.188988,
         35.183575],
        [31.345896, 31.2825  , 31.014935, ..., 35.21081 , 35.204662,
         35.19929 ]],

       ...,

       [[      nan,       nan,       nan, ..., 34.336372, 34.33525 ,
         34.334297],
        [      nan,       nan,       nan, ..., 34.33767 , 34.33654 ,
         34.335583],
        [      nan,       nan,       nan, ..., 34.339615, 34.33848 ,
         34.337383],
        ...,
        [25.913626, 26.243649, 26.498745, ..., 35.19991 , 35.19805 ,
         35.194885],
        [25.791166, 26.172161, 26.466393, ..., 35.19816 , 35.196327,
         35.19365 ],
        [25.571556, 25.981071, 26.36589 , ..., 35.20023 , 35.197926,
         35.195393]],

       [[      nan,       nan,       nan, ..., 34.336952, 34.337826,
         34.338676],
        [      nan,       nan,       nan, ..., 34.336575, 34.337395,
         34.338295],
        [      nan,       nan,       nan, ..., 34.334988, 34.33571 ,
         34.33656 ],
        ...,
        [30.657646, 30.66835 , 30.671852, ..., 35.19821 , 35.204597,
         35.202168],
        [30.59818 , 30.606728, 30.625216, ..., 35.204563, 35.211998,
         35.210415],
        [30.58615 , 30.607439, 30.629498, ..., 35.211685, 35.21884 ,
         35.217796]],

       [[      nan,       nan,       nan, ..., 34.06324 , 34.063778,
         34.06426 ],
        [      nan,       nan,       nan, ..., 34.068516, 34.06875 ,
         34.068874],
        [      nan,       nan,       nan, ..., 34.072487, 34.07319 ,
         34.0733  ],
        ...,
        [30.865475, 30.791681, 30.7317  , ..., 34.87463 , 34.888786,
         34.906185],
        [30.674591, 30.606113, 30.545141, ..., 34.863632, 34.877975,
         34.90188 ],
        [30.498817, 30.432907, 30.371378, ..., 34.85932 , 34.87606 ,
         34.901188]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -70.0 -69.96 -69.92 ... 19.75 19.84 19.94
  * xt_ocean  (xt_ocean) float64 90.05 90.15 90.25 90.35 ... 179.8 179.9 180.0
    st_ocean  float64 0.5413
  * time      (time) object 1985-01-14 12:00:00 ... 2017-12-14 12:00:00
Attributes:
    long_name:      Practical Salinity
    units:          psu
    valid_range:    [-10. 100.]
    cell_methods:   time: mean
    time_avg_info:  average_T1,average_T2,average_DT
    coordinates:    geolon_t geolat_t
    standard_name:  sea_water_salinity

/g/data3/hh5/public/apps/miniconda3/envs/analysis3-19.07/lib/python3.6/site-packages/xarray/core/nanops.py:140: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis=axis, dtype=dtype)

<xarray.DataArray 'salt' (year: 33, yt_ocean: 1186, xt_ocean: 900)>
array([[[      nan,       nan,       nan, ..., 34.090267, 34.09027 ,
         34.089565],
        [      nan,       nan,       nan, ..., 34.089455, 34.089706,
         34.089878],
        [      nan,       nan,       nan, ..., 34.089848, 34.0899  ,
         34.089848],
        ...,
        [30.968485, 30.958977, 30.944174, ..., 35.159046, 35.16403 ,
         35.166637],
        [30.939566, 30.944902, 30.922766, ..., 35.16789 , 35.17296 ,
         35.177006],
        [30.904493, 30.900915, 30.861069, ..., 35.176414, 35.180866,
         35.185413]],

       [[      nan,       nan,       nan, ..., 34.0553  , 34.05469 ,
         34.05377 ],
        [      nan,       nan,       nan, ..., 34.05499 , 34.05455 ,
         34.05389 ],
        [      nan,       nan,       nan, ..., 34.05525 , 34.054295,
         34.05349 ],
        ...,
        [30.572237, 30.55665 , 30.585562, ..., 35.17336 , 35.174007,
         35.17507 ],
        [30.339989, 30.317818, 30.33288 , ..., 35.1816  , 35.18039 ,
         35.18159 ],
        [30.091063, 30.066778, 30.085196, ..., 35.192646, 35.190235,
         35.19015 ]],

       [[      nan,       nan,       nan, ..., 34.096066, 34.09589 ,
         34.095867],
        [      nan,       nan,       nan, ..., 34.095875, 34.095577,
         34.09513 ],
        [      nan,       nan,       nan, ..., 34.095695, 34.095337,
         34.094387],
        ...,
        [30.229395, 30.128511, 30.089529, ..., 35.264423, 35.266483,
         35.268314],
        [30.020445, 29.93175 , 29.899237, ..., 35.269276, 35.272427,
         35.274433],
        [29.819826, 29.715652, 29.660957, ..., 35.274982, 35.279232,
         35.282955]],

       ...,

       [[      nan,       nan,       nan, ..., 34.06072 , 34.06118 ,
         34.061756],
        [      nan,       nan,       nan, ..., 34.061047, 34.0613  ,
         34.061546],
        [      nan,       nan,       nan, ..., 34.06211 , 34.06216 ,
         34.062145],
        ...,
        [31.06125 , 31.027771, 30.969826, ..., 35.155586, 35.155014,
         35.15242 ],
        [30.90593 , 30.876986, 30.820093, ..., 35.165546, 35.163036,
         35.159   ],
        [30.73549 , 30.715723, 30.656816, ..., 35.169987, 35.163517,
         35.158222]],

       [[      nan,       nan,       nan, ..., 34.00391 , 34.00317 ,
         34.003468],
        [      nan,       nan,       nan, ..., 34.008144, 34.00716 ,
         34.00631 ],
        [      nan,       nan,       nan, ..., 34.01271 , 34.01239 ,
         34.011314],
        ...,
        [30.881414, 30.832426, 30.774782, ..., 35.064617, 35.052174,
         35.036556],
        [30.805132, 30.753822, 30.684328, ..., 35.082867, 35.07194 ,
         35.055508],
        [30.679703, 30.60658 , 30.50708 , ..., 35.099766, 35.090473,
         35.077   ]],

       [[      nan,       nan,       nan, ..., 34.13238 , 34.13043 ,
         34.129158],
        [      nan,       nan,       nan, ..., 34.132977, 34.131367,
         34.130352],
        [      nan,       nan,       nan, ..., 34.134827, 34.133465,
         34.131786],
        ...,
        [29.756277, 29.770477, 29.7874  , ..., 34.962463, 34.95692 ,
         34.952263],
        [29.55764 , 29.58787 , 29.60171 , ..., 34.970093, 34.96663 ,
         34.96353 ],
        [29.341719, 29.369919, 29.39173 , ..., 34.9751  , 34.975143,
         34.974537]]], dtype=float32)
Coordinates:
  * yt_ocean  (yt_ocean) float64 -70.0 -69.96 -69.92 ... 19.75 19.84 19.94
  * xt_ocean  (xt_ocean) float64 90.05 90.15 90.25 90.35 ... 179.8 179.9 180.0
    st_ocean  float64 0.5413
  * year      (year) int64 1985 1986 1987 1988 1989 ... 2013 2014 2015 2016 2017

In [14]:
salt_z0_1_mod_xr = xr.DataArray(salt_z0_1_mod.transpose('yt_ocean', 'xt_ocean', 'year'), name='salt_z0_1_mod',
                        coords=[salt_z0_1_mod.yt_ocean, salt_z0_1_mod.xt_ocean, salt_z0_1_mod.year], 
                        dims=['yt_ocean', 'xt_ocean', 'year'])
salt_z0_1_mod_xr.to_netcdf(output_path + 'salt_z0_1_mod.nc')


salt_z0_025_mod_xr = xr.DataArray(salt_z0_025_mod.transpose('yt_ocean', 'xt_ocean', 'year'), name='salt_z0_025_mod',
                        coords=[salt_z0_025_mod.yt_ocean, salt_z0_025_mod.xt_ocean, salt_z0_025_mod.year], 
                        dims=['yt_ocean', 'xt_ocean', 'year'])
salt_z0_025_mod_xr.to_netcdf(output_path + 'salt_z0_025_mod.nc')


salt_z0_01_mod_xr = xr.DataArray(salt_z0_01_mod.transpose('yt_ocean', 'xt_ocean', 'year'), name='salt_z0_01_mod',
                        coords=[salt_z0_01_mod.yt_ocean, salt_z0_01_mod.xt_ocean, salt_z0_01_mod.year], 
                        dims=['yt_ocean', 'xt_ocean', 'year'])
salt_z0_01_mod_xr.to_netcdf(output_path + 'salt_z0_01_mod.nc')